<!DOCTYPE html>
<html>
<head>
    <title>About US</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/aboutus.css">
    <link rel="stylesheet" href="/stylesheets/standards.css">

    <script type="text/javascript">


        function handleOpenClose(evt, openCloseAction) {
            // Declare all variables
            var i, divcontent, tablinks,buttoncolor;

            // Get all elements with class="tabcontent" and hide them
            divcontent = document.getElementsByClassName("test");
            buttoncolor=document.getElementsByClassName('tablink');

            //document.getElementById(button).style.backgroundColor = "#0f8ad3";
            for (i = 0; i < divcontent.length; i++) {
                divcontent[i].style.display = "none";
            }
            document.getElementById(openCloseAction).style.display = "block";


//            var manageElement = document.getElementById(openCloseAction);
//            manageElement.style.display = (manageElement.style.display == "none") ? "block" : "none";
        }
        function changecolor(evt,tab) {
            var tabname = document.getElementById(tab);
            if(tabname.id==='tab1'){
                document.getElementById('tab1').style.backgroundColor = "#0f8ad3";
                document.getElementById('tab2').style.backgroundColor = "#0A416B"
                document.getElementById('tab3').style.backgroundColor = "#0A416B";
            }else if(tabname.id==='tab2'){
                document.getElementById('tab1').style.backgroundColor = "#0A416B";
                document.getElementById('tab2').style.backgroundColor = "#0f8ad3"
                document.getElementById('tab3').style.backgroundColor = "#0A416B";
            }else if(tabname.id==='tab3'){
                document.getElementById('tab1').style.backgroundColor = "#0A416B";
                document.getElementById('tab2').style.backgroundColor = "#0A416B"
                document.getElementById('tab3').style.backgroundColor = "#0f8ad3";
            }
        }
        function setdiv() {
            document.getElementById('diva').style.display = "block";
            document.getElementById('tab1').style.backgroundColor = "#0f8ad3";
        }
    </script>


</head>
<body bgcolor="white" marginheight="100%" onload="setdiv();">
<!--Header Navigation Bar Starts-->
<div class="std-header">
    <% include template/navigationBar.ejs %>
</div>
<!--Header NAvigation Bar Ends-->
<div class="std-top-row clear">
    <!--Fist Row Starts-->
    <div class="std-section-bleed">
        <div class="aboutus-head-image" style="background-image: url('../images/aboutus/aboutus-banner.png')";>
        </div>
    </div>
     <!--First Row Ends-->
     <!--Second Row Begins-->
     <div class="std-col-12 std-col-t-12">
        <div class="std-col-4  std-col-t-4 tab" id="tab1" onclick="changecolor(event,'tab1');">
            <button class="tablink" onclick="handleOpenClose(event,'diva');" id="button1">
                Our Story
            </button>
        </div>
        <div class="std-col-4 std-col-t-4 tab" id="tab2" onclick="changecolor(event,'tab2')">
            <button class="tablink" onclick="handleOpenClose(event,'divb');" id="button2" >
                Our Mission
            </button>
        </div>
        <div class="std-col-4 std-col-t-4 tab" id="tab3" onclick="changecolor(event,'tab3')">
            <button class="tablink" onclick="handleOpenClose(event,'divc');" id="button3">
                What we do
            </button>
        </div>
    </div>
    <!--Second Row Ends-->
    <!--Third Row Starts-->
    <div class="std-col-12 std-col-t-12 diva test" style="align-content: inherit" id="diva">
        <div class="std-col-6 std-col-t-6">
            <div class="std-curved-box" style="background-color: #3E5C9A">
                <p class="paragraph">
                    We are a group of Motivated Professionals who are somewhere connected to this beautiful city of Aligarh.
                    This city has given all of us a lot, fulfilled lot of our dreams. We have seen how a small town Aligarh has grown up to a Big City now.
                    Earlier this city was known for mostly two things - Aligarh Muslim University and Aligarh Locks. But Now, Aligarh is recognized
                    for more - its Hardware Industry has grown big, we are going to be a SMART City Soon, Beautiful Attractions like Mangalayatan,
                    Shopping Complexes, Good Schoool's, Universities and many more. <br><br>
                    Thinking about this Beautiful city, its time for all of us to payback, and we thought to work towards the initiative of "DIGITAL INDIA"
                    and came up with an Idea of bringing our Aligarh family a Bit closure "digitally", and here we are with our small dream "ALIGARH - CITY".
                </p>
                <p class="signature">The ALIGARH-CITY TEAM</p>

            </div>
        </div>
        <div class="std-col-6 std-col-t-6">
            <div>
                <img src="/images/aboutus/icon_team.gif" class="image"/>
            </div>
        </div>
    </div>
    <!--Third Row Ends-->
    <!--Third Row Starts-->
    <div class="std-col-12 std-col-t-12 divb test" style="align-content: inherit" id="divb">
        <div class="std-col-6 std-col-t-6">
            <div class="std-curved-box" style="background-color: #3E5C9A">
                <p class="paragraph">
                   Our Mission is our Pledge !! <br><br>
                    We treat our customers as our own family. We want to help them grow in their businesses by providing the best of industry in
                    online and offline market. Customer is always our priority.
                </p>
                <p class="signature">The ALIGARH-CITY TEAM</p>
            </div>
        </div>
        <div class="std-col-6 std-col-t-6">
            <div>
                <img src="/images/aboutus/target-gif.gif" class="image"/>
            </div>
        </div>
    </div>
    <!--Third Row Ends-->
    <!--Third Row Starts-->
    <div class="std-col-12 std-col-t-12 divc test" style="align-content: inherit" id="divc">
        <div class="std-col-6 std-col-t-6">
            <div class="std-curved-box" style="background-color: #3E5C9A">
                <p class="paragraph">
                    We are exceptional in:<br><br>
                    1. Advertising<br>
                    2. Consulting<br>
                    3. Online Sales<br>
                    4. Mobile Services<br>
                    5. Events Marketing<br>
                    6. Social Activities<br>
                    7. Photography<br>
                    8. Videos
                </p>
                <p class="signature">More to come - Stay Tuned</p>

            </div>
        </div>
        <div class="std-col-6 std-col-t-6">
            <div>
                <img src="/images/aboutus/services.gif" class="image"/>
            </div>
        </div>
    </div>
    <!--Third Row Ends-->
    <!-- Footer -->
    <div class=" std-section-bleed ">
        <% include template/footer.ejs %>
    </div>
</div>
</body>
</html>