<!DOCTYPE html>
<html>
<head>
    <title>About Aligrh</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/contactus.css">
    <link rel="stylesheet" href="/stylesheets/standards.css">
</head>
<body bgcolor="white" marginheight="100%" >
<!--Header Navigation Bar Starts-->
<div class="std-header">
    <% include template/navigationBar.ejs %>
</div>
<!--Header NAvigation Bar Ends-->
<div class="std-top-row clear">
    <div class="std-col-12 std-col-t-12" style="align-content: inherit" id="diva">
        <div class="std-col-6 std-col-t-6" style="background-color: #3E5C9A; border-radius: 10%">
            <div style="height: 500px;">
                <h1 style="color: white">Aligarh City:<br></h1>
                <p style="color: white">
                    Aligarh is a city in the Northern Indian state of Uttar Pradesh
                    that is famous for lock industries and the administrative headquarters of the Aligarh district.
                    Notable as the seat of Aligarh Muslim University, Aligarh is one of the largest cities in Uttar
                    Pradesh,
                    and is the 55th largest city in India.
                </p>
                <p style="color: white">
                    Aligarh has several popular landmarks. Most notable few of them are Aligarh fort, Another one is
                    Khereshwar Temple which is the Birth Place of Swami Shri HARIDAS JI, Teerthdham Mangalayatan Mandir
                    and Dor fortress (1524), which is now in ruins, lies at the city's centre; its site is in the area
                    now called Upper Fort (Balai Qila) and is occupied by an 18th-century mosque. The area Shah Jamal is
                    very famous for a Sufi Saint Hazrat Syed Shah Jamal also known as Shamsul Arifeen, of whom the tomb
                    is located at Shahjamal area and surrounded by a Graveyard and because of this famous personality
                    the area got its name. The Sufi Saint is mentioned by Ibne Batuta in his book Travels of Ibne
                    Batuta. The saint is said to be of Sufi Chishtiya order.
                    The Annual Cultural Exhibition, popularly known as Numaish, is held at the exhibition ground in
                    January and February.The Land Numaish Ground donated By Nawab Rehmat Ullah Khan Sherwani, The
                    cultural shows takes place at 3 grand stages (Kohinoor, Krishnanjali, Muktakash). In all more than
                    150 stage events featuring artist from across the India takes place during a period of 28 days. In
                    2015, for the first time the major cultural programs of Numaish was managed by an Aligarh-based firm
                    SAC Entertainment at Kohinoor stage.
                </p>
                <p style="color: white">
                    Aligarh Muslim University:
                    Aligarh Muslim University (AMU) is one of the oldest central university. It was established by Sir
                    Syed Ahmed Khan as Madrasatul Uloom Musalmanan-e-Hind, In 1875–78 which later became Mohammedan
                    Anglo-Oriental College (MAO College). It was designed to train Muslims for government services in
                    India and prepare them for advanced training in British universities. The Mohammedan Anglo-Oriental
                    College became Aligarh Muslim University in 1920. It is famous for its Law, Medical and Engineering
                    College.
                </p>
            </div>
        </div>
        <div class="std-col-6 std-col-t-6">
            <div>
                <img src="/images/aligarh.jpg" style="height: 500px; border-radius: 10%;"/>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class=" std-section-bleed ">
        <% include template/footer.ejs %>
    </div>
</div>
</body>
</html>