<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Achiever Locks</title>
    <link rel="stylesheet" href="/stylesheets/standards.css">
    <link rel="stylesheet" href="/stylesheets/pod.css">
    <link rel='stylesheet' href='/stylesheets/restaurant.css'/>
    <link rel='stylesheet' href='/stylesheets/achiever.css'/>
    <link rel='stylesheet' href='/stylesheets/modal.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="std-header">
    <% include template/navigationBar.ejs %>
</div>

<div class="std-top-row">
    <div class="std-section-bleed">
        <div class="hero-image1 std-parallax">
            <!--Start Slide Show-->
            <div class="slideshow-container">

                <div class="slides fade">
                    <div class="numbertext">1 / 2</div>
                    <img src="/images/achiever/10.jpg">
                </div>

                <div class="slides fade">
                    <div class="numbertext">2 / 2</div>
                    <img src="/images/achiever/3.jpg">
                </div>

                <!--<div class="slides fade">
                    <div class="numbertext">3 / 3</div>
                    <img src="/images/achiever/9.jpg">
                </div>-->

                <a class="prev-btnS" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next-btnS" onclick="plusSlides(1)">&#10095;</a>

                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
<!--                    <span class="dot" onclick="currentSlide(3)"></span>-->
                </div>

                <div class="std-col-12 std-section-bleed">
                    <div class="std-col-4" onclick="fullerimage('1')">
                        <img src="/images/achiever/1.jpg">
                    </div>
                    <div class="std-col-4" onclick="fullerimage('2')">
                        <img src="/images/achiever/2.jpg">
                    </div>
                    <div class="std-col-4" onclick="fullerimage('4')">
                        <img src="/images/achiever/4.jpg">
                    </div>
                </div>
                <div class="std-col-12 std-section-bleed">
                    <div class="std-col-4" onclick="fullerimage('5')">
                        <img src="/images/achiever/5.jpg">
                    </div>
                    <div class="std-col-4" onclick="fullerimage('7')">
                        <img src="/images/achiever/7.jpg">
                    </div>
                    <div class="std-col-4" onclick="fullerimage('8')">
                        <img src="/images/achiever/8.jpg">
                    </div>
                </div>
            </div>
            <!--End Slide Show-->
        </div>
        <div class="std-section-fullWidth">
            <h1 style="font-family: 'Bitstream Vera Sans Bold'">
                Featured Products
            </h1>
        </div>
    </div>

    <div class="std-section-fullWidth">
        <div class="horizontal-scroll-wrapper">
            <div class="event-container-item">
                <div class="std-col-12">
                    <img class="imgachiever" src="/images/achiever/9.jpg">
                </div>
                <div class="std-col-12">
                    <button class="button button-purple" onclick="window.open('/comingsoon')">View</button>
                </div>
            </div>
            <div class="event-container-item">
                <div class="std-col-12">
                    <img class="imgachiever" src="/images/achiever/12.jpg">
                </div>
                <div class="std-col-12">
                    <button class="button button-purple" onclick="window.open('/comingsoon')">View</button>
                </div>
            </div>
            <div class="event-container-item">
                <div class="std-col-12">
                    <img class="imgachiever" src="/images/achiever/11.jpg">
                </div>
                <div class="std-col-12">
                    <button class="button button-purple" onclick="window.open('/comingsoon')">View</button>
                </div>
            </div>
            <div class="event-container-item">
                <div class="std-col-12">
                    <img class="imgachiever" src="/images/achiever/2.jpg">
                </div>
                <div class="std-col-12">
                    <button class="button button-purple" onclick="window.open('/comingsoon')">View</button>
                </div>
            </div>
            <div class="event-container-item">
                <div class="std-col-12">
                    <img class="imgachiever" src="/images/achiever/4.jpg">
                </div>
                <div class="std-col-12">
                    <button class="button button-purple" onclick="window.open('/comingsoon')">View</button>
                </div>
            </div>
            <div class="event-container-item">
                <div class="std-col-12">
                    <img class="imgachiever" src="/images/achiever/13.jpg">
                </div>
                <div class="std-col-12">
                    <button class="button button-purple" onclick="window.open('/comingsoon')">View</button>
                </div>
            </div>
        </div>
    </div>

    <div class="std-col-12 std-section-bleed">
        <div id="googleMap" style="width:95%;height:400px; border: groove; border-bottom-color: white; margin-left: 2%"></div>
    </div>

    <div class="std-col-12 std-section-bleed">
        <div class="std-col-2 std-col-t-2"  style=" width: 95%; height: auto ;border: groove; border-bottom-color: white; margin-left: 2%">
            <h1 style="font-weight: 1000">
                Contact Us
            </h1>
            <h2>
                Achiever locks
                ABC aligarh-200123
            </h2>
            <h3>
                phone- 0987654321
            </h3>

        </div>
        <!--<div class="std-col-2 std-col-t-2" style="margin-left: 60%">
        <img src="/images/contactus/contactus.gif">
        </div>-->
    </div>

    </div>

<div class="std-section-bleed">
    <% include template/footer.ejs %>
</div>

<!-- The Modal -->
<div id="myModal" class="modal-pod">
    <span class="close">&times;</span>
    <img class="imgachiever2 modal-content" id="img01">
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");

        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";

    }

</script>

<script>
    var slideIndex = 0;
    showSlidesAutomatically();

    function showSlidesAutomatically() {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlidesAutomatically, 6000); // Change image every 2 seconds
    }
</script>

<script>
    function myMap() {
        myCenter = new google.maps.LatLng(27.8912996,78.07800440000005);
        var mapOptions = {
            center: myCenter,
            zoom: 12, scrollwheel: false, draggable: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

        var marker = new google.maps.Marker({
            position: myCenter,
        });
        marker.setMap(map);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6Pviy7a1tfYcpRZySfCt9qhbVvVbUIJQ&callback=myMap"></script>

<script>
    // Get the modal // Common
    var modal = document.getElementById('myModal');
    var modalImg = document.getElementById("img01");

    function  fullerimage(value, data) {
        var image = value;
        var src = "/images/achiever/" + image + ".jpg";
        var alt = data;
        modal.style.display = "block";
        modalImg.src = src;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

</script>

</body>
</html>