<!DOCTYPE html>
<html>

<head>
    <title>Attraction</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/standards.css">
    <link rel="stylesheet" href="/stylesheets/attraction.css">

</head>

<body>

<div class="std-header">
    <% include template/navigationBar.ejs %>
</div>


<div class="std-top-row clear">
    <!--First row Starts-->
    <div class="std-section-bleed">
        <div class="attraction-head-image">
            <div class="attraction-hero-text">
                <h1 class="std-wide" style="font-size: 50px">Attraction</h1>
                <!--<h2 style="font-family: 'Microsoft Sans Serif'; margin-top:-10%">And I'm a Photographer</h2>-->
                <!--<button style="min-width: 100px"><p style="font-family: 'American Typewriter'; font-size: 15px">Fact</p></button>-->
            </div>
        </div>
    </div>
    <!--First row Ends-->
    <div class="std-section-fullWidth" style="border: solid">
        <div class="std-col-12 removeAll" style="background-color: black; color: white">
            <h3>Jama Masjid</h3>
        </div>
        <div class="std-col-12 std-col-t-12">
            <% include template/attractiongallery.ejs %>
        </div>
        <!--Second Row ends-->
        <div class="std-col-12 removeAll" style="background-color: black; color: white">
            <h3>Manglayatan</h3>
        </div>
        <div class="std-col-12 std-col-t-12">
            <% include template/attractionMangalayatan.ejs %>
        </div>
    </div>
    <!-- Subscribe Modal -->
    <div id="subscribe" class="std-modal std-animate-opacity">
        <div class="std-modal-content" style="padding:32px">
            <div class="std-container std-white">
                <i onclick="document.getElementById('subscribe').style.display='none'"
                   class="fa fa-remove std-transparent std-button std-xlarge std-right"></i>
                <h2 class="std-wide">Share Pics</h2>
                <p>Send some good pictures and we will show case on our site at:</p>
                <p>attraction@beyondlimits.com<!--<input class="std-input std-border" type="text" placeholder="Enter e-mail">--></p>
                <!--<button type="button" class="std-button std-block std-padding-large std-red std-margin-bottom"
                        onclick="document.getElementById('subscribe').style.display='none'">Send
                </button>-->
            </div>
        </div>
    </div>


    <!-- Footer -->
    <!--<footer class="std-container std-dark-grey" style="padding:32px">-->
    <!--<a href="#" class="std-button std-black std-padding-large std-margin-bottom"><i-->
    <!--class="fa fa-arrow-up std-margin-right"></i>To the top</a>-->
    <!--<p>Powered by <a href="https://www.stdschools.com/stdcss/default.asp" target="_blank">std.css</a></p>-->
    <div class="std-section-bleed">
        <% include template/footer.ejs %>
    </div>
</div>
<!--</footer>-->
</body>
</html>