<!DOCTYPE html>
<html>
<head>
    <title>Under Construction</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body bgcolor="white" marginheight="100%" style="background-image: url('../images/comingsoon/coming-soon-1.gif');">
<!--Header Navigation Bar Starts-->
<div class="std-header">
    <% include template/navigationBar.ejs %>
</div>
<!--The Footer-->
<div class="std-section-bleed">
    <% include template/footer.ejs %>
</div>
<!--Footer End-->
</body>
</html>