<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/standards.css'/>
    <link rel='stylesheet' href='/stylesheets/default.css'/>
    <!--<style type="text/css">-->
        <!--.hero-sub-text > h1{-->
             <!-- -webkit-margin-before: 0.0em;-->
             <!-- -webkit-margin-after: 0.0em;-->
             <!-- -webkit-margin-start: 0px;-->
             <!-- -webkit-margin-end: 0px;-->
        <!--}-->
    <!--</style>-->

</head>
<body bgcolor="White" height="100%">

    <div>
        <% include template/navigationBar.ejs %>
    </div>
    <div class="std-top-row">
        <div class="std-section-bleed" style="height: 720px">
            <div class="hero-image std-parallax" style="background-image: url('../images/banners/giphy2.gif');">
                <div class="hero-text" style="font-family: 'Rosewood Std' ">
                    <p>A city of dreams</p>
                    <h1 style="font-size: 90px;">ALIGARH</h1>
                </div>
            </div>
        </div>
        <div class="std-section-fullWidth" style="padding-top: 3%; position: relative">
            <div class="std-col-12" style="background-image: url('../images/banners/attraction.jpg'); height: 500px; background-size: 100% 100%; background-repeat: no-repeat; background-position: center">
                <div class="std-col-4" style="position: relative; left:50%; top: 50%; transform: translate(-50%, -50%); color: white; background-color: #1f1f21; opacity: 0.75;">
                    <h1 style="font-size: 40px">
                        ATTRACTION
                    </h1>
                    <h4>
                        Does code completion work for any classes? – Tim Biegeleisen Apr 18 '15 at 14:55
                    </h4>
                </div>
                <div class="caption std-col-3" style="position: relative; top: 90%; transform: translate(15%, -40%)">
                    <span class="border" style="opacity: 1; background-color: white; font-size: 15px">More Info</span>
                </div>
            </div>
            <div class="std-col-9" style="position: relative; left: 12%">
                <div class="std-col-4" style="border: dotted; border-color: #CC0000; background-image: url('../images/picture_of_the_day/picoftheday.gif'); height: 300px; background-size: 100% 100%">

                </div>
                <div class="std-col-4" style="border: dotted; border-color: #CC0000; background-image: url('../images/question-mark.jpg'); height: 300px; background-size: 100% 100%">

                </div>
                <div class="std-col-4" style="border: dotted; border-color: #CC0000; background-image: url('../images/comingsoon/coming-soon-7.gif'); height: 300px; background-size: 100% 100%">

                </div>
            </div>
            <div class="std-col-12" style="background-image: url('../images/banners/restaurant4.jpg');height: 500px; background-size: 100% 100%; background-repeat: no-repeat; background-position: top">
                <div class="std-col-4" style="position: relative; left:50%; top: 50%; transform: translate(-50%, -50%); color: white; background-color: #1f1f21; opacity: 0.75;">
                    <h1 style="font-size: 40px">
                        RESTAURANT
                    </h1>
                </div>
            </div>
            <div class="caption std-col-3" style="position: relative; top: 90%; transform: translate(15%, -40%)">
                <span class="border" style="opacity: 1; background-color: white; font-size: 15px">More Info</span>
            </div>
        </div>
        <div class="std-section-bleed">
            <hr>
            <div class="bgimg-2">
                <div class="caption">
                    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SHOPPING</span>
                </div>
            </div>
        </div>
        <div class="std-section-fullWidth">
            <div class="std-col-12" style="background-image: url('../images/banners/shopping1_1.jpg'); height: 500px; background-size: 100% 110%; background-repeat: no-repeat; background-position: center">
                <div class="std-col-4" style="position: relative; left:50%; top: 50%; transform: translate(-50%, -50%); color: white; background-color: #1f1f21; opacity: 0.75;">
                    <h1 style="font-size: 40px">
                        SHOPPING
                    </h1>
                    <h4>
                        Can IntelliJ detect joda-time in your code (i.e. does your code compile in the IDE)
                    </h4>
                </div>
                <div class="caption std-col-3" style="position: relative; top: 90%; transform: translate(15%, -40%)">
                    <span class="border" style="opacity: 1; background-color: white; font-size: 15px">More Info</span>
                </div>
            </div>
            <div class="std-col-12" style="background-image: url('../images/banners/hotels3.jpg'); height: 500px; background-size: 100% 100%; background-repeat: no-repeat; background-position: center;">
                <div class="std-col-4" style="position: relative; left:50%; top: 50%; transform: translate(-50%, -50%); color: white; background-color: #1f1f21; opacity: 0.75;">
                    <h1 style="font-size: 40px">
                        HOTELS
                    </h1>
                    <h4>
                        Does code completion work for any classes? – Tim Biegeleisen Apr 18 '15 at 14:55
                    </h4>
                </div>
                <div class="caption std-col-3" style="position: relative; top: 90%; transform: translate(15%, -40%)">
                    <span class="border" style="opacity: 1; background-color: white; font-size: 15px">More Info</span>
                </div>
            </div>
        </div>
        <div class="std-section-bleed">
            <hr>
            <div class="bgimg-3">
                <div class="caption">
                    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">ENTERTAINMENT</span>
                </div>
            </div>
        </div>
        <div class="std-section-fullWidth">
            <div class="std-col-12" style="background-image: url('../images/banners/events5_5.jpg'); height: 500px;background-size: 100% 100%; background-repeat: no-repeat; background-position: center">
                <div class="std-col-4" style="position: relative; left:50%; top: 50%; transform: translate(-50%, -50%); color: white; background-color: #1f1f21; opacity: 0.75;">

                    <h1 style="font-size: 40px">
                        EVENTS
                    </h1>
                    <h4>
                        Can IntelliJ detect joda-time in your code
                    </h4>
                </div>
                <div class="caption std-col-3" style="position: relative; top: 90%; transform: translate(15%, -40%)">
                    <span class="border" style="opacity: 1; background-color: white; font-size: 15px">More Info</span>
                </div>
            </div>
            <div class="std-col-12" style="background-image: url('../images/banners/education11.jpg'); height: 500px; background-size: 100% 100%; background-repeat: no-repeat; background-position: center">
                <div class="std-col-4" style="position: relative; left:50%; top: 50%; transform: translate(-50%, -50%); color: white; background-color: #1f1f21; opacity: 0.75;">
                    <h1 style="font-size: 40px">
                        EDUCATION
                    </h1>
                    <h4>
                        Can IntelliJ detect joda-time
                    </h4>
                </div>
                <div class="caption std-col-3" style="position: relative; top: 90%; transform: translate(15%, -40%)">
                    <span class="border" style="opacity: 1; background-color: white; font-size: 15px">More Info</span>
                </div>
            </div>
        </div>
    </div>
    <div class="indexhotelbackground">
        <div>
            <% include template/footer.ejs %>
        </div>
    </div>
</body>
</html>