<!DOCTYPE html>
<html>
<title>Dinesh Jewellers</title>
<head>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-67859015-2');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/standards.css"/>
    <link rel="stylesheet" href="/stylesheets/kalasaree.css">
    <link rel='stylesheet' href='/stylesheets/jewellery.css'/>
    <link rel='stylesheet' href='/stylesheets/shopnew.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
        function handleOpenClose(evt, openCloseAction) {
            if(openCloseAction == 'diva')
            {
                document.getElementById('diva').style.display = "block";
                document.getElementById('divb').style.display = "none";
                document.getElementById('divc').style.display = "none";
                document.getElementById('divd').style.display = "none";
                document.getElementById('dive').style.display = "none";
            }
            else if(openCloseAction == 'divb')
            {
                document.getElementById('divb').style.display = "block";
                document.getElementById('diva').style.display = "none";
                document.getElementById('divc').style.display = "none";
                document.getElementById('divd').style.display = "none";
                document.getElementById('dive').style.display = "none";
            }
            else if(openCloseAction == 'divc')
            {
                document.getElementById('divc').style.display = "block";
                document.getElementById('divb').style.display = "none";
                document.getElementById('diva').style.display = "none";
                document.getElementById('divd').style.display = "none";
                document.getElementById('dive').style.display = "none";
            }
            else if(openCloseAction == 'divd')
            {
                document.getElementById('divd').style.display = "block";
                document.getElementById('divb').style.display = "none";
                document.getElementById('divc').style.display = "none";
                document.getElementById('diva').style.display = "none";
                document.getElementById('dive').style.display = "none";
            }
            else if(openCloseAction == 'dive')
            {
                document.getElementById('dive').style.display = "block";
                document.getElementById('divb').style.display = "none";
                document.getElementById('divc').style.display = "none";
                document.getElementById('divd').style.display = "none";
                document.getElementById('diva').style.display = "none";
            }
        }
        function changecolor(evt,tab) {
            var tabname = document.getElementById(tab);
            if(tabname.id==='tab1'){
                document.getElementById('tab1').style.backgroundColor = "#f1aa90";
                document.getElementById('tab2').style.backgroundColor = "transparent";
                document.getElementById('tab3').style.backgroundColor = "transparent";
                document.getElementById('tab4').style.backgroundColor = "transparent";
                document.getElementById('tab5').style.backgroundColor = "transparent";
            }
            else if(tabname.id==='tab2'){
                document.getElementById('tab2').style.backgroundColor = "#f1aa90";
                document.getElementById('tab1').style.backgroundColor = "transparent";
                document.getElementById('tab3').style.backgroundColor = "transparent";
                document.getElementById('tab4').style.backgroundColor = "transparent";
                document.getElementById('tab5').style.backgroundColor = "transparent";
            }
            else if(tabname.id==='tab3'){
                document.getElementById('tab3').style.backgroundColor = "#f1aa90";
                document.getElementById('tab1').style.backgroundColor = "transparent";
                document.getElementById('tab2').style.backgroundColor = "transparent";
                document.getElementById('tab4').style.backgroundColor = "transparent";
                document.getElementById('tab5').style.backgroundColor = "transparent";
            }
            else if(tabname.id==='tab4'){
                document.getElementById('tab4').style.backgroundColor = "#f1aa90";
                document.getElementById('tab1').style.backgroundColor = "transparent";
                document.getElementById('tab2').style.backgroundColor = "transparent";
                document.getElementById('tab3').style.backgroundColor = "transparent";
                document.getElementById('tab5').style.backgroundColor = "transparent";
            }
            else if(tabname.id==='tab5'){
                document.getElementById('tab5').style.backgroundColor = "#f1aa90";
                document.getElementById('tab1').style.backgroundColor = "transparent";
                document.getElementById('tab2').style.backgroundColor = "transparent";
                document.getElementById('tab3').style.backgroundColor = "transparent";
                document.getElementById('tab4').style.backgroundColor = "transparent";
            }
        }
        function setdiv() {
            document.getElementById('diva').style.display = "block";
            document.getElementById('tab1').style.backgroundColor = "#f1aa90";
        }
    </script>
</head>
<body bgcolor="#f3f3f3" style="text-align: start" onload="setdiv();">

<div>
    <% include template/navigationBar.ejs %>
</div>
<!-- Image header -->
<div class="std-top-row">

    <!--1st Row-->
    <div class="std-section-bleed">

        <!--Start Slide Show-->
        <div class="slideshow-container">

            <div class="slides fade">
                <img src="/images/shop/j1.jpg">
            </div>

            <div class="slides fade">
                <img src="/images/shop/j2.jpg">
            </div>

            <div class="slides fade">
                <img src="/images/shop/j4.jpg">
            </div>

            <a class="prev-btn" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next-btn" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <!--End Slide Show-->
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

    </div>

    <!-- Grid -->
    <div class="std-section-fullWidth" style="margin-top: 2%">

        <div class="std-col-12">
            <div class="mySlides" style="background-color: #d31865;">
                <div class="center">
                    <h1 class="center" style="text-align: center; color: white; font-family: 'Droid Serif'">Dinesh
                        Jewellers</h1>
                </div>
            </div>
            <div class="mySlides" style="background-color: #a71d5d">
                <div class="center">
                    <h1 class="center" style="text-align: center; color: white; font-family: 'Droid Serif'">Dinesh
                        Jewellers</h1>
                </div>
            </div>
            <div class="mySlides" style="background-color: indianred">
                <div class="center">
                    <h1 class="center" style="text-align: center; color: white; font-family: 'Droid Serif'">Dinesh
                        Jewellers</h1>
                </div>
            </div>
        </div>

        <div class="std-col-12">
            <h2><span>EXPLORE BY CATEGORY</span></h2>
        </div>

        <div class="std-col-12 std-col-t-12 res-div-temp">
            <div class="std-col-2 std-col-t-4" id="tab1" onclick="changecolor(event,'tab1');">
                <button class="buttonlink" id="button1" onclick="handleOpenClose(event,'diva');">
                    <strong>Rings</strong>
                </button>
            </div>
            <div class="std-col-2 std-col-t-4" id="tab2" onclick="changecolor(event,'tab2');">
                <button class="buttonlink" id="button2" onclick="handleOpenClose(event,'divb');">
                    <strong>Earrings</strong>
                </button>
            </div>
            <div class="std-col-2 std-col-t-4" id="tab3" onclick="changecolor(event,'tab3');">
                <button class="buttonlink" id="button3" onclick="handleOpenClose(event,'divc');">
                    <strong>Pendants</strong>
                </button>
            </div>
            <div class="std-col-2 std-col-t-4" id="tab4" onclick="changecolor(event,'tab4');">
                <button class="buttonlink" id="button4" onclick="handleOpenClose(event,'divd');">
                    <strong>Nose Pins</strong>
                </button>
            </div>
            <div class="std-col-2 std-col-t-4" id="tab5" onclick="changecolor(event,'tab5');">
                <button class="buttonlink" id="button5" onclick="handleOpenClose(event,'dive');">
                    <strong>Mangalsutras</strong>
                </button>
            </div>
        </div>

    </div>

    <div class="std-section-fullWidth">
        <div class="horizontal-scroll-wrapper" style="position: relative; display: none;" id="diva">
            <!--<div class="std-col-12 std-section-bleed res-div-temp" style="margin-left: 12.5%; margin-right: 5%;">-->
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/j1.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/j2.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/j3.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/j4.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/j2.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/j3.jpg">
                </div>
            </div>
        </div>
        <div class="horizontal-scroll-wrapper" style="position: relative; display: none;" id="divb">
            <!--<div class="std-col-12 std-section-bleed res-div-temp" style="margin-left: 12.5%; margin-right: 5%;">-->
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/e1.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/e2.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/e3.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/e4.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/e2.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/e3.jpg">
                </div>
            </div>
        </div>
        <div class="horizontal-scroll-wrapper" style="position: relative; display: none;" id="divc">
            <!--<div class="std-col-12 std-section-bleed res-div-temp" style="margin-left: 12.5%; margin-right: 5%;">-->
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/p1.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/p2.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/p3.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/p4.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/p2.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/p3.jpg">
                </div>
            </div>
        </div>
        <div class="horizontal-scroll-wrapper" style="position: relative; display: none;" id="divd">
            <!--<div class="std-col-12 std-section-bleed res-div-temp" style="margin-left: 12.5%; margin-right: 5%;">-->
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/n1.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/n2.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/n3.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/n4.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/n2.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/n3.jpg">
                </div>
            </div>
        </div>
        <div class="horizontal-scroll-wrapper" style="position: relative; display: none;" id="dive">
            <!--<div class="std-col-12 std-section-bleed res-div-temp" style="margin-left: 12.5%; margin-right: 5%;">-->
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/m1.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/m2.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/m3.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/m4.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/m2.jpg">
                </div>
            </div>
            <div class="event-container-item center-align">
                <div style="margin: 2%;">
                    <img src="/images/jewellery/m3.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="std-section-fullWidth">
        <!-- About/Information menu -->
        <div class="std-col-12">
            <div class="std-col-4">
                <div class="std-margin-small">
                    <!-- Social Sites -->
                    <div>
                        <div class="aside-heading-section" style="margin-top: 0">
                            <h1>Connect With Us</h1>
                        </div>
                        <div class="aside-section std-col-12 std-div-white" style="font-size: 2rem">
                            <div class="std-col-3 std-col-t-3">
                                <a href="#" class="fa fa-facebook"></a>
                            </div>
                            <div class="std-col-3 std-col-t-3">
                                <a href="#" class="fa fa-twitter"></a>
                            </div>
                            <div class="std-col-3 std-col-t-3">
                                <a href="#" class="fa fa-youtube"></a>
                            </div>
                            <div class="std-col-3 std-col-t-3">
                                <a href="#" class="fa fa-instagram"></a>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="aside-heading-section">
                        <h1>Address</h1>
                    </div>
                    <div class="aside-section std-div-white">
                    <span>
                        <h1>Dinesh Jewellers</h1>
                        <h4>Indra Market<br>Aligarh - 202001 <br> Contact us @ 1234567890<br> Email us: dkgupta.dj@gmail.com </h4>
                    </span>
                    </div>
                    <hr>
                    <div class="aside-heading-section">
                        <h1>For website Link</h1>
                    </div>
                    <div class="aside-section std-div-white" style="height: 230px;">
                        <div style="height: 230px;" onclick="window.open('http://dineshjewellers.com/')">
                            <img class="imageshow" src="/images/website.png">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog entries -->
            <div class="std-col-8">
                <div class="std-margin-small">

                    <!-- Blog entry -->

                    <div class="heading-section">
                        <h1>Video</h1>
                    </div>
                    <div class="std-section-fullWidth std-div-white">
                        <div class="std-justify" style="height: 700px; width: 100%">
                            <iframe width="100%" height="800" src="https://www.youtube.com/embed/3gcENZ9QOfc" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--The Footer-->
    <div class="std-section-bleed">
        <% include template/footer.ejs %>
    </div>
    <!--Footer End-->
    <!-- END std-content -->
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");

        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";

    }

</script>
<script>
    var slideIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) {slideIndex = 1}
        x[slideIndex-1].style.display = "block";
        setTimeout(carousel, 1000);
    }
</script>
</body>
</html>

