<!DOCTYPE html>
<html>
<title>Dinesh Jewellers</title>
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67859015-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-67859015-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/standards.css"/>
    <link rel="stylesheet" href="/stylesheets/kalasaree.css">
    <link rel='stylesheet' href='/stylesheets/jewellery.css'/>
    <link rel="stylesheet" href="/stylesheets/pod.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
        function handleOpenClose(evt, openCloseAction) {
            if(openCloseAction == 'diva')
            {
                document.getElementById('diva').style.display = "block";
                document.getElementById('divb').style.display = "none";
                document.getElementById('divc').style.display = "none";
                document.getElementById('divd').style.display = "none";
                document.getElementById('dive').style.display = "none";
            }
            else if(openCloseAction == 'divb')
            {
                document.getElementById('divb').style.display = "block";
                document.getElementById('diva').style.display = "none";
                document.getElementById('divc').style.display = "none";
                document.getElementById('divd').style.display = "none";
                document.getElementById('dive').style.display = "none";
            }
            else if(openCloseAction == 'divc')
            {
                document.getElementById('divc').style.display = "block";
                document.getElementById('divb').style.display = "none";
                document.getElementById('diva').style.display = "none";
                document.getElementById('divd').style.display = "none";
                document.getElementById('dive').style.display = "none";
            }
            else if(openCloseAction == 'divd')
            {
                document.getElementById('divd').style.display = "block";
                document.getElementById('divb').style.display = "none";
                document.getElementById('divc').style.display = "none";
                document.getElementById('diva').style.display = "none";
                document.getElementById('dive').style.display = "none";
            }
            else if(openCloseAction == 'dive')
            {
                document.getElementById('dive').style.display = "block";
                document.getElementById('divb').style.display = "none";
                document.getElementById('divc').style.display = "none";
                document.getElementById('divd').style.display = "none";
                document.getElementById('diva').style.display = "none";
            }
        }
        function changecolor(evt,tab) {
            var tabname = document.getElementById(tab);
            if(tabname.id =='tab1'){
                document.getElementById('tab1').style.backgroundColor = "#f1aa90";
                document.getElementById('tab2').style.backgroundColor = "transparent";
                document.getElementById('tab3').style.backgroundColor = "transparent";
                document.getElementById('tab4').style.backgroundColor = "transparent";
                document.getElementById('tab5').style.backgroundColor = "transparent";
            }
            else if(tabname.id =='tab2'){
                document.getElementById('tab2').style.backgroundColor = "#f1aa90";
                document.getElementById('tab1').style.backgroundColor = "transparent";
                document.getElementById('tab3').style.backgroundColor = "transparent";
                document.getElementById('tab4').style.backgroundColor = "transparent";
                document.getElementById('tab5').style.backgroundColor = "transparent";
            }
            else if(tabname.id =='tab3'){
                document.getElementById('tab3').style.backgroundColor = "#f1aa90";
                document.getElementById('tab1').style.backgroundColor = "transparent";
                document.getElementById('tab2').style.backgroundColor = "transparent";
                document.getElementById('tab4').style.backgroundColor = "transparent";
                document.getElementById('tab5').style.backgroundColor = "transparent";
            }
            else if(tabname.id =='tab4'){
                document.getElementById('tab4').style.backgroundColor = "#f1aa90";
                document.getElementById('tab1').style.backgroundColor = "transparent";
                document.getElementById('tab2').style.backgroundColor = "transparent";
                document.getElementById('tab3').style.backgroundColor = "transparent";
                document.getElementById('tab5').style.backgroundColor = "transparent";
            }
            else if(tabname.id =='tab5'){
                document.getElementById('tab5').style.backgroundColor = "#f1aa90";
                document.getElementById('tab1').style.backgroundColor = "transparent";
                document.getElementById('tab2').style.backgroundColor = "transparent";
                document.getElementById('tab3').style.backgroundColor = "transparent";
                document.getElementById('tab4').style.backgroundColor = "transparent";
            }
        }
        function setdiv() {
            document.getElementById('diva').style.display = "block";
            document.getElementById('tab1').style.backgroundColor = "#f1aa90";
        }
    </script>
</head>
<body bgcolor="#f3f3f3" style="text-align: start; overflow-x: hidden;" onload="setdiv();">

<div>
    <% include template/navigationBar.ejs %>
</div>
<!-- Image header -->
<div class="std-top-row">

    <!--1st Row-->
    <div class="std-section-bleed">

        <!--Start Slide Show-->
        <div class="slideshow-container">

            <div class="slides fade">
                <img src="/images/shop/j1.jpg">
            </div>

            <div class="slides fade">
                <img src="/images/shop/j2.jpg">
            </div>

            <div class="slides fade">
                <img src="/images/shop/j4.jpg">
            </div>

            <a class="prev-btn" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next-btn" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <!--End Slide Show-->
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

    </div>

    <!-- Grid -->
    <div class="std-section-fullWidth res-div-temp2">

        <div class="std-col-12">
            <div class="mySlides" style="background-color: #d31865;">
                <div class="center">
                    <h1 class="center" style="text-align: center; color: white; font-family: 'Droid Serif'">Dinesh
                        Jewellers</h1>
                </div>
            </div>
            <div class="mySlides" style="background-color: #a71d5d">
                <div class="center">
                    <h1 class="center" style="text-align: center; color: white; font-family: 'Droid Serif'">Dinesh
                        Jewellers</h1>
                </div>
            </div>
            <div class="mySlides" style="background-color: indianred">
                <div class="center">
                    <h1 class="center" style="text-align: center; color: white; font-family: 'Droid Serif'">Dinesh
                        Jewellers</h1>
                </div>
            </div>
        </div>

        <div class="std-col-12 std-section-bleed">
            <div class="std-col-3 std-col-t-3 mediabox" onclick="fullerimage('dj1')">
                <img src="/images/jewellery/dj1.jpg">
            </div>
            <div class="std-col-3 std-col-t-3 mediabox" onclick="fullerimage('dj2')">
                <img src="/images/jewellery/dj2.jpg">
            </div>
            <div class="std-col-3 std-col-t-3 mediabox" onclick="fullerimage('dj3')">
                <img src="/images/jewellery/dj3.jpg">
            </div>
            <div class="std-col-3 std-col-t-3 mediabox" onclick="fullerimage('dj10')">
                <img src="/images/jewellery/dj10.jpg">
            </div>
        </div>

        <div class="std-col-12">
            <h2><span>EXPLORE BY CATEGORY</span></h2>
        </div>

        <div class="std-col-12 std-col-t-12 res-div-temp">
            <div class="std-col-2 std-col-t-4" id="tab1" onclick="changecolor(event,'tab1');">
                <button class="buttonlink" id="button1" onclick="handleOpenClose(event,'diva');">
                    <strong>Rings</strong>
                </button>
            </div>
            <div class="std-col-2 std-col-t-4" id="tab2" onclick="changecolor(event,'tab2');">
                <button class="buttonlink" id="button2" onclick="handleOpenClose(event,'divb');">
                    <strong>Earrings</strong>
                </button>
            </div>
            <div class="std-col-2 std-col-t-4" id="tab3" onclick="changecolor(event,'tab3');">
                <button class="buttonlink" id="button3" onclick="handleOpenClose(event,'divc');">
                    <strong>Pendants</strong>
                </button>
            </div>
            <div class="std-col-2 std-col-t-4" id="tab4" onclick="changecolor(event,'tab4');">
                <button class="buttonlink" id="button4" onclick="handleOpenClose(event,'divd');">
                    <strong>Necklaces</strong>
                </button>
            </div>
            <div class="std-col-2 std-col-t-4" id="tab5" onclick="changecolor(event,'tab5');">
                <button class="buttonlink" id="button5" onclick="handleOpenClose(event,'dive');">
                    <strong>Bangels</strong>
                </button>
            </div>
        </div>

        <div class="std-section-fullWidth">
            <div class="horizontal-scroll-wrapper" style="position: relative; display: none;" id="diva">
                <!--<div class="std-col-12 std-section-bleed res-div-temp" style="margin-left: 12.5%; margin-right: 5%;">-->
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/j1.jpg">
                        <div class="underlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('j1')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/j2.jpg">
                        <div class="overlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('j2')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/j3.jpg">
                        <div class="underlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('j3')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/j4.jpg">
                        <div class="overlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('j4')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/j5.jpg">
                        <div class="underlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('j5')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/j7.jpg">
                        <div class="overlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('j7')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/j8.jpg">
                        <div class="overlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('j8')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/j9.jpg">
                        <div class="overlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('j9')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/j10.jpg">
                        <div class="overlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('j10')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="horizontal-scroll-wrapper" style="position: relative; display: none;" id="divb">
                <!--<div class="std-col-12 std-section-bleed res-div-temp" style="margin-left: 12.5%; margin-right: 5%;">-->
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/e1.jpg">
                        <div class="rightlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('e1')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/e2.jpg">
                        <div class="leftlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('e2')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/e3.jpg">
                        <div class="rightlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('e3')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/e4.jpg">
                        <div class="leftlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('e4')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="horizontal-scroll-wrapper" style="position: relative; display: none;" id="divc">
                <!--<div class="std-col-12 std-section-bleed res-div-temp" style="margin-left: 12.5%; margin-right: 5%;">-->
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/p1.jpg">
                        <div class="overlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('p1')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/p2.jpg">
                        <div class="underlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('p2')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/p3.jpg">
                        <div class="overlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('p3')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/p4.jpg">
                        <div class="underlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('p4')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="horizontal-scroll-wrapper" style="position: relative; display: none;" id="divd">
                <!--<div class="std-col-12 std-section-bleed res-div-temp" style="margin-left: 12.5%; margin-right: 5%;">-->
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdjnecklace" src="/images/jewellery/dj4.jpg">
                        <div class="rightlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('dj4')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdjnecklace" src="/images/jewellery/dj5.jpg" onclick="fullerimage('dj5')">
                        <div class="leftlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdjnecklace" src="/images/jewellery/dj6.jpg" onclick="fullerimage('dj6')">
                        <div class="rightlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdjnecklace" src="/images/jewellery/dj7.jpg" onclick="fullerimage('dj7')">
                        <div class="leftlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdjnecklace" src="/images/jewellery/dj8.jpg" onclick="fullerimage('dj8')">
                        <div class="rightlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdjnecklace" src="/images/jewellery/dj9.jpg" onclick="fullerimage('dj9')">
                        <div class="leftlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="horizontal-scroll-wrapper" style="position: relative; display: none;" id="dive">
                <!--<div class="std-col-12 std-section-bleed res-div-temp" style="margin-left: 12.5%; margin-right: 5%;">-->
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/b1.jpg">
                        <div class="underlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('b1')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/b2.jpg">
                        <div class="overlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('b2')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/b3.jpg">
                        <div class="underlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('b3')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/b4.jpg">
                        <div class="overlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('b4')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-container-item center-align">
                    <div style="margin: 2%;">
                        <img class="imgdj1" src="/images/jewellery/b5.jpg">
                        <div class="underlaydj">
                            <div class="txtdj"><br>
                                <div class="button" style="margin-top: 3rem" onclick="fullerimage('b5')">
                                    <p style="color:#fefefe; font-family: 'Lato, sans-serif';">View!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="std-col-12">
            <h2><span>GOLD COINS</span></h2>
        </div>

        <div class="std-col-12 std-col-t-12 res-div-tempGC">
            <div class="std-col-2 std-col-t-4" id="tabgc1">
                <button class="buttonlink" id="button1">
                    <strong>2 gm</strong>
                </button>
            </div>
            <div class="std-col-2 std-col-t-4" id="tabgc2">
                <button class="buttonlink" id="button2">
                    <strong>5 gm</strong>
                </button>
            </div>
            <div class="std-col-2 std-col-t-4" id="tabgc3">
                <button class="buttonlink" id="button3">
                    <strong>10 gm</strong>
                </button>
            </div>
        </div>

        <div class="std-section-fullWidth">
            <div class="std-col-12 res-div-tempGC1">
                <div class="std-col-3 std-col-t-3 mediabox" onclick="fullerimage('21')">
                    <img src="/images/jewellery/21.jpg">
                </div>
                <div class="std-col-3 std-col-t-3 mediabox" onclick="fullerimage('22')">
                    <img src="/images/jewellery/22.jpg">
                </div>
                <div class="std-col-3 std-col-t-3 mediabox" onclick="fullerimage('23')">
                    <img src="/images/jewellery/23.jpg">
                </div>
            </div>
        </div>

    </div>

    <div class="std-section-fullWidth">
        <!-- About/Information menu -->
        <div class="std-col-12">
            <div class="std-col-4">
                <div class="std-margin-small">
                    <!-- Social Sites -->
                    <div>
                        <div class="aside-heading-section" style="margin-top: 0">
                            <h1>Connect With Us</h1>
                        </div>
                        <div class="aside-section std-col-12 std-div-white" style="font-size: 2rem">
                            <div class="std-col-3 std-col-t-3" onclick="window.open('https://www.facebook.com/belonwaledineshjewellers')">
                                <a href="#" class="fa fa-facebook"></a>
                            </div>
                            <div class="std-col-3 std-col-t-3" onclick="window.open('https://twitter.com/DineshJeweller')">
                                <a href="#" class="fa fa-twitter"></a>
                            </div>
                            <div class="std-col-3 std-col-t-3" onclick="window.open('http://dineshjewellers.com/')">
                                <a href="#">
                                    <img class="imgdjwebsite" src="/images/website.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="aside-heading-section">
                        <h1>Address</h1>
                    </div>
                    <div class="aside-section std-div-white">
                    <span>
                        <h1>Dinesh Jewellers</h1>
                        <h4>Indra Market<br>Aligarh - 202001 <br> Contact us @ +91 571-3253100, 7535818283
                            <br> Email us: dkgupta.dj@gmail.com, info@dineshjewellers.com </h4>
                    </span>
                    </div>
                    <hr>
                    <div class="aside-heading-section">
                        <h1>Facebook</h1>
                    </div>
                    <div class="aside-section std-div-white">
                        <div class="std-padding-16" style="height: 500px">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbelonwaledineshjewellers&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog entries -->
            <div class="std-col-8">
                <div class="std-margin-small">
                    <!-- Blog entry -->
                    <div class="heading-section">
                        <h1>Video</h1>
                    </div>
                    <div class="std-section-fullWidth std-div-white">
                        <div class="std-justify" style="height: 499px; width: 100%">
                            <iframe width="100%" height="400" src="https://www.youtube.com/embed/cHTBOXrSEvE"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <hr>
                    <div class="heading-section">
                        <h1>Store Location</h1>
                    </div>
                    <div class="std-section-fullWidth std-div-white">
                        <div id="googleMap" style="width:100%;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal-pod">
        <span class="close">&times;</span>
        <img class="imgdj modal-contentdj" id="img01">
    </div>
    <!--The Footer-->
    <div class="std-section-bleed">
        <% include template/footer.ejs %>
    </div>
    <!--Footer End-->
    <!-- END std-content -->
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");

        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";

    }

</script>
<script>
    var slideIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) {slideIndex = 1}
        x[slideIndex-1].style.display = "block";
        setTimeout(carousel, 1000);
    }
</script>
<script>
    function myMap() {
        myCenter = new google.maps.LatLng(27.8912996,78.07800440000005);
        var mapOptions = {
            center: myCenter,
            zoom: 12, scrollwheel: false, draggable: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

        var marker = new google.maps.Marker({
            position: myCenter,
        });
        marker.setMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6Pviy7a1tfYcpRZySfCt9qhbVvVbUIJQ&callback=myMap"></script>
<script>
    // Get the modal // Common
    var modal = document.getElementById('myModal');
    var modalImg = document.getElementById("img01");

    function  fullerimage(value) {
        var image = value;
        var src = "/images/jewellery/" + image + ".jpg";
        modal.style.display = "block";
        modalImg.src = src;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

</script>
</body>
</html>

