<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Events Section</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/events.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/standards.css"/>
    <link rel="stylesheet" href="/stylesheets/modal.css">

    <script type="text/javascript" src="template/modals.js"></script>
    <script type="text/javascript">
        function openTabHeader(cityName, elmnt, fontWeight) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabHeader");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.fontWeight = "normal";
            }

            // Show the specific tab content
            document.getElementById(cityName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.fontWeight = fontWeight;
            elmnt.style.ac
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
    <script type="text/javascript">
        function openTab(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";

            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <script type="text/javascript">
        function handleOpenClose(evt, openCloseAction) {
            // Declare all variables
            var i, divcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            divcontent = document.getElementsByClassName("inner-hidden-container");
            for (i = 0; i < divcontent.length; i++) {
                divcontent[i].style.display = "none";
            }
            document.getElementById(openCloseAction).style.display = "block";

//            var manageElement = document.getElementById(openCloseAction);
//            manageElement.style.display = (manageElement.style.display == "none") ? "block" : "none";
        }
    </script>
    <script type="text/javascript">
        var index = 1;

        function plusIndex(n) {
            index = index + 1;
            showImage(index);
        }

        function showImage(n) {
            var i;
            var x = document.getElementsByClassName("slides");
            if (n > x.length) {
                index = 1
            }
            if (n < 1) {
                index = x.length
            }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none"
            }
            x[index - 1].style.display = "block";
        }

        autoSlide();

        function autoSlide() {
            var i;
            var x = document.getElementsByClassName("slides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none"
            }
            if (index > x.length) {
                index = 1
            }
            x[index - 1].style.display = "block";
            index++;
            setTimeout(autoSlide, 2000);
        }
    </script>
</head>
<body style="background-color: #e5e5e5">
<header>
    <% include template/navigationBar.ejs %>
</header>
<!--End Header-->
<div class="std-top-row">
    <div class="std-section-bleed">
        <section id="header1">
            <div id="container">
                <img class="slides" src="images/events/newyeareveNewyork.jpg">
                <img class="slides" src="images/events9.jpg">
                <img class="slides" src="images/events10.jpg">
                <img class="slides" src="images/events11.jpg">
                <img class="slides" src="images/events12.jpg">
                <button class="btn" id="btn1" onclick="plusIndex(-1)">&#10094;</button>
                <button class="btn" id="btn2" onclick="plusIndex(1)">&#10095;</button>
                <!--</div>-->
            </div>
        </section>
    </div>
    <!--<div class="std-section-bleed">-->
    <!--<section class="banner tabHeader" id="header2">-->
    <!--<div class="banner-inner">-->
    <!--<img src="images/rocket_design.png">-->
    <!--</div>-->
    <!--</section>-->
    <!--</div>-->
    <!--End Slidshow Banner-->
    <div class="std-section-bleed">
        <div class="tab">
            <button class="tablink" onclick="openTab(event, 'div1'), openTabHeader('header1',this,'bold')"
                    id="defaultOpen">
                Public
            </button>
            <button class="tablink" onclick="openTab(event, 'div2'), openTabHeader('header2',this,'bold')">Private
            </button>
        </div>
        <!--End of Tabs-->

        <div id="div1" class="tabcontent std-section-fullWidth">
            <script>
                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>
            <!--<span onclick="this.parentElement.style.display='none'">x</span>-->
            <div class="event-container">
                <div class="std-one-fourth-card" id="html">
                    <div data-content="Check-Out!" class="image">
                        <img src="/images/events2.jpg"/>
                    </div>
                    <div class="one-fourth-caption">
                        <h3>Exhibition</h3>
                        <p>We broadcasts your event in a way that is both technically elegant and very cost
                            effective.</p>
                    </div>
                    <button onclick="handleOpenClose(event,'O1')" class="button">View Details &rarr;</button>
                </div>
                <div class="std-one-fourth-card" id="css">
                    <div data-content="Upcoming Events!" class="image">
                        <img src="/images/events3.jpg"/>
                    </div>
                    <div class="one-fourth-caption">
                        <h3>DJ Night</h3>
                        <p>We broadcasts your event in a way that is both technically elegant and very cost
                            effective.</p>
                    </div>
                    <button onclick="handleOpenClose(event,'O2')" class="button">View Details &rarr;</button>
                </div>
                <div class="std-one-fourth-card" id="seo">
                    <div data-content="Wowsome!" class="image">
                        <img src="/images/events4.jpg"/>
                    </div>
                    <div class="one-fourth-caption">
                        <h3>New Year Eve</h3>
                        <p>We broadcasts your event in a way that is both technically elegant and very cost
                            effective.</p>
                    </div>
                    <button onclick="handleOpenClose(event,'O3')" class="button">View Details &rarr;</button>
                </div>
                <div class="std-one-fourth-card" id="social">
                    <div data-content="Traditional!" class="image">
                        <img src="/images/events5.jpg"/>
                    </div>
                    <div class="one-fourth-caption">
                        <h3>Club Party</h3>
                        <p>We broadcasts your event in a way that is both technically elegant and very cost
                            effective.</p>
                    </div>
                    <button onclick="handleOpenClose(event,'O4')" class="button">View Details &rarr;</button>
                </div>
            </div>
            <!--End four column section-->

            <div class="std-col-12">
                <div class="inner-hidden-container inner-wrapper-2" id="O1">
                    <article id="mobile">
                        <h2>Entertainment</h2>
                        <p>XYZ Street, ABC Road, City<br>7:00 pm - 8:00 pm</p>

                        <p>We broadcasts your event in a way that is both technically elegant and very cost effective.
                            Anyone with a PC, Smart Devices and an Internet connection are able to associate with your
                            event
                            from any corner of the world. </p>
                        <div class="btn-container">
                            <button onclick="document.getElementById('myModal').style.display='block'"
                                    class="button">
                                For More Info
                            </button>
                        </div>
                    </article>
                    <aside class="hand-mobile">
                        <img src="/images/events2.jpg" class="hidDivImg">
                    </aside>
                </div>
                <div class="inner-hidden-container inner-wrapper" id="O2">
                    <article id="tablet">
                        <img src="/images/events3.jpg" class="hidDivImg">
                    </article>
                    <aside id="tablet2">
                        <h2>Entertainment</h2>
                        <p>XYZ Street, ABC Road, City<br>7:00 pm - 8:00 pm</p>
                        <p>We broadcasts your event in a way that is both technically elegant and very cost effective.
                            Anyone with a PC, Smart Devices and an Internet connection are able to associate with your
                            event
                            from any corner of the world. </p>
                        <div class="btn-container">
                            <button onclick="document.getElementById('myModal').style.display='block'"
                                    class="button">
                                For More Info
                            </button>
                        </div>
                    </aside>
                </div>
                <div class="inner-hidden-container inner-wrapper-2" id="O3">
                    <article id="mobile">
                        <h2>Entertainment</h2>
                        <p>XYZ Street, ABC Road, City<br>7:00 pm - 8:00 pm</p>
                        <p>We broadcasts your event in a way that is both technically elegant and very cost effective.
                            Anyone with a PC, Smart Devices and an Internet connection are able to associate with your
                            event
                            from any corner of the world. </p>
                        <div class="btn-container">
                            <button onclick="document.getElementById('myModal').style.display='block'"
                                    class="button">
                                For More Info
                            </button>
                        </div>
                    </article>
                    <aside class="hand-mobile">
                        <img src="/images/events4.jpg" class="hidDivImg">
                    </aside>
                </div>
                <div class="inner-hidden-container inner-wrapper" id="O4">
                    <article>
                        <img src="/images/events5.jpg" class="hidDivImg">
                    </article>
                    <aside id="desktop">
                        <h2>Entertainment</h2>
                        <p>XYZ Street, ABC Road, City<br>7:00 pm - 8:00 pm</p>
                        <p>We broadcasts your event in a way that is both technically elegant and very cost effective.
                            Anyone with a PC, Smart Devices and an Internet connection are able to associate with your
                            event
                            from any corner of the world. </p>
                        <div class="btn-container">
                            <button onclick="document.getElementById('myModal').style.display='block'"
                                    class="button">
                                For More Info
                            </button>
                        </div>
                    </aside>
                </div>

                <!--End main two column sections-->

            </div>
            <!--End hidden divs-->

            <!--End main two column sections-->
            <section class="inner-wrapper-3">
                <section class="one-third" id="google">
                    <h3>Entertainment</h3>
                    <div>
                        <img src="/images/logo1.png" class="logos">
                    </div>
                    <p>Lorem ipsum dolor sit amet, pro delectus assueverit an, suscipit appellantur at vel. Qui cu iusto
                        errem oratio. No omnis debet has, erat equidem pertinacia sit eu. Id accumsan perpetua mei, vel
                        ut
                        platonem definiebas, ex atqui oportere tincidunt vel.</p>
                </section>
                <section class="one-third" id="marketing">
                    <h3>Entertainment</h3>
                    <div>
                        <img src="/images/logo2.png" class="logos">
                    </div>
                    <p>Lorem ipsum dolor sit amet, pro delectus assueverit an, suscipit appellantur at vel. Qui cu iusto
                        errem oratio. No omnis debet has, erat equidem pertinacia sit eu. Id accumsan perpetua mei, vel
                        ut
                        platonem definiebas, ex atqui oportere tincidunt vel.</p>
                </section>
                <section class="one-third" id="customers">
                    <h3>Entertainment</h3>
                    <div>
                        <img src="/images/logo1.png" class="logos">
                    </div>
                    <p>Lorem ipsum dolor sit amet, pro delectus assueverit an, suscipit appellantur at vel. Qui cu iusto
                        errem oratio. No omnis debet has, erat equidem pertinacia sit eu. Id accumsan perpetua mei, vel
                        ut
                        platonem definiebas, ex atqui oportere tincidunt vel.</p>
                </section>
            </section>

        </div>
        <!--End of 1st fragment-->

        <div id="div2" class="tabcontent">

        </div>
        <!--End of 2nd Fragment-->

        <div class="std-section-bleed">
            <div class="std-col-12 stats">
                <div class="std-col-3">
                    <span class="w3-xxlarge">14+</span>
                    <br>Daily Events
                </div>
                <div class="std-col-3">
                    <span class="w3-xxlarge">55+</span>
                    <br>Events Telecast
                </div>
                <div class="std-col-3">
                    <span class="w3-xxlarge">89+</span>
                    <br>Successfull Launches
                </div>
                <div class="std-col-3">
                    <span class="w3-xxlarge">150+</span>
                    <br>Upcoming Events
                </div>
            </div>
        </div>

        <!-- Menu Modal -->
        <div id="myModal" class="std-modal">
            <% include template/modals/modal-contactUs.ejs %>
        </div>
    </div>
</div>
<div style="width: 100%">
    <% include template/footer.ejs %>
</div>
</body>
</html>