<!DOCTYPE html>
<html>
<title>Our Heroes</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/std.css">
    <link rel="stylesheet" href="/stylesheets/fonts/fontsOswald.css">
    <link rel="stylesheet" href="/stylesheets/fonts/fontsOpenSans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .imgdiv1 {
            float: left;
        }

        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
            position: absolute;
            border-color: transparent;
            border-style: solid;
            background-position: center;
            background-repeat: no-repeat;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%)
        }

        .imgdiv1:hover .image {
            opacity: 0.3;
        }

        .imgdiv1:hover .middle {
            opacity: 1;
        }

        .text {
            background-color: #00B7FF;
            line-height: 1.2;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: white;
            font-size: 24px;
            padding: 16px 32px;
            font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif"
            color: rgb(255, 255, 255);
        }

        /* MODAL CSS */
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 50%;
            max-width: 400px;
        }

        /* Caption of Modal Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation */
        .modal-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
            from {-webkit-transform:scale(0)}
            to {-webkit-transform:scale(1)}
        }

        @keyframes zoom {
            from {transform:scale(0)}
            to {transform:scale(1)}
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
            .modal-content {
                width: 100%;
            }
        }

    </style>

</head>
<body class="std-light-grey">

<div>
    <% include template/navigationBar.ejs %>
</div>

<div class="std-container std-padding std-black" style="margin-top: 40px; text-align: center">
    <h4>Our Heroes - You made us Proud</h4>
</div>

<br />

<div style="text-align: center; height: auto;">
    <div style="width: 1428px; position: relative; height: 250px;">
        <div class="imgdiv1" style="height: 250px; width: 357px; cursor: pointer; position: absolute; top: 0px;">
            <div class="image" style="background-image: url('../images/Annu-Raj-Singh..jpg'); background-size: cover; top: 0px; left: 0px; right: 0px; bottom: 0px;"></div>
            <div class="middle">
                <div class="text" id="img1">ANNU RAJ SINGH</div>
            </div>
        </div>
        <div class="imgdiv1"
             style="height: 250px; width: 357px; cursor: pointer; position: absolute; left: 350px; top: 0px;">
            <div class="image" style="background-image: url('../images/bharat-bhushan.jpg'); background-size: cover; top: 0px; left: 0px; right: 0px; bottom: 0px;"></div>
            <div class="middle">
                <div class="text" id="img2">BHARAT BHUSHAN</div>
            </div>
        </div>
        <div class="imgdiv1"
             style="height: 250px; width: 357px; cursor: pointer; position: absolute; left: 700px; top: 0px;">
            <div class="image" style="background-image: url('../images/piyushcricketer.jpg'); background-size: cover; top: 0px; left: 0px; right: 0px; bottom: 0px;"></div>
            <div class="middle">
                <div class="text" id="img3">PIYUSH CHAWLA</div>
            </div>
        </div>
        <div class="imgdiv1"
             style="height: 250px; width: 357px; cursor: pointer; position: absolute; left: 1050px; top: 0px;">
            <div class="image" style="background-image: url('../images/temp1.jpg'); background-size: cover; top: 0px; left: 0px; right: 0px; bottom: 0px;"></div>
            <div class="middle">
                <div class="text" id="img4">RAVINDRA JAIN</div>
            </div>
        </div>
    </div>
    <div style="width: 1428px; position: relative; height: 250px;">
        <div class="imgdiv1" style="height: 250px; width: 357px; cursor: pointer; position: absolute; top: 0px;">
            <div class="image" style="background-image: url('../images/Chandrachur-Singh.jpg'); background-size: cover; top: 0px; left: 0px; right: 0px; bottom: 0px;"></div>
            <div class="middle">
                <div class="text" id="img5">CHANDRACHUR SINGH</div>
            </div>
        </div>
        <div class="imgdiv1"
             style="height: 253px; width: 357px; cursor: pointer; position: absolute; left: 350px; top: 0px;">
            <div class="image" style="background-image: url('../images/Javed_Aktar.jpg'); background-size: cover; top: 0px; left: 0px; right: 0px; bottom: 0px;"></div>
            <div class="middle">
                <div class="text" id="img6">JAVED AKHTAR</div>
            </div>
        </div>
        <div class="imgdiv1"
             style="height: 250px; width: 357px; cursor: pointer; position: absolute; left: 700px; top: 0px;">
            <div class="image" style="background-image: url('../images/Hyder.jpg'); background-size: cover; top: 0px; left: 0px; right: 0px; bottom: 0px;"></div>
            <div class="middle">
                <div class="text" id="img7">QURRATULAIN HYDER</div>
            </div>
        </div>
        <div class="imgdiv1"
             style="height: 250px; width: 357px; cursor: pointer; position: absolute; left: 1050px; top: 0px;">
            <div class="image" style="background-image: url('../images/gauhar_raza.jpg'); background-size: cover; top: 0px; left: 0px; right: 0px; bottom: 0px;"></div>
            <div class="middle">
                <div class="text" id="img8">GAUHAR RAZA</div>
            </div>
        </div>
    </div>
    <div style="width: 1428px; position: relative; height: 250px;">
        <div class="imgdiv1" style="height: 250px; width: 357px; cursor: pointer; position: absolute; top: 0px;">
            <div class="image" style="background-image: url('../images/paytm.jpg'); background-size: cover; top: 0px; left: 0px; right: 0px; bottom: 0px;"></div>
            <div class="middle">
                <div class="text" id="img9">VIJAY SHEKHAR SHARMA</div>
            </div>
        </div>
        <div class="imgdiv1"
             style="height: 253px; width: 357px; cursor: pointer; position: absolute; left: 350px; top: 0px;">
            <div class="image" style="background-image: url('../images/Kanika-Maheshwari.jpg'); background-size: cover; top: 0px; left: 0px; right: 0px; bottom: 0px;"></div>
            <div class="middle">
                <div class="text" id="img10">KANIKA MAHESHWARI</div>
            </div>
        </div>
        <div class="imgdiv1"
             style="height: 250px; width: 357px; cursor: pointer; position: absolute; left: 700px; top: 0px;">
            <div class="image" style="background-image: url('../images/gopal.jpg'); background-size: cover; top: 0px; left: 0px; right: 0px; bottom: 0px;"></div>
            <div class="middle">
                <div class="text" id="img11">GOPAL DAS NEERAJ</div>
            </div>
        </div>
        <div class="imgdiv1"
             style="height: 250px; width: 357px; cursor: pointer; position: absolute; left: 1050px; top: 0px;">
            <div class="image" style="background-image: url('../images/shadkhan.jpg'); background-size: cover; top: 0px; left: 0px; right: 0px; bottom: 0px;"></div>
            <div class="middle">
                <div class="text" id="img12">SHAD KHAN</div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<br/>

<!-- Footer -->
<div class="parent">
    <% include template/footer.ejs %>
</div>

<script>
    // Get the modal // Common
    var modal = document.getElementById('myModal');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    var src1 = "/images/Annu-Raj-Singh..jpg";
    var alt1 = "Annu Raj Singh is an Indian shooter from Aligarh. Annu Raj Singh is an Indian sportsman who excels in the game of shooting. She won the gold medal in the women's pair 10 metre air pistol at the 2010 Commonwealth Games with Heena Sidhu. She has taken part in 10 National Championships and has won 27 medals in all. In the 33rd National Games held at 2007, she has won 3 gold medals and 1 silver medal in the pistol event. She was born on 17th February 1984 in Aligarh in Uttar Pradesh.";
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img1 = document.getElementById('img1');
    img1.onclick = function(){
        modal.style.display = "block";
        modalImg.src = src1;
        captionText.innerHTML = alt1;
    }

    var src2 = "/images/bharat-bhushan.jpg";
    var alt2 = "Bharat Bhushan (June 14, 1920 – January 27, 1992) was an Indian actor in Hindi language films, scriptwriter and producer, who is best remembered for playing Baiju Bawra in the 1952 film of the same name. He was born in Meerut, and brought up in Aligarh, Uttar Pradesh.";
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img2 = document.getElementById('img2');
    img2.onclick = function(){
        modal.style.display = "block";
        modalImg.src = src2;
        captionText.innerHTML = alt2;
    }

    var src3 = "/images/piyushcricketer.jpg";
    var alt3 = "Piyush Chawla (Born 24 December 1988 from Aligarh) is an Indian cricketer who has played for the Indian national cricket team. He has also played for the India U-19 team and the Central Zone. He is seen as a leg-spinning all-rounder in domestic cricket, but plays as a specialist bowler in international cricket.";
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img3 = document.getElementById('img3');
    img3.onclick = function(){
        modal.style.display = "block";
        modalImg.src = src3;
        captionText.innerHTML = alt3;
    }

    var src4 = "/images/temp1.jpg";
    var alt4 = "Ravindra Jain (28 February 1944 – 9 October 2015) was an Indian music composer and lyricist. He won the Filmfare Best Music Director Award in 1985. He was born blind and hailed from Aligarh. He was a role model for many people as he overcame his disability of blindness. His first film, Kanch Aur Heera, was released on 31 July 1972.";
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img4 = document.getElementById('img4');
    img4.onclick = function(){
        modal.style.display = "block";
        modalImg.src = src4;
        captionText.innerHTML = alt4;
    };

    var src5 = "/images/Chandrachur-Singh.jpg";
    var alt5 = "Chandrachur Singh is an Indian actor, who works in Bollywood films. He won the Filmfare Award for Best Male Debut for his performance in Maachis. His father is an ex-MP from Khair, Aligarh, Uttar Pradesh and his mother is the daughter of the Maharaja of Bolangir in Odisha. He was a music teacher in Doon School before his acting career took off.";
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img5 = document.getElementById('img5');
    img5.onclick = function(){
        modal.style.display = "block";
        modalImg.src = src5;
        captionText.innerHTML = alt5;
    };

    var src6 = "/images/Javed_Aktar.jpg";
    var alt6 = "Javed Akhtar (born 17 January 1945) is an Indian poet, lyricist and screenwriter. Akhtar is a mainstream writer and some of his most successful work was carried out with Salim Khan as half of the script-writing duo credited as Salim-Javed between 1971 and 1982. He is a recipient of the Padma Shri (1999), Padma Bhushan (2007), the Sahitya Akademi Award as well as five National Film Awards.";
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img6 = document.getElementById('img6');
    img6.onclick = function(){
        modal.style.display = "block";
        modalImg.src = src6;
        captionText.innerHTML = alt6;
    };

    var src7 = "/images/Hyder.jpg";
    var alt7 = "Qurratulain Hyder (20 January 1927 – 21 August 2007 from Aligarh) was an influential Indian Urdu novelist and short story writer, an academic, and a journalist. One of the most outstanding literary names in Urdu literature, she is best known for her magnum opus, Aag Ka Darya (River of Fire), a novel first published in Urdu in 1959, from Lahore, Pakistan, that stretches from the 4th century BC to post partition of India.";
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img7 = document.getElementById('img7');
    img7.onclick = function(){
        modal.style.display = "block";
        modalImg.src = src7;
        captionText.innerHTML = alt7;
    };

    var src8 = "/images/gauhar_raza.jpg";
    var alt8 = "Gauhar Raza (born 17 August 1956) is an Indian scientist by profession, and a leading Urdu poet, social activist and documentary filmmaker working to popularize the understanding of science among general public, known for his films like Jung-e-Azadi, on the India's First War of Independence, and Inqilab (2008) on Bhagat Singh.He was also the honorary director of Jahangirabad Media Institute.";
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img8 = document.getElementById('img8');
    img8.onclick = function(){
        modal.style.display = "block";
        modalImg.src = src8;
        captionText.innerHTML = alt8;
    };

    var src9 = "/images/paytm.jpg";
    var alt9 = "Vijay Shekhar Singh Sharma is an Indian entrepreneur and founder of mobile payments company, Paytm.Sharma was born in Aligarh, Uttar Pradesh. He cites Alibaba's founder Jack Ma and Masayoshi Son of Softbank as his inspirations. He started college at the age of 15. In 1997, while in college, started the website indiasite.net and sold it two years later for $1 million.";
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img9 = document.getElementById('img9');
    img9.onclick = function(){
        modal.style.display = "block";
        modalImg.src = src9;
        captionText.innerHTML = alt9;
    };

    var src10 = "/images/Kanika-Maheshwari.jpg";
    var alt10 = "Kanika Maheshwari (born 24 April 1981) is an Indian television actress. She is best known for her roles in serials like Kahaani Ghar Ghar Kii, Raja Ki Aayegi Baraat, Kabhi Aaye Na Judaai, Viraasat, Geet - Hui Sabse Parayi and Diya Aur Baati Hum. Kanika won Zee Gold Awards (2012-2013) and Star Parivaar Award (2012) for Best Actress in a Negative Role of Meenakshi in Diya Aur Baati Hum. She was born in Aligarh from where her family moved to New Delhi, she is the only child of her parents.";
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img10 = document.getElementById('img10');
    img10.onclick = function(){
        modal.style.display = "block";
        modalImg.src = src10;
        captionText.innerHTML = alt10;
    };

    var src11 = "/images/gopal.jpg";
    var alt11 = "Gopaldas Saxena 'Neeraj (popularly known as Niraj or Neeraj) (born 1925) is a poet and author of Hindi literature. He is also a famous poet of English Kavi sammelan. He was born in the village of Puravali near Mahewa of Etawah in Uttar Pradesh, India on 4 January 1924.[citation needed] He wrote under the pen name 'Neeraj'. His style is considered easy to understand, but has also been compared with high quality Hindi literature. He was awarded Padma Shri in 1991 and Padma Bhushan in 2007.";
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img11 = document.getElementById('img11');
    img11.onclick = function(){
        modal.style.display = "block";
        modalImg.src = src11;
        captionText.innerHTML = alt11;
    };

    var src12 = "/images/shadkhan.jpg";
    var alt12 = "Shahid Khan also known as Shad Khan, is a Pakistani-American billionaire and business tycoon. He is the owner of the Jacksonville Jaguars of the National Football League (NFL), the English Football League Championship team Fulham F.C., and automobile parts manufacturer Flex-N-Gate in Urbana, Illinois.";
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img12 = document.getElementById('img12');
    img12.onclick = function(){
        modal.style.display = "block";
        modalImg.src = src12;
        captionText.innerHTML = alt12;
    };

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
</script>

</body>
</html>