<!DOCTYPE html>
<html>
<title>Hotel Deals</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/std.css">
    <link rel="stylesheet" href="/stylesheets/fonts/fontsOswald.css">
    <link rel="stylesheet" href="/stylesheets/fonts/fontsOpenSans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/deals.css">
    <style>
        .mySlides {display:none}
        .demo {cursor:pointer}
    </style>
</head>
<body bgcolor="#d3d3d3">

<div>
    <% include template/navigationBar.ejs %>
</div>

<div class="std-container std-padding std-black" style="text-align: center">
    <h4>Hotel Deals</h4>
</div>

<div style="max-width:500px; max-height: 400px;">
    <img class ="mySlides" src="images/events9.jpg" width="1400px" height="400px">
    <img class ="mySlides" src="images/events10.jpg" width="1400px" height="400px">
    <img class ="mySlides" src="images/events11.jpg" width="1400px" height="400px">
    <img class ="mySlides" src="images/events12.jpg" width="1400px" height="400px">

    <button class="w3-button w3-black w3-display-left" onclick="tempDivs(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" onclick="tempDivs(1)">&#10095;</button>

    <div class="w3-row-padding w3-section" style="width:1400px;">
        <div class="w3-col s4" style="width:330px;">
            <img class="demo w3-opacity w3-hover-opacity-off" src="images/events9.jpg" style="width:100%" onclick="currentDiv(1)">
        </div>
        <div class="w3-col s4" style="width:330px;">
            <img class="demo w3-opacity w3-hover-opacity-off" src="images/events10.jpg" style="width:100%" onclick="currentDiv(2)">
        </div>
        <div class="w3-col s4" style="width:330px;">
            <img class="demo w3-opacity w3-hover-opacity-off" src="images/events11.jpg" style="width:100%" onclick="currentDiv(3)">
        </div>
        <div class="w3-col s4" style="width:335px;">
            <img class="demo w3-opacity w3-hover-opacity-off" src="images/events12.jpg" style="width:100%" onclick="currentDiv(4)">
        </div>
    </div>
</div>

<script>
    var myIndex = 0;
    carousel();
    var slideIndex = 1;

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 3000); // Change image every 3 seconds
    }

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function tempDivs(n) {
        testDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
        }
        x[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " w3-opacity-off";
    }

    function testDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }
</script>

</body>
</html>