<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/default.css'/>
</head>
<body bgcolor="White" height="100%">

<div>
    <% include template/navigationBar.ejs %>
</div>
<div class="std-top-row">
    <div class="std-section-bleed" style="height: 720px">
        <div class="hero-image std-parallax" style="background-image: url('../images/banners/giphy2.gif');">
            <div class="hero-text" style="font-family: 'Adobe Caslon Pro' ">
                <h3 style="color: white">Locki'n City</h3>
                <h1 style="font-size: 90px; padding: 0; -webkit-margin-before: 0; -webkit-margin-after: 0">
                    ALIGARH

                </h1>
            </div>
        </div>
    </div>
    <div class="std-section-fullWidth" style="padding-top: 3%; position: relative">
        <div class="std-col-12 page-slot" style="background-image: url('../images/banners/attraction.jpg')">
            <div class="std-col-4 page-slot-content">
                <h1 style="font-size: 40px">
                    ATTRACTION
                </h1>
                <h4>
                    Does code completion work for any classes? – Tim Biegeleisen Apr 18 '15 at 14:55
                </h4>
            </div>
            <div class="caption std-col-3">
                <a href="/attraction">
                    <span class="border">More Info</span>
                </a>
            </div>
        </div>
        <div class="std-col-12 page-slot" style="background-image: url('../images/banners/restaurant4.jpg')">
            <div class="std-col-4 page-slot-content">
                <h1 style="font-size: 40px">
                    RESTAURANT
                </h1>
            </div>
            <div class="caption std-col-3">
                <a href="/restaurant">
                    <span class="border">More Info</span>
                </a>
            </div>
        </div>
    </div>
    <div class="std-col-12" style="background-color: #f1f1f1">
        <div class="center">
            <div class="std-col-4">
                <a href="/honour">
                    <div class="iconDiv">
                        <img src="/images/brandLogo/hero-spongebob.png"/>
                    </div>
                    <div class="iconCaption">
                        <h2>
                            Heroes
                        </h2>
                    </div>
                </a>
            </div>
            <div class="std-col-4">
                <a href="/podUpdated">
                    <div class="iconDiv">
                        <img src="/images/brandLogo/photographer.png"/>
                    </div>
                    <div class="iconCaption">
                        <h2>
                            Picture Of the Day
                        </h2>
                    </div>
                </a>
            </div>
            <div class="std-col-4">
                <a href="">
                    <div class="iconDiv">
                        <img src="/images/brandLogo/Quesadilla.png"/>
                    </div>
                    <div class="iconCaption">
                        <h2>
                            Receipe Of the Week
                        </h2>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="std-section-bleed">
        <hr style="border: dotted transparent">
        <div class="bgimg-2">
            <div class="caption">
            </div>
        </div>
    </div>
    <div class="std-section-fullWidth">
        <div class="std-col-12 page-slot" style="background-image: url('../images/banners/shopping1_1.jpg')">
            <div class="std-col-4 page-slot-content">
                <h1 style="font-size: 40px">
                    SHOPPING
                </h1>
                <h4>
                    Can IntelliJ detect joda-time in your code (i.e. does your code compile in the IDE)
                </h4>
            </div>
            <div class="caption std-col-3">
                <a href="/shop">
                    <span class="border">More Info</span>
                </a>
            </div>
        </div>
        <div class="std-col-12" style="background-image: url('../images/banners/hotels3.jpg'); height: 500px; background-size: 100% 100%; background-repeat: no-repeat; background-position: center;">
            <div class="std-col-4" style="position: relative; left:50%; top: 50%; transform: translate(-50%, -50%); color: white; background-color: #1f1f21; opacity: 0.75;">
                <h1 style="font-size: 40px">
                    HOTELS
                </h1>
                <h4>
                    Does code completion work for any classes? – Tim Biegeleisen Apr 18 '15 at 14:55
                </h4>
            </div>
            <div class="caption std-col-3">
                <a href="/hotel">
                    <span class="border">More Info</span>
                </a>
            </div>
        </div>
    </div>
    <div class="std-col-12" style="background-color: #f1f1f1">
        <div class="center">
            <div class="std-col-4">
                <a href="/neet">
                    <div class="iconDiv">
                        <img src="/images/brandLogo/scholar.png"/>
                    </div>
                    <div class="iconCaption">
                        <h2>
                            Test Series
                        </h2>
                    </div>
                </a>
            </div>
            <div class="std-col-4">
                <a href="/justforfun">
                    <div class="iconDiv">
                        <img src="/images/brandLogo/fun.png"/>
                    </div>
                    <div class="iconCaption">
                        <h2>
                            Fun Zone
                        </h2>
                    </div>
                </a>
            </div>
            <div class="std-col-4">
                <a href="/todayinhistory">
                    <div class="iconDiv">
                        <img src="/images/brandLogo/history.png"/>
                    </div>
                    <div class="iconCaption">
                        <h2>
                            Today's History
                        </h2>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="std-section-bleed">
        <hr style="border:dotted transparent">
        <div class="bgimg-3">
            <div class="caption">
            </div>
        </div>
    </div>
    <div class="std-section-fullWidth">
        <div class="std-col-12 page-slot" style="background-image: url('../images/banners/events5_5.jpg')">
            <div class="std-col-4 page-slot-content">

                <h1 style="font-size: 40px">
                    EVENTS
                </h1>
                <h4>
                    Can IntelliJ detect joda-time in your code
                </h4>
            </div>
            <div class="caption std-col-3">
                <a href="/event">
                    <span class="border">More Info</span>
                </a>
            </div>
        </div>
        <div class="std-col-12 page-slot" style="background-image: url('../images/banners/education11.jpg')">
            <div class="std-col-4 page-slot-content">
                <h1 style="font-size: 40px">
                    EDUCATION
                </h1>
                <h4>
                    Can IntelliJ detect joda-time
                </h4>
            </div>
            <div class="caption std-col-3">
                <a href="/study">
                    <span class="border">study</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="indexhotelbackground">
    <div>
        <% include template/footer.ejs %>
    </div>
</div>
</body>
</html>