<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/default.css'/>
</head>
<body bgcolor="White" height="100%">

<div>
    <% include template/navigationBar.ejs %>
</div>
<div class="std-top-row">
    <div class="std-section-bleed" id="hero">
        <div class="hero-image std-parallax">

            <div class="hero-text">
                Aligarh City
            </div>
        </div>
    </div>
    <div class="std-section-fullWidth" style="padding-top: 3%; position: relative">
        <div class="std-col-12 page-slot" style="background-image: url('../images/banners/hardwarelocks.jpeg')">
            <div class="std-col-4 page-slot-content">
                <h1>
                    HARDWARE & LOCKS
                </h1>
                <h4>
                    Our world identity!
                </h4>
            </div>
            <div class="caption std-col-3">
                <a href="/comingsoon">
                    <button class="button">More Info</button>
                </a>
            </div>
        </div>
        <div class="std-col-12 page-slot restaurant">
            <div class="std-col-4 page-slot-content">
                <h1>
                    RESTAURANT
                </h1>
                <h4>One thousand flavors in one place.</h4>
            </div>
            <div class="caption std-col-3">
                <a href="/restaurantnew">
                    <button class="button">More Info</button>
                </a>
            </div>
        </div>
    </div>

    <div class="std-section-bleed">
        <hr style="border: dotted transparent">
        <div class="bgimg-2">
            <div class="caption">
            </div>
        </div>
    </div>
    <div class="std-section-fullWidth">
        <div class="std-col-12 page-slot" style="background-image: url('../images/banners/shopping1_1.jpg')">
            <div class="std-col-4 page-slot-content">
                <h1>
                    SHOPPING
                </h1>
                <h4>
                    Shop here, and shop everywhere!
                </h4>
            </div>
            <div class="caption std-col-3">
                <a href="/shopnew">
                    <button class="button">More Info</button>
                </a>
            </div>
        </div>
        <div class="std-col-12 page-slot" style="background-image: url('../images/banners/hotels3.jpg');">
            <div class="std-col-4 page-slot-content">
                <h1>
                    HOTELS
                </h1>
                <h4>
                    Great Location, Service and Stay.
                </h4>
            </div>
            <div class="caption std-col-3">
                <a href="/hotel">
                    <button class="button">More Info</button>
                </a>
            </div>
        </div>
    </div>
    <div class="std-section-bleed">
        <hr style="border:dotted transparent">
        <div class="bgimg-3">
            <div class="caption">
            </div>
        </div>
    </div>
    <div class="std-section-fullWidth">
        <div class="std-col-12 page-slot" style="background-image: url('../images/banners/events5_5.jpg')">
            <div class="std-col-4 page-slot-content">

                <h1>
                    EVENTS
                </h1>
                <h4>
                    Everything happening around you is here!
                </h4>
            </div>
            <div class="caption std-col-3">
                <a href="/event">
                    <button class="button">More Info</button>
                </a>
            </div>
        </div>
        <div class="std-col-12 page-slot" style="background-image: url('../images/banners/education11.jpg')">
            <div class="std-col-4 page-slot-content">
                <h1>
                    EDUCATION
                </h1>
                <h4>
                    Education changes your better today into best tomorrow.
                </h4>
            </div>
            <div class="caption std-col-3">
                <a href="/study">
                    <button class="button">More Info</button>
                </a>
            </div>
        </div>
        <div class="std-col-12 page-slot" style="background-image: url('../images/banners/attraction.jpg')">
            <div class="std-col-4 page-slot-content">
                <h1>
                    ATTRACTION
                </h1>
                <h4>
                    Places to visit when you're here!
                </h4>
            </div>
            <div class="caption std-col-3">
                <a href="/attraction">
                    <button class="button">More Info</button>
                </a>
            </div>
        </div>
        <div class="std-col-12" style="background-color: #f1f1f1">
            <div class="center">
                <div class="std-col-4">
                    <a href="/honour">
                        <div class="iconDiv">
                            <img src="/images/brandLogo/hero-spongebob.png"/>
                        </div>
                        <div class="iconCaption">
                            <h2>
                                Heroes from Aligarh
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="std-col-4">
                    <a href="/podUpdated">
                        <div class="iconDiv">
                            <img src="/images/brandLogo/photographer.png"/>
                        </div>
                        <div class="iconCaption">
                            <h2>
                                Picture Of the Day
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="std-col-4">
                    <a href="/recipe">
                        <div class="iconDiv">
                            <img src="/images/brandLogo/Quesadilla.png"/>
                        </div>
                        <div class="iconCaption">
                            <h2>
                                Receipe Of the Week
                            </h2>
                        </div>
                    </a>
                </div>
                <!--<div class="std-col-2">
                    <a href="/neet">
                        <div class="iconDiv">
                            <img src="/images/brandLogo/scholar.png"/>
                        </div>
                        <div class="iconCaption">
                            <h2>
                                Test Series
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="std-col-2">
                    <a href="/justforfun">
                        <div class="iconDiv">
                            <img src="/images/brandLogo/fun.png"/>
                        </div>
                        <div class="iconCaption">
                            <h2>
                                Fun Zone
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="std-col-2">
                    <a href="/todayinhistory">
                        <div class="iconDiv">
                            <img src="/images/brandLogo/history.png"/>
                        </div>
                        <div class="iconCaption">
                            <h2>
                                Today's History
                            </h2>
                        </div>
                    </a>
                </div>-->
            </div>
        </div>

        <div class="std-col-12" style="background-color: #f1f1f1">
            <div class="center">



            </div>
        </div>

    </div>
</div>
<div class="indexhotelbackground">
    <div>
        <% include template/footer.ejs %>
    </div>
</div>
</body>
</html>