<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body bgcolor="White" height="100%">
<table height="100%" width="100%" border=1>
  <tr width="100%">
    <td width="100%" height="100%">
      <table width="100%" height="100%"  background="/images/aligarhCity.gif" border=1>
        <tr width="100%" height="100%">
          <td width="100%" height="100%">
              <% include template/header.ejs%>
            <h1 align="center"><img src="/images/aligarh.png"  height="450" width="1000"></h1>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr width="100%" height="10%">
    <td align="center">
      <table width="100%" height="100%"  border=1>
        <tr width="100%" height="100%">
          <td height="100%" colspan="3">
            <a href="/restaurant">
              <img src="/images/restaurant-background.jpg" border=3 height="100%" width="100%"></img>
            </a>
          </td>
        </tr>
        <tr width="100%" height="100%" >
          <td width="33%" height="200">
            Placeholders
          </td>
          <td width="33%" height="200">
            Placeholders
          </td>
          <td width="33%" height="200">
            Placeholders
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr width="100%" height="10%">
    <td>
      <table width="100%" height="100%" border=1>
        <tr width="100%" height="100%">
          <td height="100%" colspan="3">
            <a href="/shop">
              <img src="/images/shopping-background.jpg" border=3 height="100%" width="100%"></img>
            </a>
          </td>
        </tr>
        <tr width="100%" height="100%" >
          <td width="33%" height="200">
            Placeholders
          </td>
          <td width="33%" height="200">
            Placeholders
          </td>
          <td width="33%" height="200">
            Placeholders
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr width="100%" height="10%">
    <td>
      <table width="100%" height="100%" border=1>
        <tr width="100%" height="100%">
          <td height="100%" colspan="3">
            <a href="/hotel">
              <img src="/images/hotels.jpg" border=3 height="100%" width="100%"></img>
            </a>
          </td>
        </tr>
        <tr width="100%" height="100%" >
          <td width="33%" height="200">
            Placeholders
          </td>
          <td width="33%" height="200">
            Placeholders
          </td>
          <td width="33%" height="200">
            Placeholders
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr width="100%" height="10%">
    <td>
      <table width="100%" height="100%" border=1>
        <tr width="100%" height="100%">
          <td height="100%" colspan="3">
            <a href="/event">
              <img src="/images/Events.png" border=3 height="100%" width="100%"></img>
            </a>
          </td>
        </tr>
        <tr width="100%" height="100%" >
          <td width="33%" height="200">
            Placeholders
          </td>
          <td width="33%" height="200">
            Placeholders
          </td>
          <td width="33%" height="200">
            Placeholders
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>