<!DOCTYPE html>

<!DOCTYPE html>
<html xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/shop.css'/>
    <link rel="stylesheet" href="/stylesheets/std.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body bgcolor="White" height="100%">

<div>
    <% include template/navigationBar.ejs %>
</div>
<div class="indexAligarhbackground">
    <!--<h1 align="center"><span><img align="center" class="indexAligarhSignature" src="/images/aligarh.png"></span></h1>-->
</div>

<div class="parent std-row-padding">
    <a href="/attraction" style="background-color:transparent;border-color: transparent;">
        <div class="indexAttractionbackground"
             style="background-image: url('../images/shop/tourism1.jpg');">
            <div class="linktext"
                 style="background-color: black;height:50px;width: 250px;padding-left: 10px;margin-left: 10px;position: static; ">
                <h2>
				<span style="color: white;font-family: cursive;text-align: start; display: block;margin-top: 1rem;">
					ATTRACTION
				</span>
                </h2>
            </div>
        </div>
    </a>
</div>

<div class="parent std-row-padding">
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/picture_of_the_day/picoftheday.gif');background-position-y: 50%; background-size: cover; background-color: black; "  title="Photography Enthusiast !! Share the Best in you.">
        <div class="linktext">
            <h6>
        <span style="color: black;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
                Attraction
        </span>
                <span style="color: black;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
                Picture(s) of the day
        </span>
                <a class="moreinfo" style="color: black;" href="/podUpdated">More Info</a>
            </h6>
        </div>
    </div>
    <div class="std-col m3 commonbackground space" style="background-color: black;background-image: url('../images/question-mark.jpg'); background-size: contain;">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Our
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					 Heroes !!!
				</span>
                <a class="moreinfo" href="/honour">More Info</a>
            </h6>
        </div>

    </div>
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/comingsoon/coming-soon-7.gif'); background-size: contain; background-color: black;">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Aligarh
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Smart City
				</span>
                <a class="moreinfo" href="#">More Info</a>
            </h6>
        </div>
    </div>
</div>

<div class="parent std-row-padding">
    <a href="/restaurant" style="background-color:transparent;border-color: transparent;">
        <div class="indexrestaurantbackground"
             style="background-image: url('../images/restaurant.jpg');">
            <div class="linktext"
                 style="background-color: black;height:50px;width: 250px;padding-left: 10px;margin-left: 10px;position: static; ">
                <h2>
				<span style="color: white;font-family: cursive;text-align: start;bottom: 10px; display: block;margin-bottom: 10px;">
					restaurant
				</span>
                </h2>
            </div>
        </div>
    </a>
</div>
<div class="parent std-row-padding">
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/Deal1.gif');">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Restaurant
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Seasonal Deals
				</span>
                <a class="moreinfo" href="/restaurantdeals">More Info</a>
            </h6>
        </div>
    </div>
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/comingsoon/coming-soon-8.gif'); background-size: contain;background-color: black;">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					<!--Restaurant-->
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					<!--News of the Week-->
				</span>
                <!--<a class="moreinfo" href="#">More Info</a>-->
            </h6>
        </div>

    </div>
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/recepie.jpeg');">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Restaurant
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Recepie of the week
				</span>
                <a class="moreinfo" href="#">More Info</a>
            </h6>
        </div>

    </div>
</div>
<div class="parent std-row-padding">
    <a href="/shop" style="background-color:transparent;border-color: transparent;">
        <div class="indexshoppingbackground"
             style="background-image: url('../images/shopping-background.jpg');">
            <div class="linktext"
                 style="height:50px;width: 250px;padding-left: 10px;margin-left: 10px;position: static; ">
                <!--<h2>
				<span style="color: white;font-family: cursive;text-align: start;bottom: 10px; display: block;margin-bottom: 10px;">
					Shopping
				</span>
                </h2>-->
            </div>
        </div>
    </a>
</div>
<div class="parent std-row-padding">
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/Deal3.gif');background-size: cover;">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Shopping
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Seasonal Deals
				</span>
                <a class="moreinfo" href="/shoppingdeals">More Info</a>
            </h6>
        </div>

    </div>
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/comingsoon/coming-soon-2.gif'); background-size: contain;background-color: black;">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					<!--Shopping-->
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					<!--Picture of the day-->
				</span>
                <!--<a class="moreinfo" href="#">More Info</a>-->
            </h6>
        </div>

    </div>
    <div class="std-col m3 commonbackground space" style="background-image:url('../images/comingsoon/dyk-1.gif'); background-size: cover;">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					<!--Shopping-->
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					<!--Levis-->
				</span>
                <a class="moreinfo" style="color: black;" href="/didyouknow">More Info</a>
            </h6>
        </div>

    </div>
</div>
<div class="parent std-row-padding">
    <a href="/hotel" style="background-color:transparent;border-color: transparent;">
        <div class="indexhotelbackground"
             style="background-image: url('../images/hotels.jpg');">
            <div class="linktext"
                 style="height:50px;width: 250px;padding-left: 10px;margin-left: 10px;position: static; ">
                <!--<h2>
				<span style="color: white;font-family: cursive;text-align: start;bottom: 10px; display: block;margin-bottom: 10px;">
					Shopping
				</span>
                </h2>-->
            </div>
        </div>
    </a>
</div>
<div class="parent std-row-padding">
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/Deal2.gif');">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Hotels
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Deal of the day
				</span>
                <a class="moreinfo" href="/hoteldeals">More Info</a>
            </h6>
        </div>

    </div>
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/comingsoon/Today-In-History2.jpg');background-size: contain;background-color: black;">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					<!--Shopping-->
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align:center;bottom: 15px; display: block;margin-bottom: 20px;">
					<p id='time'><%=datetime%></p>
				</span>
                <a class="moreinfo" href="/todayinhistory">More Info</a>
            </h6>
        </div>

    </div>
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/comingsoon/coming-soon-3.gif'); background-size: contain; background-color: black;">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					<!--Shopping-->
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					<!--Levis-->
				</span>
                <!--<a class="moreinfo" href="#">More Info</a>-->
            </h6>
        </div>

    </div>
</div>
<div class="parent std-row-padding">
    <a href="/event" style="background-color:transparent;border-color: transparent;">
        <div class="indexhotelbackground"
             style="background-image: url('../images/Events.png');">
            <div class="linktext"
                 style="height:50px;width: 250px;padding-left: 10px;margin-left: 10px;position: static; ">
                <!--<h2>
				<span style="color: white;font-family: cursive;text-align: start;bottom: 10px; display: block;margin-bottom: 10px;">
					Shopping
				</span>
                </h2>-->
            </div>
        </div>
    </a>
</div>
<div class="parent std-row-padding">
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/comingsoon/entertainment-2.gif'); background-size: cover; background-color: black;">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Entertainment
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Just for Fun
				</span>
                <a class="moreinfo" href="/justforfun">More Info</a>
            </h6>
        </div>

    </div>
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/comingsoon/coming-soon-4.gif'); background-size: contain; background-color: white;">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					<!--Entertainment-->
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					<!--Blackberry-->
				</span>
                <!--<a class="moreinfo" href="#">More Info</a>-->
            </h6>
        </div>

    </div>
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/comingsoon/coming-soon-5.gif'); background-size: contain; background-color: black;">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					<!--Shopping-->
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					<!--Levis-->
				</span>
                <!--<a class="moreinfo" href="#">More Info</a>-->
            </h6>
        </div>

    </div>
</div>
<div class="parent std-row-padding">
    <a href="/study" style="background-color:transparent;border-color: transparent;">
        <div class="indexEducationbackground"
             style="background-image: url('../images/education-background.jpg');height: 450px">
            <div class="background-top-text"
                 style="background-color: White;height:50px;width: 250px;padding-left: 10px;margin-left: 10px; ">
                <h2>
				<span style="color: black;font-family: cursive;text-align: start;bottom: 10px; display: block;margin-bottom: 10px;">
					<b>Education</b>
				</span>
                </h2>
            </div>
        </div>
    </a>
</div>
<div class="parent std-row-padding">
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/comingsoon/practice-2.jpg'); background-size: cover; background-color: black;">
        <div class="linktext">
            <h6>
				<span style="color: #eeaa00;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Education
				</span>
                <span style="color: #eeaa00;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					NEET Sample Test Paper
				</span>
                <a class="moreinfo" href="/neet">More Info</a>
            </h6>
        </div>

    </div>
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/comingsoon/practice-1.gif'); background-size: contain; background-color: black;">
        <div class="linktext">
            <h6>
				<span style="color: #eeaa00;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Education
				</span>
                <span style="color: #eeaa00;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Class X & XII Sample Test
				</span>
                <a class="moreinfo" href="#">More Info</a>
            </h6>
        </div>

    </div>
    <div class="std-col m3 commonbackground space" style="background-image: url('../images/comingsoon/QuestionMark.jpg'); background-size: contain; background-color: black;">
        <div class="linktext">
            <h6>
				<span style="color: #eeaa00;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Education
				</span>
                <span style="color: #eeaa00;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Engineering Sample Test Paper
				</span>
                <a class="moreinfo" href="/engtestpaper">More Info</a>
            </h6>
        </div>

    </div>
</div>
<div class="parent std-row-padding">
        <div class="indexhotelbackground">
            <div>
                <% include template/footer.ejs %>
            </div>
        </div>
</div>
</body>
</html>