<!DOCTYPE html>
<html>
<title>Kwality Snacke Shoppe</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/standards.css">
    <link rel="stylesheet" href="/stylesheets/kalasaree.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body bgcolor="#f3f3f3" style="text-align: start">

<div>
    <% include template/navigationBar.ejs %>
</div>
<!-- Image header -->
<div class="std-top-row">

    <!--1st Row-->
    <div class="std-section-bleed">

        <!--Start Slide Show-->
        <div class="slideshow-container">

            <div class="slides fade">
                <div class="numbertext">1 / 3</div>
                <img src="/images/shop/kala4.jpg">
                <div class="text">Branded Sarees</div>
            </div>

            <div class="slides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/images/shop/kala2.jpg">
                <div class="text">Trending Clothing</div>
            </div>

            <div class="slides fade">
                <div class="numbertext">3 / 3</div>
                <img src="/images/shop/kala6.jpg">
                <div class="text">Collections</div>
            </div>

            <a class="prev-btn" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next-btn" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <!--End Slide Show-->
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <div class="hero-text">Master Saree Center</div>

    </div>

    <!-- Grid -->
    <div class="std-section-fullWidth" style="margin-top: 2%">

        <!-- About/Information menu -->
        <div class="std-col-12">
            <div class="std-col-4">
                <div class="std-margin-small">
                    <!-- Social Sites -->
                    <div>
                    <div class="aside-heading-section" style="margin-top: 0">
                        <h2>Connect With Us</h2>
                    </div>
                    <div class="aside-section std-col-12 std-div-white" style="font-size: 2rem">
                        <div class="std-col-3 std-col-t-3">
                            <a href="#" class="fa fa-facebook"></a>
                        </div>
                        <div class="std-col-3 std-col-t-3">
                            <a href="#" class="fa fa-twitter"></a>
                        </div>
                        <div class="std-col-3 std-col-t-3">
                            <a href="#" class="fa fa-youtube"></a>
                        </div>
                        <div class="std-col-3 std-col-t-3">
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                    </div>
                    </div>
                    <hr>

                    <div class="aside-heading-section">
                        <h2>Address</h2>
                    </div>
                    <div class="aside-section std-div-white">
                    <span>
                        <h2>Kala Saree Center</h2>
                        <h4>Center Point<br>Aligarh - 202001 <br> Contact us @ 1234567890<br> Email us: support@kss.com </h4>
                    </span>
                    </div>
                    <hr>

                    <div class="aside-section std-div-white" style="height: 2.5rem">

                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FSHEESHMAHALSAREEPLAZA%2F&amp;
                width=450&amp;layout=standard&amp;action=like&amp;size=small&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId"
                                width="450" height="80" style="border:none;height: 1.25rem;overflow:hidden;"
                                scrolling="no"
                                frameborder="0" allowtransparency="true"></iframe>
                    </div>
                    <!-- Posts -->
                    <!--<div class="aside-section std-div-white">-->
                    <!--<div class="std-container std-black">-->
                    <!--<h2>Our Specials</h2>-->
                    <!--</div>-->
                    <!--</div>-->
                    <hr>

                    <!-- Advertising -->
                    <div class="aside-heading-section">
                        <h2>Videos</h2>
                    </div>
                    <div class="aside-section std-div-white">

                        <div class="fb-video">
                            <iframe width="100%"
                                    src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSHEESHMAHALSAREEPLAZA%2Fvideos%2F1682700585303994%2F&show_text=0&width=360"></iframe>
                        </div>
                    </div>
                    <hr>

                    <div class="aside-heading-section">
                        <h2>Facebook</h2>
                    </div>
                    <div class="aside-section std-div-white">

                        <div class="std-padding-16" style="height: 500px">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FKwalitys-Snack-Shoppe-778433248849270%2F&tabs=timeline&width=940&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            ></iframe>
                        </div>
                    </div>
                    <hr>
                </div>

                <!-- END About/Intro Menu -->
            </div>

            <!-- Blog entries -->
            <div class="std-col-8">

                <div class="std-margin-small">

                    <!-- Blog entry -->

                    <div class="heading-section">
                        <h2>Offer Zone</h2>
                    </div>
                    <div class="std-section-fullWidth std-div-white">

                        <h5>Our Journey, <span class="std-opacity">Article Dated: September 21, 2017</span></h5>
                        <div class="std-justify">
                            <img src="../images/shop/kala.jpg" alt="Adidas" style="width:100%" class="std-padding-16">
                            <p><strong>We are Expending !</strong> Master Saree Centre is expending into multiple areas
                                in Aligarh.</p>
                        </div>

                    </div>

                    <!-- END BLOG ENTRIES -->

                    <div class="heading-section" style="margin-top: 1%">
                        <h2>Features</h2>
                    </div>
                    <div class="std-section-fullWidth std-div-white">
                        <table class="features-wrapper std-table std-striped std-bordered std-border std-hoverable std-white">
                            <tr class="feature clearfix">
                                <td class="feature-category">
                                    Established From
                                </td>
                                <td class="feature-name">1990<br>

                                </td>
                            </tr>
                            <tr class="feature clearfix">
                                <td class="feature-category">
                                    Accessibility
                                </td>
                                <td class="feature-name">Wheelchair Accessible<br></td>
                            </tr>

                            <tr class="feature clearfix">
                                <td class="feature-category">
                                    Internet
                                </td>
                                <td class="feature-name">WiFi Available<br></td>
                            </tr>

                            <tr class="feature clearfix">
                                <td class="feature-category">
                                    Miscellaneous
                                </td>
                                <td class="feature-name">Kid Friendly<br></td>
                            </tr>

                            <tr class="feature clearfix">
                                <td class="feature-category">
                                    Payment Types
                                </td>
                                <td class="feature-name">Credit Cards Accepted<br></td>
                            </tr>

                            <tr class="feature clearfix">
                                <td class="feature-category">
                                    Services
                                </td>
                                <td class="feature-name">Multilingual Staff<br>

                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- Google Maps Starts-->
                    <div class="heading-section">
                        <h2>Store Location</h2>
                    </div>
                    <div class="std-section-fullWidth std-div-white">
                        <div id="googleMap" style="width:100%;height:400px;"></div>
                    </div>

                    <!-- Photos -->
                    <div class="heading-section">
                        <h2>Photos</h2>
                    </div>
                    <div id="photo-section" class="std-section-fullWidth std-div-white">

                        <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
                        <div class="std-col-12">
                            <div class="std-col-3 std-col-t-6">
                                <img src="/images/shop/kalaimg.jpg" style="width:100%" onclick="openModal();currentPopup(1)" class="std-hover-opacity">

                            </div>

                            <div class="std-col-3 std-col-t-6">
                                <img src="/images/shop/kalaimg2.jpg" style="width:100%" onclick="openModal();currentPopup(2)" class="std-hover-opacity">

                            </div>

                            <div class="std-col-3 std-col-t-6">
                                <img src="/images/shop/kalaimg3.jpg" style="width:100%" onclick="openModal();currentPopup(3)" class="std-hover-opacity">

                            </div>

                            <div class="std-col-3 std-col-t-6">
                                <img src="/images/shop/kalaimg4.jpg" style="width:100%" onclick="openModal();currentPopup(4)" class="std-hover-opacity">
                            </div>
                        </div>
                    </div>
                </div>


                <!-- END GRID -->
            </div>
        </div>
    </div>


    <!-- END std-content -->
</div>


<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides1">
            <img src="/images/shop/kalaimg.jpg" style="width:100%">
            <div class="prev-btn1" onclick="plusPopup(-1)">&#10094;</div>
            <div class="next-btn1" onclick="plusPopup(1)">&#10095;</div>
        </div>

        <div class="mySlides1">
            <img src="/images/shop/kalaimg2.jpg" style="width:100%">
            <div class="prev-btn1" onclick="plusPopup(-1)">&#10094;</div>
            <div class="next-btn1" onclick="plusPopup(1)">&#10095;</div>
        </div>

        <div class="mySlides1">
            <img src="/images/shop/kalaimg3.jpg" style="width:100%">
            <div class="prev-btn1" onclick="plusPopup(-1)">&#10094;</div>
            <div class="next-btn1" onclick="plusPopup(1)">&#10095;</div>
        </div>

        <div class="mySlides1">
            <img src="/images/shop/kalaimg4.jpg" style="width:100%">
            <div class="prev-btn1" onclick="plusPopup(-1)">&#10094;</div>
            <div class="next-btn1" onclick="plusPopup(1)">&#10095;</div>
        </div>

    </div>
</div>

<script>
    // Toggle between hiding and showing blog replies/comments
    //document.getElementById("myBtn").click();

    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("std-show") == -1) {
            x.className += " std-show";
        } else {
            x.className = x.className.replace(" std-show", "");
        }
    }

    function likeFunction(x) {
        x.style.fontWeight = "bold";
        x.innerHTML = "✓ Liked";
    }
</script>
<!-- Add Google Maps -->
<script>
    function myMap() {
        myCenter = new google.maps.LatLng(27.8912996, 78.07800440000005);
        var mapOptions = {
            center: myCenter,
            zoom: 12, scrollwheel: false, draggable: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

        var marker = new google.maps.Marker({
            position: myCenter,
        });
        marker.setMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6Pviy7a1tfYcpRZySfCt9qhbVvVbUIJQ&callback=myMap"></script>


<script>
    function openModal() {
        document.getElementById('myModal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    var slideIndex = 1;
    showPopup(slideIndex);

    function plusPopup(n) {
        showPopup(slideIndex += n);
    }

    function currentPopup(n) {
        showPopup(slideIndex = n);
    }

    function showPopup(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides1");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
    }
</script>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");

        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";

    }

</script>
<script>
    var slideIndex = 0;
    showSlidesAutomatically();

    function showSlidesAutomatically() {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlidesAutomatically, 6000); // Change image every 2 seconds
    }
</script>

</body>
</html>

