<!DOCTYPE html>
<html>
<title>Kwality Snacke Shoppe</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/std.css">
    <link rel="stylesheet" href="/stylesheets/standards.css">
    <link rel="stylesheet" href="/stylesheets/restaurants.css">


</head>
<body class="std-light-grey">

<div>
    <% include template/navigationBar.ejs %>
</div>
<!-- Image header -->
<div class="std-top-row">

    <!--1st Row-->
    <div class="std-section-bleed">
        <div class="hero-image"
             style="background-image: url('../images/restaurant/kwalitysnakeshoppe.jpg') ;outline: 5px solid white; outline-offset: -20px; outline-style: double">
            <div class="hero-text">
                <div>
                    <img src="images/kss3.png"/>
                </div>
            </div>
        </div>
    </div>
    <!-- Grid -->
    <div class="std-section-fullWidth" style="margin-top: 2%">

        <!-- About/Information menu -->
        <div class="std-col-12">
            <div class="std-col-4">
                <!-- About Card -->
                <div class="aside-section">
                    <button class="button" onclick="">
                        <span><img src="/images/brandLogo/cannes-lions-logo.png" alt="Image"
                                   style="width:10%; float: left"></span>
                        Visit Website
                    </button>
                    <button class="button" onclick="">
                        <span><img src="/images/brandLogo/facebook-logo.png" alt="Image" style="width:10%; float: left"></span>&nbsp;
                        &nbsp;@Facebook &nbsp;&nbsp;&nbsp;
                    </button>
                    <button class="button" onclick="">
                        <span><img src="/images/brandLogo/twitter-logo.png" alt="Image" style="width:10%; float: left"></span>
                        @Twitter
                    </button>
                    <button class="button" onclick="">
                        <span><img src="/images/brandLogo/instagram-logo.png" alt="Image"
                                   style="width:10%; float: left"></span>
                        @Instagram
                    </button>
                </div>
                <hr>

                <div class="aside-section">
                    <span style="line-height: 30px">
                        <h3 style="display: block">Kwality Snack Shoppe</h3><h4>Center Point<br>Aligarh - 202001 <br> Contact us @ 1234567890
                            <br> Email us: support@kss.com </h4>
                    </span>
                </div>
                <hr>

                <!-- Posts -->
                <div class="std-white std-margin">
                    <div class="std-container std-padding std-black">
                        <h4>Our Specials</h4>
                    </div>
                    <ul class="std-ul std-hoverable std-white">
                        <li style="background-color:ivory; color: #0A416B">
                            <img src="/images/brandLogo/maincourses.png" alt="Image" class="left"
                                 style="width:50px">
                            <h4>Chicken Biryani</h4>
                            <br>
                            <!--<span>BOGO @ 50%</span>-->
                        </li>
                        <li style="background-color: ivory; color: #0A416B">
                            <img src="/images/brandLogo/pies.png" alt="Image" class="left"
                                 style="width:50px">
                            <h4>Paneer lababdar</h4>
                            <br>
                            <!--<span>10% Off on Sarees</span>-->
                        </li>
                        <li style="background-color: ivory; color: #0A416B">
                            <img src="/images/brandLogo/sideDishes.png" alt="Image" class="left"
                                 style="width:50px">
                            <h4>Gobhi Manchurian</h4>
                            <br>
                            <!--<span>50% OFF</span>-->
                        </li>
                        <li style="background-color: ivory; color: #0A416B">
                            <img src="/images/brandLogo/soups.png" alt="Image" class="left"
                                 style="width:50px">
                            <h4>Hakka Noodles</h4>
                            <br>
                            <!--<span>25% OFF</span>-->
                        </li>
                    </ul>
                </div>
                <hr>

                <!-- Advertising -->
                <div class="std-white std-margin">
                    <div class="std-container std-padding std-black">
                        <h4>Videos</h4>
                    </div>
                    <div class="std-padding-16" style="height: 300px">
                        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSHEESHMAHALSAREEPLAZA%2Fvideos%2F1682700585303994%2F&show_text=0&width=360"></iframe>
                    </div>
                </div>
                <hr>

                <div class="std-white std-margin">
                    <div class="std-container std-padding std-black">
                        <h4>
                            Facebook
                        </h4>
                    </div>
                    <div class="std-padding-16" style="height: 600px">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FKwalitys-Snack-Shoppe-778433248849270%2F&tabs=timeline&width=940&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                        ></iframe>
                    </div>
                </div>
                <hr>

                <!-- END About/Intro Menu -->
            </div>
            <!-- Blog entries -->
            <div class="std-col-8">

                <div class="std-white std-margin">

                    <!-- Blog entry -->
                    <div class="std-container std-padding std-black">
                        <h4>Offer Zone</h4>
                    </div>

                    <div class="std-container std-white std-margin std-padding-large">
                        <div class="std-one-fourth-card" id="css">
                            <div data-content="Upcoming Events!" class="image std-div-inside-border">
                                <img src="/images/food1.png"/>
                            </div>
                            <div class="one-fourth-caption">
                                <p>Burgers</p>
                                <p>10% off on ICICI Credit Cards</p>
                            </div>
                        </div>
                        <div class="std-one-fourth-card" id="css">
                            <div data-content="Upcoming Events!" class="image std-div-inside-border">
                                <img src="/images/food1.png"/>
                            </div>
                            <div class="one-fourth-caption">
                                <p>Food Item 2</p>
                                <p>10% off on ICICI Credit Cards</p>
                            </div>
                        </div>
                        <div class="std-one-fourth-card" id="css">
                            <div data-content="Upcoming Events!" class="image std-div-inside-border">
                                <img src="/images/food1.png"/>
                            </div>

                            <div class="one-fourth-caption">
                                <p>Food Item 3</p>
                                <p>10% off on ICICI Credit Cards</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!-- END BLOG ENTRIES -->

                    <div class="std-container std-padding std-black">
                        <h4>MENU</h4>
                    </div>
                    <div class="std-container std-padding">

                        <div class="menu-item">
                            <h2><strong style="float: left; padding-left: 1%">Masala Dosa</strong>
                                <div style="float: right; padding-right: 1%">... Rs 90</div>
                            </h2>
                        </div>
                        <div class="menu-item">
                            <h2><strong style="float: left; padding-left: 1%">Idli Sambhar</strong>
                                <div style="float: right; padding-right: 1%">... Rs 50</div>
                            </h2>
                        </div>
                        <div class="menu-item">
                            <h2><strong style="float: left; padding-left: 1%">Chowmein</strong>
                                <div style="float: right; padding-right: 1%">... Rs 80</div>
                            </h2>
                        </div>
                        <div class="menu-item">
                            <h2><strong style="float: left; padding-left: 1%">Pizza</strong>
                                <div style="float: right; padding-right: 1%">... Rs 200</div>
                            </h2>
                        </div>
                        <div class="menu-item">
                            <h2><strong style="float: left; padding-left: 1%">Garlic Bread</strong>
                                <div style="float: right; padding-right: 1%">... Rs 50</div>
                            </h2>
                        </div>
                        <div class="menu-item">
                            <h2><strong style="float: left; padding-left: 1%">Burger</strong>
                                <div style="float: right; padding-right: 1%">... Rs 40</div>
                            </h2>
                        </div>
                        <div class="menu-item">
                            <h2><strong style="float: left; padding-left: 1%">Masala Dosa</strong>
                                <div style="float: right; padding-right: 1%">... Rs 90</div>
                            </h2>
                        </div>
                        <div class="menu-item">
                            <h2><strong style="float: left; padding-left: 1%">Idli Sambhar</strong>
                                <div style="float: right; padding-right: 1%">... Rs 50</div>
                            </h2>
                        </div>
                        <div class="menu-item">
                            <h2><strong style="float: left; padding-left: 1%">Chowmein</strong>
                                <div style="float: right; padding-right: 1%">... Rs 80</div>
                            </h2>
                        </div>
                        <div class="menu-item">
                            <h2><strong style="float: left; padding-left: 1%">Pizza</strong>
                                <div style="float: right; padding-right: 1%">... Rs 200</div>
                            </h2>
                        </div>
                        <div class="menu-item">
                            <h2><strong style="float: left; padding-left: 1%">Garlic Bread</strong>
                                <div style="float: right; padding-right: 1%">... Rs 50</div>
                            </h2>
                        </div>
                        <div class="menu-item">
                            <h2><strong style="float: left; padding-left: 1%">Burger</strong>
                                <div style="float: right; padding-right: 1%">... Rs 40</div>
                            </h2>
                        </div>
                        <!--<img src="/images/brandLogo/restManu.png" style="height: 500px">-->
                    </div>

                    <div class="std-container std-padding std-black" style="margin-top: 1%">
                        <h4>Features</h4>
                    </div>


                    <table class="features-wrapper std-table std-striped std-bordered std-border std-hoverable std-white">
                        <tr class="feature clearfix">
                            <td class="feature-category">
                                Established From
                            </td>
                            <td class="feature-name">1990<br>

                            </td>
                        </tr>
                        <tr class="feature clearfix">
                            <td class="feature-category">
                                Accessibility
                            </td>
                            <td class="feature-name">Wheelchair Accessible<br></td>
                        </tr>

                        <tr class="feature clearfix">
                            <td class="feature-category">
                                Internet
                            </td>
                            <td class="feature-name">WiFi Available<br></td>
                        </tr>

                        <tr class="feature clearfix">
                            <td class="feature-category">
                                Miscellaneous
                            </td>
                            <td class="feature-name">Kid Friendly<br></td>
                        </tr>

                        <tr class="feature clearfix">
                            <td class="feature-category">
                                Payment Types
                            </td>
                            <td class="feature-name">Credit Cards Accepted<br></td>
                        </tr>

                        <tr class="feature clearfix">
                            <td class="feature-category">
                                Services
                            </td>
                            <td class="feature-name">Multilingual Staff<br>

                            </td>
                        </tr>
                    </table>

                </div>

                <!-- Google Maps Starts-->
                <div class="std-white std-margin">
                    <div class="std-container std-padding std-black">
                        <h4>Store Location</h4>
                    </div>
                    <div id="googleMap" style="width:100%;height:400px;"></div>
                </div>

                <!-- Photos -->
                <div id="photo-section" class="std-white std-margin">
                    <div class="std-container std-padding std-black">
                        <h4>Photos</h4>
                    </div>
                    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
                    <div class="std-row-padding std-center">
                        <div class="std-col m3">
                            <img src="/images/restaurant/kwality1.jpg" style="width:100%"
                                 onclick="openModal();currentSlide(1)"
                                 class="std-hover-opacity">
                        </div>

                        <div class="std-col m3">
                            <img src="/images/restaurant/kwality2.jpg" style="width:100%"
                                 onclick="openModal();currentSlide(2)"
                                 class="std-hover-opacity">
                        </div>

                        <div class="std-col m3">
                            <img src="/images/restaurant/kwality3.jpg" style="width:100%"
                                 onclick="openModal();currentSlide(3)"
                                 class="std-hover-opacity">
                        </div>

                        <div class="std-col m3">
                            <img src="/images/restaurant/kwality4.jpg" style="width:100%"
                                 onclick="openModal();currentSlide(4)"
                                 class="std-hover-opacity">
                        </div>
                    </div>
                </div>

                <!-- END GRID -->
            </div>
        </div>
    </div>


    <!-- END std-content -->
</div>

<!-- The Modal -->
<!--<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
</div>-->

<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides">
            <img src="/images/restaurant/kwality1.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="/images/restaurant/kwality2.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="/images/restaurant/kwality3.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="/images/restaurant/kwality4.jpg" style="width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>


</div>

<script>
    // Toggle between hiding and showing blog replies/comments
    //document.getElementById("myBtn").click();

    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("std-show") == -1) {
            x.className += " std-show";
        } else {
            x.className = x.className.replace(" std-show", "");
        }
    }

    function likeFunction(x) {
        x.style.fontWeight = "bold";
        x.innerHTML = "✓ Liked";
    }
</script>
<!-- Add Google Maps -->
<script>
    function myMap() {
        myCenter = new google.maps.LatLng(27.8912996, 78.07800440000005);
        var mapOptions = {
            center: myCenter,
            zoom: 12, scrollwheel: false, draggable: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

        var marker = new google.maps.Marker({
            position: myCenter,
        });
        marker.setMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6Pviy7a1tfYcpRZySfCt9qhbVvVbUIJQ&callback=myMap"></script>

<!-- Add Slide Show -->
<!--<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("std-image");
        if (n > x.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = x.length
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>-->
<!--<script>
    // Get the modal // Common
    var modal = document.getElementById('myModal');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    function fullerimage(value) {
        var image = value;
        var src = "/images/restaurant/kwality" + image + ".jpg";
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        /*var img = document.getElementById('img1');
         img.onclick = function(){*/
        modal.style.display = "block";
        modalImg.src = src;
//        }
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

</script>-->

<script>
    function openModal() {
        document.getElementById('myModal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
    }
</script>

</body>
</html>

