<!DOCTYPE html>
<html>
<title>N.S. Video Films</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/standards.css">
    <link rel="stylesheet" href="/stylesheets/nsvideo.css">
    <link rel="stylesheet" href="/stylesheets/kalasaree.css">
    <link rel="stylesheet" href="/stylesheets/fonts/fontsOswald.css">
    <link rel="stylesheet" href="/stylesheets/fonts/fontsOpenSans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body bgcolor="#d3d3d3" style="text-align: start">

<div>
    <% include template/navigationBar.ejs %>
</div>
<!-- Image header -->
<div class="std-top-row">

    <!--1st Row-->
    <div class="std-section-bleed">

        <!--Start Slide Show-->
        <div class="slideshow-container">

            <div class="slides fade">
                <div class="numbertext">1 / 3</div>
                <img src="/images/NSVideo/mainns.jpg">
            </div>

            <div class="slides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/images/NSVideo/IMG-20171018-WA0009.jpg">
            </div>

            <div class="slides fade">
                <div class="numbertext">3 / 3</div>
                <img src="/images/NSVideo/IMG-20171018-WA0016.jpg">
            </div>

            <a class="prev-btn" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next-btn" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <!--End Slide Show-->
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <div class="hero-text">N.S. VIDEO FILMS</div>

    </div>

    <div class="std-section-fullWidth" style="padding-top: 3%; position: relative">
        <div class="std-col-12">
            <div class="std-col-9">
                <img src="/images/NSVideo/IMG-20171023-WA0009.jpg">
            </div>
            <div class="std-col-3 videotext">
                <h1 class="textns">WEDDING PHOTOGRAPHY</h1>
                <a href="#">
                    <button class="button buttonns" onclick="openModal();currentPopup(1)">More Info</button>
                </a>
            </div>
        </div>
        <div class="std-col-12">
            <div class="std-col-3 videotext">
                <h1 class="textns1">PRE-WEDDING PHOTOGRAPHY</h1>
                <a href="#">
                    <button class="button buttonns" onclick="openModal1();currentPopup1(1)">More Info</button>
                </a>
            </div>
            <div class="std-col-9">
                <img class="imglogo" src="/images/NSVideo/prewedding.jpg">
            </div>
        </div>
    </div>

    <div class="std-section-fullWidth" style="margin-top: 2%">

        <!-- About/Information menu -->
        <div class="std-col-12">
            <div class="std-col-4">
                <div class="std-margin-small">
                    <div>
                        <div class="aside-heading-section" style="margin-top: 0">
                            <h2>Connect With Us</h2>
                        </div>
                        <div class="aside-section std-col-12 std-div-white" style="font-size: 2rem">
                            <img src="/images/NSVideo/IMG-20171018-WA0013.jpg">
                        </div>
                    </div>
                    <hr>
                    <div class="aside-heading-section">
                        <h2>Address</h2>
                    </div>
                    <div class="aside-section std-div-white">
                    <span>
                        <h2>N.S. Video Films</h2>
                        <h4>Sarai hakeem & Sarai Lawaria<br>Aligarh - 202001 <br> Contact us @ 9897259611, 9319970286.
                            <br> Email us: nsvideofilms@gmail.com </h4>
                    </span>
                    </div>
                    <hr>
                    <div class="aside-heading-section">
                        <h2>Facebook</h2>
                    </div>
                    <div class="aside-section std-div-white">

                        <div class="std-padding-16" style="height: 500px">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSHEESHMAHALSAREEPLAZA%2F&tabs=timeline&width=940&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            ></iframe>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="std-col-8">
                <div class="std-margin-small">
                    <div class="heading-section">
                        <h2>Video</h2>
                    </div>
                    <div class="std-section-fullWidth std-div-white">
                        <div class="std-justify" style="height: 599px; width: 100%">
                            <iframe width="100%" height="600" src="https://www.youtube.com/embed/2jSSgpLt99Q"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="heading-section" style="margin-top: 1%">
                        <h2>Features</h2>
                    </div>
                    <div class="std-section-fullWidth std-div-white">
                        <table class="features-wrapper std-table std-striped std-bordered std-border std-hoverable std-white" style="height: 425px;">
                            <tr class="feature clearfix">
                                <td colspan="2" style="font-size: larger" class="feature-category">
                                    * HIGH DEFINITION PHOTOGRAPHY AND VIDEOGRAPHY
                                </td>
                            </tr>
                            <tr class="feature clearfix">
                                <td colspan="2" style="font-size: larger" class="feature-category">
                                    * WE SHARE YOUR MOMENTS AS YOU LIKE.
                                </td>
                            </tr>
                            </tr>
                            <tr class="feature clearfix">
                                <td colspan="2" style="font-size: larger" class="feature-category">
                                    * A DIGITAL PLACE WHERE YOU MAKE TRUST.
                                </td>
                            </tr>
                            <tr class="feature clearfix">
                                <td colspan="2" style="font-size: larger" class="feature-category">
                                    * ENGAGEMENTS, WEDDING PHOTOGRAPHY, PRE - WEDDING PHOTOGRAPHY, MATRIMONIAL PHOTOGRAPHY
                                </td>
                            </tr>
                            <tr class="feature clearfix">
                                <td colspan="2" style="font-size: larger" class="feature-category">
                                    * JAGRAN FUNCTIONS, BIRTHDAY PARTIES, SILVER JUBLEE & GOLDEN JUBLEE PARTIES etc.
                                </td>
                            </tr>
                            <tr class="feature clearfix">
                                <td colspan="2" style="font-size: larger" class="feature-category">
                                    * CANDID DRONE SHOOT, LED WALLS, CINEMETOGRAPHY.
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="myModalwedding" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
        <div class="mySlides2">
            <img class="shopimages" src="/images/NSVideo/IMG-20171023-WA0009.jpg" style="width:100%">
            <div class="prev-btnns" onclick="plusPopup(-1)">&#10094;</div>
            <div class="next-btnns" onclick="plusPopup(1)">&#10095;</div>
        </div>

        <div class="mySlides2">
            <img class="shopimages" src="/images/NSVideo/IMG-20171023-WA0007.jpg" style="width:100%">
            <div class="prev-btnns" onclick="plusPopup(-1)">&#10094;</div>
            <div class="next-btnns" onclick="plusPopup(1)">&#10095;</div>
        </div>

        <div class="mySlides2">
            <img class="shopimages" src="/images/NSVideo/IMG-20171023-WA0008.jpg" style="width:100%">
            <div class="prev-btnns" onclick="plusPopup(-1)">&#10094;</div>
            <div class="next-btnns" onclick="plusPopup(1)">&#10095;</div>
        </div>

        <div class="mySlides2">
            <img class="shopimages" src="/images/NSVideo/IMG-20171018-WA0014.jpg" style="width:100%">
            <div class="prev-btnns" onclick="plusPopup(-1)">&#10094;</div>
            <div class="next-btnns" onclick="plusPopup(1)">&#10095;</div>
        </div>

    </div>
</div>
<div id="myModalprewedding" class="modal">
    <span class="close cursor" onclick="closeModal1()">&times;</span>
    <div class="modal-content">
        <div class="mySlides1">
            <img class="shopimages" src="/images/NSVideo/IMG-20171023-WA0011.jpg" style="width:100%">
            <div class="prev-btnns" onclick="plusPopup1(-1)">&#10094;</div>
            <div class="next-btnns" onclick="plusPopup1(1)">&#10095;</div>
        </div>

        <div class="mySlides1">
            <img class="shopimages" src="/images/NSVideo/IMG-20171023-WA0006.jpg" style="width:100%">
            <div class="prev-btnns" onclick="plusPopup1(-1)">&#10094;</div>
            <div class="next-btnns" onclick="plusPopup1(1)">&#10095;</div>
        </div>

        <div class="mySlides1">
            <img class="shopimages" src="/images/NSVideo/IMG-20171023-WA0005.jpg" style="width:100%">
            <div class="prev-btnns" onclick="plusPopup1(-1)">&#10094;</div>
            <div class="next-btnns" onclick="plusPopup1(1)">&#10095;</div>
        </div>

        <div class="mySlides1">
            <img class="shopimages" src="/images/NSVideo/IMG-20171023-WA0004.jpg" style="width:100%">
            <div class="prev-btnns" onclick="plusPopup1(-1)">&#10094;</div>
            <div class="next-btnns" onclick="plusPopup1(1)">&#10095;</div>
        </div>
    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");

        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";

    }

</script>
<script>
    var slideIndex = 0;
    showSlidesAutomatically();

    function showSlidesAutomatically() {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlidesAutomatically, 6000); // Change image every 2 seconds
    }
</script>
<script>
    function openModal() {
        document.getElementById('myModalwedding').style.display = "block";
    }

    function closeModal() {
        document.getElementById('myModalwedding').style.display = "none";
    }

    var slideIndex = 1;
    showPopup(slideIndex);

    function plusPopup(n) {
        showPopup(slideIndex += n);
    }

    function currentPopup(n) {
        showPopup(slideIndex = n);
    }

    function showPopup(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides2");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
    }
</script>
<script>
    function openModal1() {
        document.getElementById('myModalprewedding').style.display = "block";
    }

    function closeModal1() {
        document.getElementById('myModalprewedding').style.display = "none";
    }

    var slideIndex1= 1;
    showPopup1(slideIndex1);

    function plusPopup1(n) {
        showPopup1(slideIndex1 += n);
    }

    function currentPopup1(n) {
        showPopup1(slideIndex1 = n);
    }

    function showPopup1(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides1");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex1 = 1}
        if (n < 1) {slideIndex1 = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex1-1].style.display = "block";
    }
</script>

</body>
</html>

