<!DOCTYPE html>
<html>
<title>Aligarh City</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/standards.css">
    <link rel="stylesheet" href="/stylesheets/templateU.css"/>
    <link rel="stylesheet" href="/stylesheets/education.css">
    <link rel="stylesheet" href="/stylesheets/pod.css">
</head>
<body class="std-light-grey">

<div>
    <% include template/navigationBar.ejs %>
</div>

<div class="std-top-row" style="text-align: center;">
    <br/>
    <h2><strong>Picture(s) of the Day</strong></h2>
    <br/>
    <h4><strong>Share Your Picture with us at pics@aligarhcity.in</strong>
        <button style="width: 100px;" class="caption-link mediabox" id="myBtn" onclick="getmodal()">SHARE</button>
    </h4>
    <br/>
    <div id="maincontent" class="std-section-bleed std-content" style="outline: 3px solid lightgrey; outline-offset: -12px; background-color: white;">
        <!-- Grid -->
        <!--        <div id="wrapper" style="padding-top: 10px">
                <div class="std-row std-padding std-border">-->
        <!-- Main -->
        <section id="main">
            <!-- Thumbnails -->
            <section class="thumbnails demo-gallery" id="demo-test-gallery" data-pswp-uid="1">
                <div>
                    <a href="#" onclick="fullerimage('01','Let us always meet each other with smile, for the smile is the beginning of love.')" data-author="Samuel Rohl"
                       data-med-size="1024x683" data-med="images/thumbs/01.jpg"
                       data-size="1600x1068">
                        <img src="images/thumbs/01.jpg" alt=""/>
                        <h3 class="textcontent">Let us always meet each other with smile, for the smile is the beginning of love.</h3>

                    </a>
                    <a href="#" onclick="fullerimage('02','Happiness is not something you postpone for the future; it is something you design for the present.')">
                        <img src="images/thumbs/02.jpg" alt=""/>
                        <h3 class="textcontent">Happiness is not something you postpone for the future; it is something you design for the present.
                        </h3>
                    </a>
                </div>
                <div>
                    <a href="#" onclick="fullerimage('03','Share your smile with the world. Its a symbol of friendship and peace.')">
                        <img src="images/thumbs/03.jpg" alt=""/>
                        <h3 class="textcontent">Share your smile with the world. Its a symbol of friendship and peace.</h3>
                    </a>
                    <a href="#" onclick="fullerimage('04','The greatest gift of life is friendship, and I have received it.')">
                        <img src="images/thumbs/04.jpg" alt=""/>
                        <h3 class="textcontent">The greatest gift of life is friendship, and I have received it.</h3>
                    </a>
                    <a href="#" onclick="fullerimage('05','Be happy for this moment. This moment is your life.')">
                        <img src="images/thumbs/05.jpg" alt=""/>
                        <h3 class="textcontent">Be happy for this moment. This moment is your life.</h3>
                    </a>
                </div>
                <div>
                    <a href="#" onclick="fullerimage('06','The most important thing in the world is family and love.')">
                        <img src="images/thumbs/06.jpg" alt=""/>
                        <h3 class="textcontent">The most important thing in the world is family and love.</h3>
                    </a>
                    <a href="#" onclick="fullerimage('07','If opportunity doesnt knock, build a door.')">
                        <img src="images/thumbs/07.jpg" alt=""/>
                        <h3 class="textcontent">If opportunity doesnt knock, build a door.</h3>
                    </a>
                </div>
            </section>

        </section>

        <!-- END std-content -->
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

    <div id="sharemodal" class="modal" style="background-color: whitesmoke; background-image: url('../images/disclaimer.jpg'); display:none;">
        <div style="text-align: center;">
            <h2 style="font-size: 30px;"><strong><u>Picture(s) of the Day</u></strong></h2>
            <br>
            <h1><strong>Disclaimer</strong></h1>
        </div>
        <br>
        <br>
        <div><p>
                The information contained on the website is for general information purposes only.
                <br>
                Aligarh City assumes no responsibility for omissions and the pictures provided to be downloaded by anyone.
                <br>
                In no event shall Aligarh City be liable for any special, direct, indirect, consequential, or incidental damages or any damages.
            </p></div>
        <br>
        <br>
        <button style="width: 150px;" class="caption-link mediabox" id="myBtn" onclick="getgmailbody()">Agree</button>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <button class="caption-link mediabox" style="width: 150px;" id="myBtn2"onclick="getmainbody()">Not Agree</button>
    </div>

</div>

<!-- Scripts  -->

<script>
    // Get the modal // Common
    var modal = document.getElementById('myModal');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    function  fullerimage(value, data) {
        var image = value;
        var src = "/images/fulls/" + image + ".jpg";
        var alt = data;
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        /*var img = document.getElementById('img1');
        img.onclick = function(){*/
        modal.style.display = "block";
        modalImg.src = src;
        captionText.innerHTML = alt;
//        }
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

</script>

<script>

    function getmodal() {
        document.getElementById('sharemodal').style.display = "block";
    }

    function getmainbody() {
        document.getElementById('sharemodal').style.display = "none";
    }

    function getgmailbody()
    {
        window.open('http://www.gmail.com');
        document.getElementById('sharemodal').style.display = "none";
    }

</script>

</body>

</html>