<!DOCTYPE html>
<html>
<title>Aligarh City</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/standards.css">
    <link rel="stylesheet" href="/stylesheets/templateU.css"/>
    <link rel="stylesheet" href="/stylesheets/education.css">
    <link rel="stylesheet" href="/stylesheets/pod.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link rel="stylesheet" href="/stylesheets/kalasaree.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .std-content {
            max-width: 100%;
            margin: auto
        }

    </style>
</head>
<body class="std-light-grey">

<div>
    <% include template/navigationBar.ejs %>
</div>

<div class="std-top-row" style="text-align: center;">
    <div id="maincontent" class="std-section-bleed std-content"
         style="outline: 3px solid lightgrey; outline-offset: -12px; background-color: white;">
        <!-- Main -->
        <section id="main2">
            <!-- Thumbnails -->
            <section class="thumbnails demo-gallery" id="demo-test-gallery" data-pswp-uid="1">
                <div>
                    <a href="#" onclick="fullerimage('03','BY- ABC, Aligarh')">
                        <img src="images/thumbs/08.jpg" alt=""/>
                        <div><h3 class="textcontent">BY- ABC, Aligarh</h3></div>
                        <div>
                            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=51&layout=button&action=like&size=small&show_faces=true&share=false&appId"
                                    width="51" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                    allowTransparency="true"></iframe>
                        </div>
                    </a>
                    <a href="#" onclick="fullerimage('02','BY- XYZ, Aligarh')">
                        <img src="images/thumbs/02.jpg" alt=""/>
                        <h3 class="textcontent">BY- XYZ, Aligarh
                        </h3>
                    </a>
                </div>
                <div>
                    <a href="#" onclick="fullerimage('03','Share your smile with the world. Its a symbol of friendship and peace.')">
                        <img src="images/thumbs/03.jpg" alt=""/>
                        <h3 class="textcontent">Share your smile with the world. Its a symbol of friendship and peace.</h3>
                    </a>
                    <a href="#" onclick="fullerimage('04','The greatest gift of life is friendship, and I have received it.')">
                        <img src="images/thumbs/04.jpg" alt=""/>
                        <h3 class="textcontent">The greatest gift of life is friendship, and I have received it.</h3>
                    </a>
                    <a href="#" onclick="fullerimage('03','Share your smile with the world. Its a symbol of friendship and peace.')">
                        <img src="images/thumbs/11.jpg" alt=""/>
                        <h3 class="textcontent">Be happy for this moment. This moment is your life.</h3>
                    </a>
                </div>
                <div>
                    <a href="#" onclick="fullerimage('06','The most important thing in the world is family and love.')">
                        <img src="images/thumbs/06.jpg" alt=""/>
                        <h3 class="textcontent">The most important thing in the world is family and love.</h3>
                    </a>
                    <a href="#" onclick="fullerimage('07','If opportunity doesnt knock, build a door.')">
                        <img src="images/thumbs/07.jpg" alt=""/>
                        <h3 class="textcontent">If opportunity doesnt knock, build a door.</h3>
                    </a>
                </div>
            </section>

        </section>

        <div class="hero-btn button" style="display: none"><button id="myPopup" onclick="handleOpenClose('O1');">Wow!</button></div>
        <!-- END std-content -->
    </div>

</div>

<!-- The Modal -->
<div id="myModal2" class="modal-pod">
    <span class="close">&times;</span>
    <img class="podimages modal-content" id="img01">
    <div id="caption"></div>
</div>

<!-- Scripts  -->

<script>
    // Get the modal // Common
    var modal2 = document.getElementById('myModal2');
    var modalImg2 = document.getElementById("img01");
    var captionText2 = document.getElementById("caption");

    function  fullerimage(value, data) {
        var image = value;
        var src = "/images/thumbs/" + image + ".jpg";
        var alt = data;
        modal2.style.display = "block";
        modalImg2.src = src;
        captionText2.innerHTML = alt;
    }

    // Get the <span> element that closes the modal
    var span2 = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span2.onclick = function() {
        modal2.style.display = "none";
    }

</script>

</body>

</html>