<!DOCTYPE html>
<html xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <title>Recipe of the Week</title>
    <link rel="stylesheet" href="/stylesheets/standards.css">
    <link rel="stylesheet" href="/stylesheets/recipe.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">

        function handleOpenClose(evt, openCloseAction) {
            // Declare all variables
            var i, divcontent, tablinks,buttoncolor;

            // Get all elements with class="tabcontent" and hide them
            divcontent = document.getElementsByClassName("test");
            buttoncolor=document.getElementsByClassName('tablink');

            //document.getElementById(button).style.backgroundColor = "#0f8ad3";
            for (i = 0; i < divcontent.length; i++) {
                divcontent[i].style.display = "none";
            }
            document.getElementById(openCloseAction).style.display = "block";

        }
    </script>

</head>
<body onload="document.getElementById('myPopup').click();">

<div>
    <% include template/navigationBar.ejs %>
</div>

<div class="std-top-row" style="text-align: left">

    <!--1st Row-->
    <div class="std-section-bleed">
        <div id="headingdiv" style="text-align: center; background-color: lightgray; display: none;">
            <br/>
            <h2><strong>Recipe of the Week</strong></h2>
            <h4><strong>Share Your Wonderful Recipe with us at recipe@aligarhcity.in</strong>
                <button style="width: 100px;" class="caption-link mediabox" id="myBtn"
                        onclick="window.open('http://www.gmail.com');">SHARE
                </button>
            </h4>
            <br/>
        </div>
        <!--Start Slide Show-->
        <div class="slideshow-container">

            <div class="slides fade">
                <div class="numbertext">1 / 4</div>
                <img src="images/recipe/recipe1.jpg">
                <div class="hero-text">
                    <h2 style="color: black">Peanut Butter Ice Cream Pie</h2>
                    <button id="frstrecipe" onclick="frstcontshow('recipe1.jpg','Peanut Butter Ice Cream Pie');"><p>View
                            Recipe</p>
                    </button>
                </div>
            </div>

            <div class="slides fade">
                <div class="numbertext">2 / 4</div>
                <img src="images/deals/resdeal2.png">
                <div class="hero-text">
                    <h2 style="color: black">Naan Khatai</h2>
                    <button id="secondrecipe" onclick="scndcontainer('resdeal2.png','Second Recipe');"><p>View
                            Recipe</p></button></div>
            </div>

            <div class="slides fade">
                <div class="numbertext">3 / 4</div>
                <img src="images/deals/resdeal3.jpeg">
                <div class="hero-text">
                    <button id="thirdrecipe" onclick="thrdcontainer('resdeal3.jpg','Third Recipe');"><p>View
                            Recipe</p></button></div>
            </div>

            <div class="slides fade">
                <div class="numbertext">4 / 4</div>
                <img src="images/deals/resdeal4.jpg">
                <div class="hero-text"><button id="fourthrecipe" onclick="frthcontshow('resdeal4.jpg','Fourth Recipe');"><p>View
                            Recipe</p></button></div>
            </div>

            <a class="prev-btn" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next-btn" onclick="plusSlides(1)">&#10095;</a>

            <div class="hero-btn button" style="display: none"><button id="myPopup" onclick="handleOpenClose('O1');">Wow!</button></div>

        </div>
        <!--End Slide Show-->
        <br>

        <div style="text-align:center; transform: translate(0, -450%)">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
    </div>
</div>

<div class="std-section-fullWidth std-modal-content" id="frstcontainer" style="display: none; border: groove;">
    <div class="std-col-8 std-col-t-8">
        <div class="std-col-12" style="background-color: #3a3a3a; color: white">
            <h1 id="caption1"></h1>
        </div>
        <div class="verticalscroll">
            <div>
                <h4>Ingredients - </h4>
                <p>
                    15 Oreo cookies (crushed)</p>
                <p> 1⁄2 cup butter (melted)</p>
                <p> 1 quart vanilla ice cream (softened-not melted)</p>
                <p> 1 cup chunky peanut butter</p>
                <p> 1 teaspoon vanilla</p>
                <p> 1⁄2 cup peanuts (crushed)</p>
                <p> 1⁄4 cup chocolate syrup
                </p>
            </div>
            <div>
                <h4>Directions -
                </h4>
                <p>
                    Combine Oreos and butter and mix well.</p>
                <p>Press into pie dish to form a crust going 3/4 of the way up the sides.</p>
                <p> Mix ice cream, peanut butter & vanilla until well blended and smooth.</p>
                <p> Pour into crust.</p>
                <p> Freeze for a few hours (until frozen).</p>
                <p> Sprinkle crushed peanuts on top and drizzle chocolate syrup right before serving.
                </p>
            </div>
        </div>
    </div>
    <div class="std-col-4 std-col-t-4 aside" style="float: right">
        <div style="height:25%">
            <img class="temp" id="img01">
        </div>
        <hr>
        <div style="height:25%">
            <img class="temp" src="images/recipe/recipe1-1.jpg">
            <!--<video controls autoplay loop poster="/images/comingsoon/coming-soon-1.gif" muted>
                <source src="/images/movie.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>-->
        </div>
    </div>
</div>

<div class="std-section-fullWidth std-modal-content" id="scndcontainer" style="display: none; border: groove;">
    <div class="std-col-8 std-col-t-8">
        <div class="std-col-12" style="background-color: #3a3a3a; color: white">
            <h1 id="caption2"></h1>
        </div>
        <p>We broadcasts your event in a way that is both technically elegant and very cost effective.</p>
    </div>
    <div class="std-col-4 std-col-t-4 aside" style="float: right">
        <div style="height:25%">
            <img class="temp" id="img02">
        </div>
        <hr>
        <div style="height:25%">
            <video controls autoplay loop poster="/images/comingsoon/coming-soon-1.gif" muted>
                <source src="/images/movie.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
</div>

<div class="std-section-fullWidth std-modal-content" id="thrdcontainer" style="display: none; border: groove;">
    <div class="std-col-8 std-col-t-8">
        <div class="std-col-12" style="background-color: #3a3a3a; color: white">
            <h1 id="caption3"></h1>
        </div>
        <p>We broadcasts your event in a way that is both technically elegant and very cost effective.</p>
    </div>
    <div class="std-col-4 std-col-t-4 aside" style="float: right">
        <div style="height:25%">
            <img class="temp" id="img03">
        </div>
        <hr>
        <div style="height:25%">
            <video controls autoplay loop poster="/images/comingsoon/coming-soon-1.gif" muted>
                <source src="/images/movie.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
</div>

<div class="std-section-fullWidth std-modal-content" id="frthcontainer" style="display: none; border: groove;">
    <div class="std-col-8 std-col-t-8">
        <div class="std-col-12" style="background-color: #3a3a3a; color: white">
            <h1 id="caption4"></h1>
        </div>
        <p>We broadcasts your event in a way that is both technically elegant and very cost effective.</p>
    </div>
    <div class="std-col-4 std-col-t-4 aside" style="float: right">
        <div style="height:25%">
            <img class="temp" id="img04">
        </div>
        <hr>
        <div style="height:25%">
            <video controls autoplay loop poster="/images/comingsoon/coming-soon-1.gif" muted>
                <source src="/images/movie.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
</div>

<div style="width: 100%">
    <% include template/footer.ejs %>
</div>

<!-- The Modal -->
<div id="myModal" class="std-modal" style="background-color: #fefefe; width:50%; position: absolute; height: 20rem; transform: translate(50%, 50%); padding: 0">
    <!-- Modal content -->
    <div class="std-close" style="float: right; padding: 0 1%; background-color: white">&times;</div>
    <div class="std-col-12" style="float: left;">
        <h1 class="std-wide" style="font-family: 'Adobe Caslon Pro'; font-weight: 500;"><strong>Recipe
                of the Week</strong>
        </h1>
        <p style="color: black; font-family: FontAwesome; font-weight: 300;">Feast your eyes on our daily dose
            of
            home cooks' top-rated recipes (and fantastic food photos).</p>
        <h4><strong>Share Your Wonderful Recipe with us at recipe@aligarhcity.in</strong>
            &nbsp&nbsp
            <button style="width: 150px;" class="caption-link mediabox" id="myBtn" onclick="window.open('http://www.gmail.com');">SHARE</button>
        </h4>
    </div>


</div>

</body>

<script>

    var btn = document.getElementById("myPopup");
    var modal = document.getElementById('myModal');

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("std-close")[0];


    btn.onclick = function() {
        modal.style.display = "block";
    }


    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
        document.getElementById("headingdiv").style.display = 'block';
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");

        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";

    }

</script>
<script>
    var slideIndex = 0;
    showSlidesAutomatically();

    function showSlidesAutomatically() {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlidesAutomatically, 6000); // Change image every 2 seconds
    }
</script>
<script>

    function frstcontshow(image, data) {
        var modal = document.getElementById('frstcontainer');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption1");
        var src = "/images/recipe/" + image;
        var alt = data;
        modal.style.display = "block";
        modalImg.src = src;
        captionText.innerHTML = alt;
        document.getElementById('scndcontainer').style.display = 'none';
        document.getElementById('thrdcontainer').style.display = 'none';
        document.getElementById('frthcontainer').style.display = 'none';
    }

    function scndcontshow(image, data) {
        var modal = document.getElementById('scndcontainer');
        var modalImg = document.getElementById("img02");
        var captionText = document.getElementById("caption2");
        var src = "/images/deals/" + image;
        var alt = data;
        modal.style.display = "block";
        modalImg.src = src;
        captionText.innerHTML = alt;
        document.getElementById('frstcontainer').style.display = 'none';
        document.getElementById('thrdcontainer').style.display = 'none';
        document.getElementById('frthcontainer').style.display = 'none';
    }

    function thrdcontshow(image, data) {
        var modal = document.getElementById('thrdcontainer');
        var modalImg = document.getElementById("img03");
        var captionText = document.getElementById("caption3");
        var src = "/images/deals/" + image;
        var alt = data;
        modal.style.display = "block";
        modalImg.src = src;
        captionText.innerHTML = alt;
        document.getElementById('frstcontainer').style.display = 'none';
        document.getElementById('scndcontainer').style.display = 'none';
        document.getElementById('frthcontainer').style.display = 'none';
    }

    function frthcontshow(image, data) {
        var modal = document.getElementById('frthcontainer');
        var modalImg = document.getElementById("img04");
        var captionText = document.getElementById("caption4");
        var src = "/images/deals/" + image;
        var alt = data;
        modal.style.display = "block";
        modalImg.src = src;
        captionText.innerHTML = alt;
        document.getElementById('frstcontainer').style.display = 'none';
        document.getElementById('scndcontainer').style.display = 'none';
        document.getElementById('thrdcontainer').style.display = 'none';
    }

</script>
</html>

