<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/starrating.css' />
  </head>
  <body bgcolor="White" height="100%">
    <table height="100%" width="100%" border=0>
    	<tr width="100%">
    		<td width="100%" height="100%">
			    <table width="100%" height="100%"  background="/images/restaurant-page.gif" border=0>
			    	<tr width="100%" height="100%">
			    		<td width="100%" height="100%">
			    			<% include template/header.ejs%>
			    			<h1 align="left" class="common-header" height="450">Restaurant</h1>
			    		</td>
			    	</tr>
			    </table>
			  </td>
		</tr>
		<tr width="100%" height="10%">
    		<td align="center">
    			<table width="100%" height="100%"  border=1>
			    	<tr width="100%" height="100%">
			    		<td height="100%" colspan="3" class="label">
			    			CenterPoint		
			    		</td>
			    	</tr>
			    	<tr width="100%" height="100%" >
			    		<td width="33%" height="200">
			    			<div id="placeholder1" class="rating" align="center">
			    			<h2 class="label" align="center"> Kwality Restaurant </h2>
			    			<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
						    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
						    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
						    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
						    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
			    			</div>
			    		</td>
			    		<td width="33%" height="200">
			    			Placeholders
			    		</td>
			    		<td width="33%" height="200">
			    			Placeholders
			    		</td>
			    	</tr>
			    	<tr width="100%" height="100%">
			    		<td height="100%" colspan="3" class="label">
			    			Railway Road		
			    		</td>
			    	</tr>
			    	<tr width="100%" height="100%" >
			    		<td width="33%" height="200">
			    			Placeholders
			    		</td>
			    		<td width="33%" height="200">
			    			Placeholders
			    		</td>
			    		<td width="33%" height="200">
			    			Placeholders
			    		</td>
			    	</tr>
			    	<tr width="100%" height="100%">
			    		<td height="100%" colspan="3" class="label">
			    			Amirnisha		
			    		</td>
			    	</tr>
			    	<tr width="100%" height="100%" >
			    		<td width="33%" height="200">
			    			Placeholders
			    		</td>
			    		<td width="33%" height="200">
			    			Placeholders
			    		</td>
			    		<td width="33%" height="200">
			    			Placeholders
			    		</td>
			    	</tr>
			    	<tr width="100%" height="100%">
			    		<td height="100%" colspan="3" class="label">
			    			Ramghat Road		
			    		</td>
			    	</tr>
			    	<tr width="100%" height="100%" >
			    		<td width="33%" height="200">
			    			Placeholders
			    		</td>
			    		<td width="33%" height="200">
			    			Placeholders
			    		</td>
			    		<td width="33%" height="200">
			    			Placeholders
			    		</td>
			    	</tr>
			    </table>
    		</td>
		</tr>
		</table>
  </body>
</html>