<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Restaurant</title>
        <link rel="stylesheet" href="/stylesheets/standards.css">
        <link rel='stylesheet' href='/stylesheets/default.css'/>
        <link rel='stylesheet' href='/stylesheets/restaurant.css'/>
</head>
    <body>
        <div class="std-header">
            <% include template/navigationBar.ejs %>
        </div>

        <div class="std-top-row">
            <div class="std-section-bleed" style="height: 500px;">
                <div class="hero-image mySlides fade std-parallax box-radius"
                     style="background-image: url('../images/restaurant/res1.jpg');">
                    <div class="std-col-5 page-slot-content">
                        <h1 class="mainrestext">
                            RESTAURANT
                        </h1>
                        <h4>
                            You don't need a silver fork to eat good food
                        </h4>
                    </div>
                    <!--<div class="hero-text">
                        <h1 class="std-wide" style="font-family: 'Droid Serif'; font-weight: 700;">RESTAURANT</h1>
                        <br><br>
                        <h2 class="hero-sub-text" style="color: black;">You don't need a silver fork to eat good food</h2>
                    </div>-->
                </div>
                <div class="hero-image mySlides fade std-parallax box-radius"
                     style="background-image: url('../images//restaurant/res2.jpg');">
                    <div class="std-col-5 page-slot-content">
                        <h1 class="mainrestext">
                            RESTAURANT
                        </h1>
                        <h4>
                            People who love to eat are always the best people
                        </h4>
                    </div>
                    <!--<div class="hero-text">
                        <h1 class="std-wide" style="font-family: 'Droid Serif'; font-weight: 700;">RESTAURANT</h1>
                        <br><br><br>
                        <h2 class="hero-sub-text" style="color: black;">People who love to eat are always the best people</h2>
                    </div>-->
                </div>
                <div class="hero-image mySlides fade std-parallax box-radius"
                     style="background-image: url('../images/restaurant/res3.jpg');">
                    <div class="std-col-5 page-slot-content">
                        <h1 class="mainrestext">
                            RESTAURANT
                        </h1>
                        <h4>
                            One cannot think well, love well, sleep well, if one has not dined well
                        </h4>
                    </div>
                    <!--<div class="hero-text">
                        <h1 class="std-wide" style="font-family: 'Droid Serif'; font-weight: 700;">RESTAURANT</h1>
                        <br><br><br><br>
                        <h2 class="hero-sub-text" style="color: black;">One cannot think well, love well, sleep well, if one has not dined well</h2>
                    </div>-->
                </div>
            </div>
            <div class="std-col-12 res-div3-temp" style="background-color: tan">
                <div class="center">
                    <div class="std-col-3">
                        <div class="iconDiv" style="width: 150px;">
                            <img src="/images/restaurant/starters-main.jpg"style="border-radius: 50%;border: 15px solid white;"/>
                        </div>
                        <div class="iconCaption">
                            <h2 class="textheading">
                                STARTERS
                            </h2>
                            <h4>“Yeast is to flour as action is to ambition. Rising to success requires adding and
                                alternating starters.”</h4>
                        </div>
                    </div>
                    <div class="std-col-5">
                        <div class="iconDiv" style="width: 150px;">
                            <img src="/images/restaurant/main-course.jpg"style="border-radius: 50%;border: 15px solid white;"/>
                        </div>
                        <div class="iconCaption">
                            <h2 class="textheading1">
                                MAIN COURSE
                            </h2>
                            <h4>“A good food is mouthwatering when you see it and finger licking when you eat it.”</h4>
                        </div>
                    </div>
                    <div class="std-col-3">
                        <div class="iconDiv" style="width: 150px;">
                            <img src="/images/restaurant/desserts.jpg"style="border-radius: 50%;border: 15px solid white;"/>
                        </div>
                        <div class="iconCaption">
                            <h2 class="textheading">
                                DESERTS
                            </h2>
                            <h4>“Life's short. Buy the shoes. Drink the wine. Order the dessert.”</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="std-section-fullWidth" style="padding-top: 3%; position: relative">
                <div class="std-col-12 page-slot"
                     style="background-image: url('../images/restaurant/restaurant-theme.jpg'); height: 100%">
                    <div class="std-col-5 std-col-t-5 mediabox res-div2-temp" onclick="window.open('/kss')">
                        <div style="float: left; height: 50%; width: 50%">
                            <img src="/images/restaurant/kwality.jpg" height="50%"/>
                        </div>
                        <div>
                            <h3 class="restext">
                                <strong>KSS</strong></h3>
                            <h2 class="product-name">Restaurant</h2>
                            <h4>Eat well and spend less</h4>
                        </div>
                    </div>
                    <div class="std-col-5 std-col-t-5 mediabox">
                        <div style="float: left; height: 50%; width: 50%">
                            <img src="/images/restaurant/temp.jpg" height="50%"/>
                        </div>
                        <div>
                            <h3 class="restext"><strong>Coming Soon</strong></h3>
                            <h2 class="product-name">Restaurant</h2>
                            <h4>Beyond the boundaries of taste</h4>
                        </div>
                    </div>
                </div>
                <div class="std-col-12">
                    <div class="std-col-3 std-col-t-3 product res-div-temp">
                        <div class="product-hover"></div>
                        <img src="/images/restaurant/res4.jpg"/>
                        <div class="product-info">
                            <div class="subhead">Coming Soon</div>
                            <h2 class="product-name">Restaurant</h2>
                            <p class="product-description">The grill on fire.</p>
                            <div class="price"><span class="from">More Info</span>
                            </div>
                        </div>
                    </div>
                    <div class="std-col-3 std-col-t-3 product">
                        <div class="product-hover"></div>
                        <img src="/images/restaurant/res4.jpg"/>
                        <div class="product-info">
                            <div class="subhead">Coming Soon</div>
                            <h2 class="product-name">Restaurant</h2>
                            <p class="product-description">The secret is at the table.</p>
                            <div class="price"><span class="from">More Info</span>
                            </div>
                        </div>
                    </div>
                    <div class="std-col-3 std-col-t-3 product">
                        <div class="product-hover"></div>
                        <img src="/images/restaurant/res4.jpg"/>
                        <div class="product-info">
                            <div class="subhead">Coming Soon</div>
                            <h2 class="product-name">Restaurant</h2>
                            <p class="product-description">The thousand flavors.</p>
                            <div class="price"><span class="from">More Info</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="std-col-12 page-slot"
                     style="background-image: url('../images/restaurant/restaurant-theme.jpg'); height: 100%">
                    <div class="std-col-5 std-col-t-5 mediabox res-div2-temp">
                        <div style="float: left; height: 50%; width: 50%">
                            <img src="/images/restaurant/temp.jpg" height="50%"/>
                        </div>
                        <div>
                            <h3 class="restext"><strong>Coming Soon</strong></h3>
                            <h2 class="product-name">Restaurant</h2>
                            <h4>Experience the great food</h4>
                        </div>
                    </div>
                    <div class="std-col-5 std-col-t-5 mediabox">
                        <div style="float: left; height: 50%; width: 50%">
                            <img src="/images/restaurant/temp.jpg" height="50%"/>
                        </div>
                        <div>
                            <h3 class="restext"><strong>Coming Soon</strong></h3>
                            <h2 class="product-name">Restaurant</h2>
                            <h4>Make the love with flavor</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="std-section-bleed">
            <% include template/footer.ejs %>
        </div>

        <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) {myIndex = 1}
                x[myIndex-1].style.display = "block";
                setTimeout(carousel, 5000);
            }
        </script>

    </body>
</html>