<!DOCTYPE html>
<html xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/shop.css' />
</head>
<body bgcolor="White" height="100%">
<div class="aligarhbackground">
    <% include template/header.ejs%>
    <h1>&nbsp;Sheesh Mahal</h1>
</div>

<div class=" parent">
    <div class="commonbackground space">
        <div class="linktext">
            <h6>
                <a  href="/shop/sheeshmahal" style="font-family: Calibri;color: black">
                <Span>
                    <i> icon</i>
                </Span>
                    <span>
                        Visit Website
                    </span>
                    </a>
            </h6>
            <h6>
                <a  href="/shop/sheeshmahal" style="font-family: Calibri;color: black">
                <Span>
                    <i> icon </i>
                </Span>
                    <span>
                        Facebook link
                    </span>
                </a>
            </h6>
            <h6>
                <a  href="/shop/sheeshmahal" style="font-family: Calibri;color: black">
                <Span>
                    <i> icon </i>
                </Span>
                    <span>
                        Twitter Link
                    </span>

                </a>
            </h6>
        </div>
    </div>
</div>
<div class=" parent">
    <div class="commonbackground space">
        <div class="linktext">
            <h6>
                <label
                <Span>
                    Address:
                </Span>
                    <span style="display: block">
                        Center Point, Aligarh
                    </span>
                <span style="display: block">
                        Railway Road, Aligarh
                    </span>
                </label>
            </h6>
        </div>

    </div>
</div>

<div class="w3-container parent">
    <h2>With a Container</h2>
    <p>The w3-container class is one of the most important of the w3.CSS classes. It can provide correct margins, padding, alignments, and more to your HTML elements.</p>
</div>
<div class="parent">
    <% include template/footer.ejs%>
</div>
</body>
</html>