<!DOCTYPE html>
<html xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/shop.css'/>
    <link rel="stylesheet" href="/stylesheets/std.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body bgcolor="White" height="100%">

<div>
    <% include template/navigationBar.ejs %>
</div>
<div class="aligarhbackground">
    <% include template/header.ejs %>
    <h1>&nbsp;Shopping</h1>
</div>

<div class="parent">
    <div class="commonbackground space" style="background-image: url('../images/shop/shop1.jpg');">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Shopping
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Sheesh Mahal
				</span>
                <a class="moreinfo" href="/sheeshmahal">More Info</a>
            </h6>
        </div>

    </div>
    <div class="commonbackground space" style="background-image: url('../images/shop/shop1.jpg');">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Shopping
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Swadeshi
				</span>
                <a class="moreinfo" href="/swadeshi">More Info</a>
            </h6>
        </div>

    </div>
    <div class="commonbackground space" style="background-image: url('../images/shop/shop1.jpg');">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Shopping
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Raymonds
				</span>
                <a class="moreinfo" href="/raymonds">More Info</a>
            </h6>
        </div>
    </div>
</div>
<div class="parent">
    <div class="commonbackground space" style="background-image: url('../images/shop/shop1.jpg');">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Shopping
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Adidas
				</span>
                <a class="moreinfo" href="/adidas">More Info</a>
            </h6>
        </div>

    </div>
    <div class="commonbackground space" style="background-image: url('../images/shop/shop1.jpg');">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Shopping
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Blackberry
				</span>
                <a class="moreinfo" href="#">More Info</a>
            </h6>
        </div>

    </div>
    <div class="commonbackground space" style="background-image: url('../images/shop/shop1.jpg');">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Shopping
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Levis
				</span>
                <a class="moreinfo" href="#">More Info</a>
            </h6>
        </div>

    </div>
</div>
<div class="parent">
    <div class="commonbackground space" style="background-image: url('../images/shop/shop1.jpg');">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Shopping
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Adidas
				</span>
                <a class="moreinfo" href="#">More Info</a>
            </h6>
        </div>

    </div>
    <div class="commonbackground space" style="background-image: url('../images/shop/shop1.jpg');">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Shopping
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Blackberry
				</span>
                <a class="moreinfo" href="#">More Info</a>
            </h6>
        </div>

    </div>
    <div class="commonbackground space" style="background-image: url('../images/shop/shop1.jpg');">
        <div class="linktext">
            <h6>
				<span style="color: white;font-family: Calibri;text-align: start;bottom: 10px; display: block;margin-bottom: 10px">
					Shopping
				</span>
                <span style="color: white;font-family: Calibri; font-size: 18px;text-align: start;bottom: 15px; display: block;margin-bottom: 20px;">
					Levis
				</span>
                <a class="moreinfo" href="#">More Info</a>
            </h6>
        </div>

    </div>
</div>
<div class="parent">
    <% include template/footer.ejs %>
</div>
</body>
</html>