<!DOCTYPE html>
<html>
<title>Star Ocean</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/standards.css">
    <link rel="stylesheet" href="/stylesheets/starocean.css">
    <link rel="stylesheet" href="/stylesheets/socialmedia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div>
    <% include template/navigationBar.ejs %>
</div>

<div class="std-top-row">
    <div class="std-section-bleed">
        <img class="starbackground" src="images/starocean/IMG-20171030-WA0012.jpg">
    </div>

    <div class="std-col-12">
        <div class="aside-heading-section" style="margin-top: 0">
            <h2>Our Gallery</h2>
        </div>
    </div>

    <div class="std-section-fullWidth" style="border: groove;">
        <div class="std-col-12 max-ht">
            <div class="std-col-t-3 mediabox" onclick="fullerimage('IMG-20171030-WA0007')" style="cursor: pointer;position: relative;">
                <img class="image" src="/images/starocean/IMG-20171030-WA0007.jpg">
            </div>
            <div class="std-col-t-3 mediabox" onclick="fullerimage('IMG-20171030-WA0008')" style="cursor: pointer;position: relative;">
                <img class="image" src="/images/starocean/IMG-20171030-WA0008.jpg">
            </div>
            <div class="std-col-t-3 mediabox" onclick="fullerimage('IMG-20171030-WA0009')" style="cursor: pointer;position: relative;">
                <img class="image" src="/images/starocean/IMG-20171030-WA0009.jpg">
            </div>
            <div class="std-col-t-3 mediabox" onclick="fullerimage('IMG-20171030-WA0011')" style="cursor: pointer;position: relative;">
                <img class="image" src="/images/starocean/IMG-20171030-WA0011.jpg">
            </div>
        </div>
        <div class="std-col-12 max-ht">
            <div class="std-col-t-3 mediabox" onclick="fullerimage('IMG-20171030-WA0013')" style="cursor: pointer;position: relative;">
                <img class="image" src="/images/starocean/IMG-20171030-WA0013.jpg">
            </div>
            <div class="std-col-t-3 mediabox" onclick="fullerimage('IMG-20171030-WA0014')" style="cursor: pointer;position: relative;">
                <img class="image" src="/images/starocean/IMG-20171030-WA0014.jpg">
            </div>
            <div class="std-col-t-3 mediabox" onclick="fullerimage('IMG-20171030-WA0015')" style="cursor: pointer;position: relative;">
                <img class="image" src="/images/starocean/IMG-20171030-WA0015.jpg">
            </div>
            <div class="std-col-t-3 mediabox" onclick="fullerimage('IMG-20171030-WA0018')" style="cursor: pointer;position: relative;">
                <img class="image" src="/images/starocean/IMG-20171030-WA0018.jpg">
            </div>
        </div>
        <div class="std-col-12 max-ht">
            <div class="std-col-t-3 mediabox" onclick="fullerimage('IMG-20171030-WA0019')" style="cursor: pointer;position: relative;">
                <img class="image" src="/images/starocean/IMG-20171030-WA0019.jpg">
            </div>
            <div class="std-col-t-3 mediabox" onclick="fullerimage('IMG-20171030-WA0020')" style="cursor: pointer;position: relative;">
                <img class="image" src="/images/starocean/IMG-20171030-WA0020.jpg">
            </div>
            <div class="std-col-t-3 mediabox" onclick="fullerimage('IMG-20171030-WA0021')" style="cursor: pointer;position: relative;">
                <img class="image" src="/images/starocean/IMG-20171030-WA0021.jpg">
            </div>
            <div class="std-col-t-3 mediabox" onclick="fullerimage('IMG-20171030-WA0023')" style="cursor: pointer;position: relative;">
                <img class="image" src="/images/starocean/IMG-20171030-WA0023.jpg">
            </div>
        </div>
    </div>

    <div class="std-section-fullWidth" style="margin-top: 2%">
        <!-- About/Information menu -->
        <div class="std-col-12">
            <div class="std-col-4">
                <div class="std-margin-small">
                    <div class="aside-heading-section">
                        <h2>Connect With Us</h2>
                    </div>
                    <div class="aside-section std-div-white" onclick="window.open('http://staroceanproduction.com')">
                        <img class="imgewebsite" src="/images/website.png">
                    </div>
                    <hr>
                    <div class="aside-heading-section">
                        <h2>Facebook</h2>
                    </div>
                    <div class="aside-section std-div-white">

                        <div class="std-padding-16" style="height: 500px">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FStar-Ocean-Production&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="std-col-8">
                <div class="std-margin-small">
                    <div class="heading-section" style="margin-top: 1%">
                        <h2>Features</h2>
                    </div>
                    <div class="std-section-fullWidth std-div-white">
                        <div class="mediabox" onclick="fullerimage('IMG-20171030-WA0022')" style="cursor: pointer;position: relative;">
                            <img class="imagediv" src="/images/starocean/IMG-20171030-WA0022.jpg">
                        </div>
                    </div>
                    <br>
                    <div class="heading-section">
                        <h2>Address</h2>
                    </div>
                    <div class="std-section-fullWidth std-div-white">
                        <span>
                        <h2>Star Ocean Productions</h2>
                        <h4>Krishna Complex, 1st Floor, Near Mahajan Palace, Ramghat Road <br>Aligarh - 202001
                            <br> Contact us @ 8279549137, 9634687244, 7417600114.
                            <br> Email us: info.starop@gmail.com </h4>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content popupimage" id="img01">
</div>

<br/>

<!-- Footer -->
<div class="parent">
    <% include template/footer.ejs %>
</div>

<script>
    // Get the modal // Common
    var modal2 = document.getElementById('myModal');
    var modalImg2 = document.getElementById("img01");

    function  fullerimage(value) {
        var image = value;
        var src = "/images/starocean/" + image + ".jpg";
        modal2.style.display = "block";
        modalImg2.src = src;
    }

    // Get the <span> element that closes the modal
    var span2 = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span2.onclick = function() {
        modal2.style.display = "none";
    }

</script>

</body>
</html>