<!DOCTYPE html>
<html xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/shop.css' />
</head>
<body bgcolor="White" height="100%">
<div class="aligarhbackground">
    <% include template/header.ejs%>
    <h1>&nbsp;Swadeshi</h1>
</div>

<div class="left">
    <div class="one">
        <div class="commonbackground space">
            <h3>
                <a  href="/shop/sheeshmahal" style="font-family: Calibri;color: black">
                <Span>
                    <i> icon</i>
                </Span>
                    <span>
                        Visit Website
                    </span>
                </a>
            </h3>
            <h3>
                <a  href="/shop/sheeshmahal" style="font-family: Calibri;color: black">
                <Span>
                    <i> icon </i>
                </Span>
                    <span>
                        Facebook link
                    </span>
                </a>
            </h3>
            <h3>
                <a  href="/shop/sheeshmahal" style="font-family: Calibri;color: black">
                <Span>
                    <i> icon </i>
                </Span>
                    <span>
                        Twitter Link
                    </span>

                </a>
            </h3>
        </div>
    </div>
    <div class="two">
        <div class="commonbackground space">
            <h3>
                <label>
                <Span>
                    Address:
                </Span>
                <span style="display: block">
                        Center Point, Aligarh
                    </span>
                <span style="display: block">
                        Railway Road, Aligarh
                    </span>
                </label>
            </h3>
        </div>
    </div>
</div>
<div class="three" style="padding-left: 100px; padding-bottom: 200px">
    <img src="../images/shop/shop1.jpg">
</div>
<div class="four">
    This is the Right Alignment
</div>
<div class="parent">
    <% include template/footer.ejs%>
</div>
</body>
</html>