<!DOCTYPE html>
<html xmlns:http="http://www.w3.org/1999/xhtml">
<title>Master Saree center</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/std.css">
    <link rel="stylesheet" href="/stylesheets/fonts/fontsOswald.css">
    <link rel="stylesheet" href="/stylesheets/fonts/fontsOpenSans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--<link rel="stylesheet" href="/stylesheets/fonts/fontsAwesome.css">-->

    <!--<link rel="stylesheet" href="https://www.stdschools.com/stdcss/4/std.css">-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <style>
        h1, h2, h3, h4, h5, h6 {
            font-family: "Oswald"
        }

        body {
            font-family: "Open Sans"
        }

        .mySlides {
            display: none
        }

        .std-left, .std-right, .std-badge {
            cursor: pointer
        }

        .std-badge {
            height: 13px;
            width: 13px;
            padding: 0
        }
        /* MODAL CSS */
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 50%;
            max-width: 400px;
        }

        /* Caption of Modal Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation */
        .modal-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
            from {-webkit-transform:scale(0)}
            to {-webkit-transform:scale(1)}
        }

        @keyframes zoom {
            from {transform:scale(0)}
            to {transform:scale(1)}
        }

        /* The Close Button */
        .close {
            margin-top: 3rem;
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
            .modal-content {
                width: 100%;
            }
        }
    </style>
    <style>
        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    </style>
</head>
<body class="std-light-grey">

<div>
    <% include template/navigationBar.ejs %>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- std-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="std-content" style="max-width:1600px">

    <!-- Image header -->
    <div class="std-content std-display-container" style="max-width:100%">
        <header class="std-display-container std-wide" id="home">
            <div class="std-display-left std-padding-large">
            </div>

            <div class="jumbotron mySlides" style="background-image: url('../images/shop/kala4.jpg');background-size: contain;background-color: black; ">
                <div class="page-title" style="width: 450px;">
                    <h1 class="padding-multiline"><span>Master Saree Centre</span></h1>
                </div>
            </div>
            <div class="jumbotron mySlides" style="background-image: url('../images/shop/kala6.jpg');background-size: contain;background-color: black;">
                <div class="page-title" style="width: 450px;">
                    <h1 class="padding-multiline"><span>Master Saree Centre</span></h1>
                </div>
            </div>
            <div class="jumbotron mySlides" style="background-image: url('../images/shop/kala2.jpg');background-size: contain; background-color: black;">
                <div class="page-title" style="width: 450px;">
                    <h1 class="padding-multiline"><span>Master Saree Centre</span></h1>
                </div>
            </div>

        </header>
        <!--<div class="std-center std-container std-section std-large std-text-white std-display-bottommiddle"
             style="width:100%">
            <span class="std-badge demo std-border std-transparent std-hover-white"
                  onclick="currentDiv(1)"></span>
            <span class="std-badge demo std-border std-transparent std-hover-white"
                  onclick="currentDiv(2)"></span>
            <span class="std-badge demo std-border std-transparent std-hover-white"
                  onclick="currentDiv(3)"></span>
        </div>-->
    </div>

    <!-- Grid -->
    <div class="std-row std-padding std-border">

        <!-- About/Information menu -->
        <div class="std-col l4">
            <!-- About Card -->
            <div class="std-margin">
                <div style="background-color:white;" class="std-hover-grey">
                    <a href="#">
                        <h4>
                            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FSHEESHMAHALSAREEPLAZA%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </h4>
                        </span>
                    </a>
                </div>
                <div style="background-color:white;" class="std-hover-grey">
                    <a href="#">
                    <span><img src="/images/leaf.png" alt="Image" class="std-left"
                               style="width:30px"></span>
                        <span><h4>Visit Website</h4></span>
                    </a>
                </div>
                <div style="background-color: white" class="std-hover-grey">
                    <a href="#" style="">
                    <span><img src="/images/Facebook_logo.png" alt="Image" class="std-left"
                               style="width:30px"></span>
                        <span><h4>Facebook</h4></span>
                    </a>
                </div>
                <div style="background-color: white" class="std-hover-grey">
                    <a href="#subs">
                    <span><img src="/images/Twitter_bird_logo.png" alt="Image" class="std-left"
                               style="width:30px"></span>
                        <span><h4>Twitter</h4></span>
                    </a>
                </div>
                <div style="background-color: white" class="std-hover-grey">
                    <a href="#photo-section">
                    <span><img src="/images/leaf.png" alt="Image" class="std-left"
                               style="width:30px"></span>
                        <span><h4>View Photos</h4></span></a>
                </div>

            </div>
            <hr>

            <div class="std-margin">
                    <span style="line-height: 30px">
                        <h3 style="display: block">Master Saree Centre</h3><h4>Center Point<br>Aligarh - 202001 <br> Contact us @ 1234567890
                            <br> Email us: support@ksc.com </h4>

                    </span>
            </div>
            <hr>

            <!-- Posts -->
            <div class="std-white std-margin">
                <div class="std-container std-padding std-black">
                    <h4>Popular Deals</h4>
                </div>
                <ul class="std-ul std-hoverable std-white">
                    <li class="std-padding-16">
                        <img src="/images/shopping.png" alt="Image" class="std-left std-margin-right"
                             style="width:50px">
                        <span class="std-large">Lehenga</span>
                        <br>
                        <span>BOGO @ 50%</span>
                    </li>
                    <li class="std-padding-16">
                        <img src="/images/shopping.png" alt="Image" class="std-left std-margin-right"
                             style="width:50px">
                        <span class="std-large">Sarees</span>
                        <br>
                        <span>10% Off on Sarees</span>
                    </li>
                    <li class="std-padding-16">
                        <img src="/images/shopping.png" alt="Image" class="std-left std-margin-right"
                             style="width:50px">
                        <span class="std-large">Suits</span>
                        <br>
                        <span>50% OFF</span>
                    </li>
                    <li class="std-padding-16">
                        <img src="/images/shopping.png" alt="Image" class="std-left std-margin-right std-sepia"
                             style="width:50px">
                        <span class="std-large">Banarasi Sarees</span>
                        <br>
                        <span>25% OFF</span>
                    </li>
                </ul>
            </div>
            <hr>

            <!--<div class="std-white std-margin">
                <div class="std-container std-padding std-black">
                    <h4>
                        Facebook
                    </h4>
                </div>
                <div class="std-padding-16" style="height: 400px">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSHEESHMAHALSAREEPLAZA%2F&tabs=timeline&width=940&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    ></iframe>
                </div>
            </div>-->

            <!-- Advertising  -->
           <div class="std-white std-margin">
               <div class="std-container std-padding std-black">
                   <h4>Video add on Master Saree Centre</h4>
               </div>
               <div class="std-container std-white">
                   <div class="std-container std-display-container std-light-grey std-section"
                        style="height:250px">
                       <iframe width="100%" height="315" src="https://www.youtube.com/embed/HF8fIOx9k2A?start=190" frameborder="0" allowfullscreen></iframe>
                   </div>
               </div>
           </div>
           <hr>
            <div class="std-white std-margin">
                <div class="std-container std-padding std-black">
                    <h4>Latest Saree Design Trends</h4>
                </div>
                <div class="std-container std-white">
                    <div class="std-container std-display-container std-light-grey std-section"
                         style="height:250px">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Qbn5L29eQ?start=190" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <hr>
           <!-- Feed Back -->
            <!--<div class="std-white std-margin">
                <div class="std-container std-padding std-black">
                    <h4>Tell us, How are we doing ?</h4>
                </div>
                <div style="overflow-y:scroll;overflow-x: scroll; max-height: 200px;">
                    <div class="fb-comments" data-href="https://www.facebook.com/pg/SHEESHMAHALSAREEPLAZA/reviews/?ref=page_internal" data-numposts="5">
                    </div>
                </div>
            </div>-->
            <hr>

            <!-- Subscribe -->
            <!--<div id="subs" class="std-white std-margin">
                <div class="std-container std-padding std-black">
                    <h4>Subscribe</h4>
                </div>
                <div class="std-container std-white">
                    <p>Enter your e-mail below and get notified on the latest blog posts.</p>
                    <p><input class="std-input std-border" type="text" placeholder="Enter e-mail"
                              style="width:100%">
                    </p>
                    <p>
                        <button type="button"
                                onclick="document.getElementById('subscribe').style.display='block'"
                                class="std-button std-block std-red">Subscribe
                        </button>
                    </p>
                </div>
            </div>-->

            <!-- END About/Intro Menu -->
        </div>
        <!-- Blog entries -->
        <div class="std-col l8 s12">

            <div class="std-white std-margin">
                <!-- Blog entry -->


                <div class="std-container std-white std-margin std-padding-large">
                    <div class="std-center">
                        <h3>Master Saree Centre</h3>
                        <h5>Our Journey, <span class="std-opacity">Article Dated: September 21, 2017</span></h5>
                    </div>

                    <div class="std-justify">
                        <img src="../images/shop/kala.jpg" alt="Adidas" style="width:100%" class="std-padding-16">
                        <p><strong>We are Expending !</strong> Master Saree Centre is expending into multiple areas in Aligarh.</p>
                    </div>
                </div>
                <hr>

                <!-- END BLOG ENTRIES -->

                <div class="std-container std-padding std-black">
                    <h4>Features</h4>
                </div>
                <table class="features-wrapper std-table std-striped std-bordered std-border std-hoverable std-white">
                    <tr class="feature clearfix">
                        <td class="feature-category">
                            Established From
                        </td>
                        <td class="feature-name">1990<br>

                        </td>
                    </tr>
                    <tr class="feature clearfix">
                        <td class="feature-category">
                            Shopping
                        </td>
                        <td class="feature-name">Clothing &amp; Accessory Stores<br>Bridal &amp; Formalwear<br>Children
                            &amp; Infants<br>Eyewear<br>Fur<br>Handbags<br>Hats<br>Jewelry &amp; Watches<br>Lingerie<br>Maternity<br>Men's
                            Apparel<br>Shoes<br>Women's Apparel<br>Cosmetics/Beauty/Fragrance Shops<br>Department Stores<br>

                        </td>
                    </tr>
                    <tr class="feature clearfix">
                        <td class="feature-category">
                            Accessibility
                        </td>
                        <td class="feature-name">Wheelchair Accessible<br></td>
                    </tr>

                    <tr class="feature clearfix">
                        <td class="feature-category">
                            Internet
                        </td>
                        <td class="feature-name">WiFi Available<br></td>
                    </tr>

                    <tr class="feature clearfix">
                        <td class="feature-category">
                            Miscellaneous
                        </td>
                        <td class="feature-name">Kid Friendly<br></td>
                    </tr>

                    <tr class="feature clearfix">
                        <td class="feature-category">
                            Payment Types
                        </td>
                        <td class="feature-name">Credit Cards Accepted<br></td>
                    </tr>

                    <tr class="feature clearfix">
                        <td class="feature-category">
                            Services
                        </td>
                        <td class="feature-name">Multilingual Staff<br>

                        </td>
                    </tr>
                </table>

            </div>

            <!-- Google Maps Starts-->
            <div class="std-white std-margin">
                <div class="std-container std-padding std-black">
                    <h4>Store Location</h4>
                </div>
                <div id="googleMap" style="width:100%;height:400px;"></div>
            </div>

            <!-- Google Maps Ends-->

            <!--Twitter Starts -->
            <!-- <div class="std-white std-margin">
                  <div class="std-container std-padding std-black">
                      <h4>
                          Twitter
                      </h4>
                 </div>
                 <div>
                     <a href="https://twitter.com/intent/tweet?button_hashtag=LoveTwitter" class="twitter-hashtag-button" data-show-count="false">Tweet #LoveTwitter</a>
                     <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                 </div>
                 <div>
                     <a class="twitter-grid" data-lang="en" data-limit="5" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                 </div>
             </div>-->
            <!--Twitter Ends -->
            <!--Facebook Feed-->

            <!-- Photos -->
            <div id="photo-section" class="std-white std-margin">
                <div class="std-container std-padding std-black">
                    <h4>Photos</h4>
                </div>
                <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
                <div class="std-row-padding std-center">
                    <div class="std-col m3">
                        <img src="/images/shop/kalaimg.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="std-hover-opacity">
                    </div>

                    <div class="std-col m3">
                        <img src="/images/shop/kalaimg2.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="std-hover-opacity">
                    </div>

                    <div class="std-col m3">
                        <img src="/images/shop/kalaimg3.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="std-hover-opacity">
                    </div>

                    <div class="std-col m3">
                        <img src="/images/shop/kalaimg4.jpg" style="width:100%" onclick="openModal();currentSlide(4)" class="std-hover-opacity">
                    </div>
                </div>
            </div>
            <hr>

        </div>

        <!-- END GRID -->
    </div>



    <!-- END std-content -->
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides1">
            <img src="/images/shop/kalaimg.jpg" style="width:100%">
        </div>

        <div class="mySlides1">
            <img src="/images/shop/kalaimg2.jpg" style="width:100%">
        </div>

        <div class="mySlides1">
            <img src="/images/shop/kalaimg3.jpg" style="width:100%">
        </div>

        <div class="mySlides1">
            <img src="/images/shop/kalaimg4.jpg" style="width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>


</div>

<!-- Footer -->
<!--<footer class="std-container std-dark-grey" style="padding:32px">-->
<!--<a href="#" class="std-button std-black std-padding-large std-margin-bottom"><i-->
<!--class="fa fa-arrow-up std-margin-right"></i>To the top</a>-->
<!--<p>Powered by <a href="https://www.stdschools.com/stdcss/default.asp" target="_blank">std.css</a></p>-->
<!--</footer>-->

<script>
    // Toggle between hiding and showing blog replies/comments
    //document.getElementById("myBtn").click();
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("std-show") == -1) {
            x.className += " std-show";
        } else {
            x.className = x.className.replace(" std-show", "");
        }
    }

    function likeFunction(x) {
        x.style.fontWeight = "bold";
        x.innerHTML = "✓ Liked";
    }
</script>
<!-- Add Google Maps -->
<script>
    function myMap() {
        myCenter = new google.maps.LatLng(27.8912996,78.07800440000005);
        var mapOptions = {
            center: myCenter,
            zoom: 12, scrollwheel: false, draggable: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

        var marker = new google.maps.Marker({
            position: myCenter,
        });
        marker.setMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6Pviy7a1tfYcpRZySfCt9qhbVvVbUIJQ&callback=myMap"></script>

<!-- Add Slide Show -->
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("std-image");
        if (n > x.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = x.length
        }
        ;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = x.length
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" std-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " std-white";
    }
</script>
<script>
    var slideIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) {
            slideIndex = 1
        }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
</script>
<!--<script>
    // Get the modal // Common
    var modal = document.getElementById('myModal');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    function  fullerimage(value, data) {
        var image = value;
        var src = "/images/shop/saree" + image + ".jpg";
        var alt = data;
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        /*var img = document.getElementById('img1');
         img.onclick = function(){*/
        modal.style.display = "block";
        modalImg.src = src;
        captionText.innerHTML = alt;
//        }
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

</script>-->

<script>
    function openModal() {
        document.getElementById('myModal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides1");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
    }
</script>

</body>
</html>