/* The hero image */
.attraction-head-image {
    /* The image used */
    background-image: url('../images/shop/tourism2.jpg');

    /* Set a specific height */
    height: 100%;
    padding: 20%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.attraction-hero-text {
    position: absolute;
    text-align: left;
    font-family: "Distro Light";
    color: white;
    font-size: 10px;
    left: 1%;
    top:0%;
}

/*TABLET*/
@media only screen and (min-width: 375px) {
    .attraction-hero-text{
        position: absolute;
        top:5%;
        left: 1%;
    }
}

/*DESKTOP*/
@media only screen and (min-width: 768px) {
    .attraction-hero-text{
        font-size: 30px;
        top: 6%;
        left: 2%;
    }
}