.mySlides {display:none;}
h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h2 span {
    background:#fff;
    padding:0 10px;
}

.buttonlink {
    background-color: transparent;
    color: black;
    float: left;
    cursor: pointer;
    padding: 20px 16px;
    font-size: 17px;
    width: 100%;
    font-weight: normal;
}

.buttonlink:hover {
    background-color: #f1aa90;
}

.imageshow {
    width: 100%;
    height: 90%;
}

.prev-btn2 {
    display: block;
    position: absolute;
    background-color: #555;
    color:white;
    z-index: 2;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    left:0px;
}

.next-btn2 {
    display: block;
    position: absolute;
    background-color: #555;
    color:white;
    z-index: 2;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    right:0px;
}

.prev-btn2{
    float: left;
    top: 1050px;
}

.next-btn2{
    float: right;
    top: 1050px;
}

.next-btn2{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev-btn2:hover, .next-btn2:hover {
    background-color: rgba(999,2,3,0.8);
}

.overlaydj {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.75;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}


.container {
    position: relative;
    width: 100%;
}

.event-container-item:hover .overlaydj {
    bottom: 0;
    height: 100%;
}

.underlaydj {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.75;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.event-container-item:hover .underlaydj {
    height: 100%;
}


.txtdj {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.rightlaydj {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #000000;
    opacity: 0.75;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.event-container-item:hover .rightlaydj {
    width: 100%;
    left: 0;
}
.leftlaydj {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.75;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.event-container-item:hover  .leftlaydj {
    width: 100%;
}

.imgdj{
    width: 350px;
    /*height: 400px;*/
}


.modal-contentdj {
    margin: auto;
    display: block;
}

.imgdj1{
    width: 200px;
    height: 400px;
}

.imgdjnecklace{
    width: 330px;
    height: 300px;
}

.horizontal-scroll-wrapper {
    overflow: auto;
    width: 90%;
    margin: 0 auto;
    padding: 1%;
    white-space: nowrap;
}

.horizontal-scroll-wrapper > div {
    /*width: 23%;*/
    width: 45%;
    margin-left: 1%;
    height: 100%;
    display: inline-block;
    padding: 0 0.5%;
    /*border: 1px solid #ddd;*/
    background: #fff;
    box-shadow: 2px 2px 2px #ccc;
    padding-top: 10px;
    /*border-left: 5px solid #675765;*/
    /*border-radius: 5px;*/
    padding-bottom: 10px;
    max-height: 600px;
    transition: transform linear 0.2s;
}

.horizontal-scroll-wrapper > div .no-padding{
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.center-align{
    transform: translateY(0%);
}

.event-container-item {
    width: 23%;
    margin-left: 1%;
    /*float: left;*/
    position: relative;
    height: 100%;
    display: inline-block;
    /*padding: 0 0.5%;*/
    /*border: 1px solid #ddd;*/
    background: #fff;
    /*box-shadow: 2px 2px 2px #ccc;*/
    padding-top: 10px;
    /*border-left: 5px solid #675765;*/
    /*border-radius: 5px;*/
    /*padding-bottom: 10px;*/
    max-height: 600px;
    transition: transform linear 0.2s;
}

@media only screen and (min-width: 768px) {
    .horizontal-scroll-wrapper > div{
        width: 50%;
    }

    .res-div-temp {
        margin-left: 70px;
    }

    .res-div-tempGC {
        margin-left: 200px;
    }

    .res-div-tempGC1 {
        margin-left: 100px;
    }

    .res-div-temp2 {
        margin-top: 2%;
    }

    .buttonlink {
        background-color: transparent;
        color: black;
        float: left;
        cursor: pointer;
        padding: 20px 6px;
        font-size: 17px;
        width: 100%;
        font-weight: normal;
    }

    .imgdj{
        width: 350px;
        /*height: 400px;*/
    }



}

@media only screen and (min-width: 1024px) {
    .horizontal-scroll-wrapper > div{
        width: 32%;
    }

    .res-div-temp {
        margin-left: 100px;
    }

    .res-div-tempGC {
        margin-left: 300px;
    }

    .res-div-tempGC1 {
        margin-left: 150px;
    }

    .res-div-temp2 {
        margin-top: 2%;
    }

    .imgdj{
        width: 500px;
        /*height: 400px;*/
    }

}

@media only screen and (min-width: 300px) and (max-width:599px){
    .horizontal-scroll-wrapper > div{
        width: 70%;
    }

    .imgdjwebsite{
        width: 75px;
        height: 75px;
    }

    .imgdj{
        width: 350px;
        /*height: 400px;*/
    }

}


