.std-light-grey, .std-hover-light-grey:hover, .std-light-gray, .std-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.std-content {
    max-width: 980px;
    margin: auto
}

.std-row-padding, .std-row-padding > .std-half, .std-row-padding > .std-third, .std-row-padding > .std-twothird, .std-row-padding > .std-threequarter, .std-row-padding > .std-quarter, .std-row-padding > .std-col {
    padding: 0 8px
}

/* MODAL CSS */
/* The Modal (background) */
.modal-pod {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 400px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 2rem;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .textcontent{
        font-size: 20px;
    }
}

.mediabox {
    width: 100%; /* as I have set margin 2% then width of each mediabox will be (100-(2*2*3))/3 = 29.3 */
}

.mediabox:hover{
    box-shadow: 4px 4px 4px #ccc;
    transform: scale(1.1);
}

.prev-btn2, .next-btn2 {
    cursor: pointer;
    position: relative;
    top: 50%;
    padding: 16px;
    margin-top: -57%;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.8);
}

.prev-btn2{
    float: left;
}

.next-btn2{
    float: right;
}

/* Position the "next button" to the right */
.next-btn2{
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-btn2:hover, .next-btn2:hover {
    background-color: rgba(999,2,3,0.8);
}
