
.slideshow-container > .hero-text{
    transform: translate(-50%, -750%);
}

/* MODAL CSS */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.mediabox {
    width: 100%; /* as I have set margin 2% then width of each mediabox will be (100-(2*2*3))/3 = 29.3 */
}

.verticalscroll
{
    width: 100%;
    height: 280px;
    overflow-y: scroll;
    overflow-x:hidden;
}

.verticalscroll1
{
    padding-top: 30px;
    width: 100%;
    height: 280px;
    overflow-y: scroll;
    overflow-x:hidden;
}

.verticalscroll2
{
    padding-top: 30px;
    width: 100%;
    height: 280px;
    overflow-y: scroll;
    overflow-x:hidden;
}

.mediabox:hover{
    box-shadow: 4px 4px 4px #ccc;
    transform: scale(1.1);
}

@media only screen and (min-width: 768px) {
    .verticalscroll
    {
        height: 480px;
    }
    .verticalscroll1
    {
        height: 480px;
    }
    .verticalscroll2
    {
        height: 480px;
    }
}

.column {
    float: left;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
    height: 300px;
}

@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.slideshow-container1 {
    max-width: 100%;
    position: relative;
    width: 100%;
}

.slideshow-container2 {
    max-width: 100%;
    position: relative;
    width: 100%;
}

/* Next & previous buttons */
.prev-btnS1, .next-btnS1{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -43px;
    margin-left: -22rem;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.8);
}

/* Position the "next button" to the right */
.next-btnS1 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-btnS1:hover, .next-btnS1:hover{
    background-color: rgba(999,2,3,0.8);
}

.prev-btnS2, .next-btnS2{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -43px;
    margin-left: -25rem;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.8);
}

/* Position the "next button" to the right */
.next-btnS2 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-btnS2:hover, .next-btnS2:hover{
    background-color: rgba(999,2,3,0.8);
}

.slides1 > img{
    max-width: 70%;
    max-height: 70%;
}

/*@media only screen and (min-width: 768px){
    .prev-btnS1, .next-btnS1{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -43px;
        margin-left: -23rem;
        color: white;
        font-weight: bold;
        font-size: 25px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0,0,0,0.8);
    }
}

@media only screen and (min-width: 400px) and (max-width:599px){
    .prev-btnS1, .next-btnS1{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -43px;
        margin-left: -17rem;
        color: white;
        font-weight: bold;
        font-size: 25px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0,0,0,0.8);
    }
}*/


