
.hero-image > .hero-text {
    font-family: "Microsoft Sans Serif";
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    top:50%;
    background-color: black;
    opacity: 0.8;
}

.std-margin > .button{
    width: 100%;
    /*padding-left: 1%;*/
}

.aside-section{
    background-color: white;
    margin: 16px !important
}