
.hero-image > .hero-text {
    font-family: "Microsoft Sans Serif";
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    top:50%;
    background-color: black;
    opacity: 0.8;
}

.std-margin > .button{
    width: 100%;
    /*padding-left: 1%;*/
}

.aside-section{
    background-color: white;
    margin: 16px !important
}

td{
    font-size: larger;
}

.menu-item {
background-color: lightgrey;
border-left: 6px solid slategrey;
margin-bottom: 1%;
width: 47%;
margin-left: 1%;
float: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald"
}

body {
    font-family: "Open Sans"
}

.mySlides {
    display: none
}

.std-left, .std-right, .std-badge {
    cursor: pointer
}

.std-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

/* MODAL CSS */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 400px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.prev-btn2, .next-btn2 {
    cursor: pointer;
    position: relative;
    top: 50%;
    padding: 16px;
    margin-top: -45%;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.8);
}

.prev-btn2{
    float: left;
}

.next-btn2{
    float: right;
}

.next-btn2{
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-btn2:hover, .next-btn2:hover {
    background-color: rgba(999,2,3,0.8);
}