
.imgg {
    -webkit-filter: grayscale(100%);  /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.imgdiv1 {
    float: left;
}

.horizontal-scroll-wrapper {
    overflow: auto;
    width: 90%;
    margin: 0 auto;
    padding: 1%;
    white-space: nowrap;
}

.horizontal-scroll-wrapper > div {
    /*width: 23%;*/
    width: 45%;
    margin-left: 1%;
    height: 100%;
    display: inline-block;
    padding: 0 0.5%;
    /*border: 1px solid #ddd;*/
    background: #fff;
    box-shadow: 2px 2px 2px #ccc;
    padding-top: 10px;
    /*border-left: 5px solid #675765;*/
    /*border-radius: 5px;*/
    padding-bottom: 10px;
    max-height: 600px;
    transition: transform linear 0.2s;
}

.horizontal-scroll-wrapper > div .no-padding{
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.center-align{
    transform: translateY(0%);
}

.event-container-item {
    width: 23%;
    margin-left: 1%;
    /*float: left;*/
    position: relative;
    height: 100%;
    display: inline-block;
    /*padding: 0 0.5%;*/
    /*border: 1px solid #ddd;*/
    background: #fff;
    /*box-shadow: 2px 2px 2px #ccc;*/
    padding-top: 10px;
    /*border-left: 5px solid #675765;*/
    /*border-radius: 5px;*/
    /*padding-bottom: 10px;*/
    max-height: 600px;
    transition: transform linear 0.2s;
}

/*.horizontal-scroll-wrapper > div:hover {*/
    /*box-shadow: 4px 4px 4px #ccc;*/
    /*transform: scale(1.1);*/
/*}*/

.image {
    opacity: 1;
    display: block;
    outline: 3px solid white;
    outline-offset: -25px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-color: transparent;
    border-style: solid;
    background-position: center;
    background-repeat: no-repeat;
}
.imageE {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    border-color: transparent;
    border-style: solid;
    background-position: center;
    background-repeat: no-repeat;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.imgdiv1:hover .image {
    opacity: 0.7;
}
.imgdiv1:hover .imageE {
    opacity: 0.7;
}

.imgdiv1:hover .middle {
    opacity: 1;
}

.text {
    /*background-color: #00B7FF;*/
    line-height: 1.2;
    transform: translate(-50%, -20%);
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    padding: 16px 32px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    color: rgb(255, 255, 255);
}

/* MODAL CSS */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 400px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.mediabox {
    /*float: left;*/
    /*width: 100%; !* as I have set margin 2% then width of each mediabox will be (100-(2*2*3))/3 = 29.3 *!*/
    background: #fff;
}

.mediabox:hover{
    box-shadow: 4px 4px 4px #ccc;
    transform: scale(1.1);
}
.mediabox img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.mediabox:hover img{
    box-shadow: 2px 2px 3px #ccc;
}

.mediabox h3 {
    color: #47a3da;
    margin: 0.75em 0 0.5em;
}

.mediabox p {
    padding: 0 0 1em 0;
    margin: 0;
    color: #555;
    line-height: 1.3;
}

.mediaback {
    float: left;
    width: 100%; /* as I have set margin 2% then width of each mediabox will be (100-(2*2*3))/3 = 29.3 */
    background: #fff;
    outline: 3px solid white;
    outline-offset: -1rem;
}

/*.mediaback:hover{*/
    /*box-shadow: 4px 4px 4px #ccc;*/
    /*transform: scale(1.1);*/
/*}*/

.mediaback:hover .hero-sub-text{
    box-shadow: 4px 4px 4px #ccc;
    transform: scale(1.1);
    position: absolute;
    font-size: 30px;
}
.mediaback img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.mediaback:hover img{
    box-shadow: 2px 2px 3px #ccc;
}

.mediaback h3 {
    color: #47a3da;
    margin: 0.75em 0 0.5em;
}

.mediaback p {
    padding: 0 0 1em 0;
    margin: 0;
    color: #555;
    line-height: 1.3;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.75;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}


.container {
    position: relative;
    width: 100%;
}

.event-container-item:hover .overlay {
    bottom: 0;
    height: 100%;
}

.underlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.75;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.event-container-item:hover .underlay {
    height: 100%;
}


.txt {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


@media only screen and (min-width: 768px) {
    .res-div-temp {
        margin-top: 5%;
    }
    .res-div2-temp {
        margin-top: 5%;
    }

    .horizontal-scroll-wrapper > div{
        width: 23%;
    }
}

div.show-image {
    position: relative;
    float:left;
    margin:5px;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover input {
    display: block;
}
div.show-image input {
    position:absolute;
    display:none;
}
div.show-image input.update {
    bottom: 15px;
    height: 50px;
    right: 0;
    margin-right: 40px;
    margin-bottom: 15px;
    background-color: orange;
    font-family: 'Times New Roman'
}
div.show-image input.delete {
    top:0;
    left:79%;
}

@media screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }

    .event-container-item {
        width: 50%;
    }
}