<!DOCTYPE html>
<html>
<title>std.CSS Template</title>
<head>
</head>
<body class="std-light-grey">

<!-- Modal content -->
<div class="std-section-fullWidth std-modal-content">
    <div class="std-close std-top-row" style="float: right; padding: 0 1%; background-color: white">&times;</div>
    <div class="std-col-12" style="float: left">
        <h5>Lets get in touch. Send us a message:</h5>
        <form action="/action_page.php" target="_blank">
            <p><input type="text" placeholder="Name" required name="Name"></p>
            <p><input type="text" placeholder="Email" required name="Email"></p>
            <p><input type="text" placeholder="Subject" required name="Subject"></p>
            <p><input type="text" placeholder="Message" required name="Message"></p>
            <p>
                <button type="submit">
                    SEND MESSAGE
                </button>
            </p>
        </form>
    </div>
</div>


</body>
</html>