<!DOCTYPE html>
<html>
<title>std.CSS Template</title>
<head>
</head>
<body class="std-light-grey">

<!-- Modal content -->
<div class="std-section-fullWidth std-modal-content">
    <div class="std-close std-top-row" style="float: right; padding: 0 1%; background-color: white">&times;</div>
    <div class="std-col-12" style="float: left">
        <div class="std-col-3 std-col-t-3">
            <div class="eduLogo">
                <picture>
                    <source srcset="/images/avatar.jpg" media="(max-width: 1024px)">
                    <source srcset="/images/acetLogo.jpg">
                    <img src="/images/acetLogo.jpg" alt="Image">
                </picture>
            </div>
            <div>
                <ul>
                    <li><h4>Address</h4></li>
                    <p>3 Kms from Sasni Gate on Mathura Road, Aligarh, Uttar Pradesh, India PIN - 202001</p>
                    <li><h4>Contact</h4></li>
                    <p>+91-9568200010</p>
                    <p>mail@acetup.org</p>
                    <li><h4>Connect With Us</h4></li>
                    <div class="std-col-12">
                        <div class="std-col-2">
                            <a href="http://www.facebook.com/acet109">
                                <img src="/images/brandLogo/facebook-logo.png">
                            </a>
                        </div>
                        <div class="std-col-2">
                            <a href="https://twitter.com/acetup">
                                <img src="/images/brandLogo/twitter-logo.png">
                            </a>
                        </div>
                        <div class="std-col-2">
                            <a href="#">
                                <img src="/images/brandLogo/linkedin-1-logo.png">
                            </a>
                        </div>
                        <div class="std-col-2" style="padding: auto 0">
                            <a href="https://www.youtube.com/">
                                <img src="/images/brandLogo/youtube-1-logo.png">
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="std-col-6 std-col-t-9">
            <div>
                <h1>Aligarh College Of Engineering & Technology</h1>
                <h4>Approved by AICTE,New Delhi, Affiliated to AKTU,Lucknow (College Code-109)</h4>
                <h3>Join Our College</h3>
                <p>Aligarh College of Engineering & Technology is one of the premier Institutions in the field of Technical
                    and Management Education. It has been formed by Jawahar Vidyalay Society on no profit basis with a
                    firm determination and commitment to foster a holistic approach towards the development of Engineering and
                    Management Education. The Trust was formed in the year 2000 and the Institute was established in the year 2001.
                </p>
            </div>
            <div class="std-col-12">
                <button class="std-accordion">Courses Offered</button>
                <div class="std-panel">
                    <div class="std-col-12">
                        <div class="std-col-3">
                            <div class="thumbnail"><img src="/images/brandLogo/home-icon-logo.png"></div>
                            <p>COMPUTER SCIENCE & ENGINEERING</p>
                        </div>
                        <div class="std-col-3">
                            <div class="thumbnail"><img src="/images/brandLogo/home-icon-logo.png"></div>
                            <p>ELECTRONICS & COMMUNICATION ENGINEERING</p>
                        </div>
                        <div class="std-col-3">
                            <div class="thumbnail"><img src="/images/brandLogo/home-icon-logo.png"></div>
                            <p>MECHANICAL ENGINEERING</p>
                        </div>
                        <div class="std-col-3">
                            <div class="thumbnail"><img src="/images/brandLogo/home-icon-logo.png"></div>
                            <p>INFORMATION TECHNOLOGY</p>
                        </div>
                    </div>
                    <div class="std-col-12">
                        <div class="std-col-3">
                            <div class="thumbnail"><img src="/images/brandLogo/home-icon-logo.png"></div>
                            <p>CIVIL ENGINEERING</p>
                        </div>
                        <div class="std-col-3">
                            <div class="thumbnail"><img src="/images/brandLogo/home-icon-logo.png"></div>
                            <p>AGRICULTURAL ENGINEERING</p>
                        </div>
                        <div class="std-col-3">
                            <div class="thumbnail"><img src="/images/brandLogo/home-icon-logo.png"></div>
                            <p>MASTER IN COMPUTER APPLICATION</p>
                        </div>
                        <div class="std-col-3">
                            <div class="thumbnail"><img src="/images/brandLogo/home-icon-logo.png"></div>
                            <p>MASTER OF BUSINESS ADMINISTRATION</p>
                        </div>
                    </div>
                    <div class="std-col-12">
                        <div class="std-col-3">
                            <div class="thumbnail"><img src="/images/brandLogo/home-icon-logo.png"></div>
                            <p>BBA & BCA</p>
                        </div>
                    </div>
                </div>
                <button class="std-accordion">Mission & Vision</button>
                <div class="std-panel">
                    <h4>Inspiring value based education and development of students to let them face the challenges of
                        global market with confidence.</h4>
                    <hr>
                    <h4>To prepare students for higher level of education in Engineering, Technology and Sciences so
                        that they become competent, creative and imaginative professionals. To develop ACET into an Institute
                        of excellence for imparting education in modern subjects with special emphasis
                        on personality development.</h4>
                </div>
                <button class="std-accordion">Eligibility Criteria</button>
                <div class="std-panel">
                    <h4>B.Tech</h4>
                    <h5>10 + 2 Examination with Physics and Maths as compulsory subjects along with one subject
                        Chemistry / Bio-Technology / Computer Science / Biology with minimum 50% and UPSEE / AIEEE qualified.</h5>
                    <hr>
                    <h4>MBA</h4>
                    <h5>Bachelor’s Degree from recognized university with minimum 50% marks or UPSEE / CAT / MAT qualified.</h5>
                    <hr>
                    <h4>MCA</h4>
                    <h5>Bachelor’s Degree of minimum 3 years duration from a recognized university in any discipline
                        with minimum 50% marks. (Mathematics at 10 + 2 School level or Graduation level is compulsory) or
                        UPSEE qualified. The admissions under management seats/direct admission for B.Tech., MBA & MCA will
                        be based on directions given by AKTU.</h5>
                    <hr>
                </div>
            </div>
            <div class="std-col-12">
                <h2>PLACEMENT PARTNERS</h2>
                <div class="carouselbox">
                    <div class="std-carousel-buttons">
                        <button class="prev">
                            ◀ <span class="offscreen">Previous</span>
                        </button>
                        <button class="next" style="float: right">
                            <span class="offscreen">Next</span> ▶
                        </button>
                    </div>
                    <ol class="content std-col-12">
                        <li class="current">
                            <div class="std-col-2">
                                <img src="/images/brandLogo/amazon-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/apple-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/att-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/bmw-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/ford-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/google-logo.jpg">
                            </div>
                        </li>
                        <li>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/hitachi-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/honda-motor-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/hp-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/hyundai-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/ibm-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/intel-logo.jpg">
                            </div>
                        </li>
                        <li>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/johnson-and-johnson-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/microsoft-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/mitsubishi-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/nestle-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/nissan-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/panasonic-logo.jpg">
                            </div>
                        </li>
                        <li>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/pepsi-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/procter-gamble-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/reliance-industries-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/samsung-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/sony-logo.jpg">
                            </div>
                            <div class="std-col-2">
                                <img src="/images/brandLogo/walmart-logo.jpg">
                        </li>
                    </ol>

                </div>
            </div>
        </div>
        <div class="std-col-3 std-col-t-12">
            <div class="aside">
                <h3>Photos</h3>
                <hr>
                <picture>
                    <source srcset="/images/study/acet.jpg" media="(max-width: 1024px)">
                    <source srcset="/images/study/acet.jpg">
                    <img src="/images/study/acet.jpg" alt="Image">
                </picture>
                <hr>
                <picture>
                    <source srcset="/images/study/acetlogo.jpg" media="(max-width: 1024px)">
                    <source srcset="/images/study/acetlogo.jpg">
                    <img src="/images/study/acetlogo.jpg" alt="Image">
                </picture>
            </div>
        </div>
    </div>
</div>


</body>
</html>