<!DOCTYPE html>
<html>
<title>std.CSS Template</title>
<head>
</head>
<body class="std-light-grey">

<!-- Modal content -->
<div class="std-section-fullWidth std-modal-content">
    <div class="std-close std-top-row" style="float: right; padding: 0 1%; background-color: white">&times;</div>
    <div class="std-col-12" style="float: left">
        <div class="std-col-3 std-col-t-3">
            <div class="eduLogo">
                <picture>
                    <source srcset="/images/study/DPS-Logo.png" media="(max-width: 1024px)">
                    <source srcset="/images/study/DPS-Logo.png">
                    <img src="/images/study/DPS-Logo.png" alt="Image">
                </picture>
            </div>
            <div>
                <ul>
                    <li><h4>Address</h4></li>
                    <p>Agra Highway, Near Teerthdham Manglayatan, Aligarh, Uttar Pradesh, India PIN - 202001</p>
                    <li><h4>Contact</h4></li>
                    <p>+91-8006409335</p>
                    <p>info@dpsaligarh.org</p>
                    <li><h4>Connect With Us</h4></li>
                    <div class="std-col-12">
                        <div class="std-col-2">
                            <a href="http://www.facebook.com/acet109">
                                <img src="/images/brandLogo/facebook-logo.png">
                            </a>
                        </div>
                        <div class="std-col-2">
                            <a href="https://twitter.com/acetup">
                                <img src="/images/brandLogo/twitter-logo.png">
                            </a>
                        </div>
                        <div class="std-col-2">
                            <a href="#">
                                <img src="/images/brandLogo/linkedin-1-logo.png">
                            </a>
                        </div>
                        <div class="std-col-2" style="padding: auto 0">
                            <a href="https://www.youtube.com/">
                                <img src="/images/brandLogo/youtube-1-logo.png">
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="std-col-6 std-col-t-9">
            <div>
                <h1>Delhi Public School</h1>
                <h4>We Believe in the Power of Your Dreams</h4>
                <h3>Join Our School</h3>
                <p>Delhi public school was founded in 1998 with the objective of offering global standard of education,
                    a dream visualized by Shri Pawan Jain, the Chairman of Pavna Group.
                    DPS is dedicated to provide the blend of both thought and action. DPS Aligarh’s endeavours to build
                    up an ambience of reverence for education and a healthy environment have brought the school among
                    the best schools in India.
                </p>
            </div>
            <div class="std-col-12">
                <button class="std-accordion">School Branches</button>
                <div class="std-panel">
                    <div class="std-col-12">
                        <div class="std-col-3">
                            <div class="thumbnail"><img src="/images/brandLogo/home-icon-logo.png"></div>
                            <p>Delhi public school - Junior wing</p>
                        </div>
                        <div class="std-col-3">
                            <div class="thumbnail"><img src="/images/brandLogo/home-icon-logo.png"></div>
                            <p>Delhi public school - Senior wing</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="std-col-12">
                <button class="std-accordion">School Website Link</button>
                <div class="std-panel">
                    <div class="std-col-12">
                        <div class="std-col-3">
                            <div class="thumbnail" onclick="window.open('http://www.dpsaligarh.org/')">
                                <img src="/images/brandLogo/home-icon-logo.png"></div>
                            <p>Delhi public school</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="std-col-3 std-col-t-12">
            <div class="aside">
                <h3>Photos</h3>
                <hr>
                <picture>
                    <source srcset="/images/study/dps1.png" media="(max-width: 1024px)">
                    <source srcset="/images/study/dps1.png">
                    <img src="/images/study/dps1.png" alt="Image">
                </picture>
                <hr>
                <picture>
                    <source srcset="/images/study/dps2.jpg" media="(max-width: 1024px)">
                    <source srcset="/images/study/dps2.jpg">
                    <img src="/images/study/dps2.jpg" alt="Image">
                </picture>
            </div>
        </div>
    </div>
</div>


</body>
</html>