<!DOCTYPE html>
<html>
<title>std.CSS Template</title>
<link rel="stylesheet" href="/stylesheets/standards.css">
<head>
</head>
<body class="std-light-grey">

<!-- Modal content -->
<div class="std-section-fullWidth std-modal-content">
    <div class="std-close std-top-row" style="float: right; padding: 0 1%; background-color: white">&times;</div>
    <div class="std-col-12" style="float: left">
        <div class="std-col-3 std-col-t-3" style="width: 30%">
            <div class="eduLogo">
                <picture>
                    <source srcset="/images/palmtree.jpg" media="(max-width: 1024px)">
                    <source srcset="/images/palmtree.jpg">
                    <img src="/images/palmtree.jpg" alt="Image">
                </picture>
            </div>
            <div style="border: groove;">
                <div>
                    <div class="std-top-row" style="background-color: black; color: white">
                        <h4>Hotel Location</h4>
                    </div>
                    <div id="googleMap" style="width:100%;height:200px;"></div>
                </div>

                <div>
                    <ul>
                        <div class="std-container std-padding std-black"
                             style="margin-top: 4%; background-color: black; color: white;">
                            <h4>Address</h4>
                        </div>
                        <p>3/291, Marris Road, Opp. Income Tax Office,
                            Civil Lines, Aligarh</p>
                        <div class="std-container std-padding std-black"
                             style="margin-top: 4%; background-color: black; color: white;">
                            <h4>Contact</h4>
                        </div>
                        <p>+91 9756207353, 8171956423 / 26</p>
                        <p>email@palmtreealigarh.com, reservation@palmtreealigarh.com</p>
                    </ul>
                </div>
            </div>
            <div class="std-col-12">
                <div class="std-container std-padding std-black"
                     style="margin-top: 4%; background-color: black; color: white;">
                    <h4>Connect With Us</h4>
                </div>
                <div class="std-col-2">
                    <a href="https://www.facebook.com/HotelPalmTree/"  target="_blank">
                        <img src="/images/brandLogo/facebook-logo.png">
                    </a>
                </div>
                <div class="std-col-2">
                    <a href="https://twitter.com/" target="_blank">
                    <img src="/images/brandLogo/twitter-logo.png">
                    </a>
                </div>
                <div class="std-col-2">
                    <a href="https://www.instagram.com/" target="_blank">
                    <img src="/images/brandLogo/instagram-logo.png">
                    </a>
                </div>
                <div class="std-col-2">
                    <a href="http://palmtreealigarh.com/"  target="_blank">
                        <img src="/images/website.png">
                    </a>
                </div>
                <div class="std-col-2" style="padding: auto 0">
                    <a href="https://www.youtube.com/" target="_blank">
                        <img src="/images/brandLogo/youtube-1-logo.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="std-col-6 std-col-t-9" style="width: 70%">
            <div>
                <div class="std-top-row" style="background-color: black; color: white">
                    <h4>Palm Tree Hotel</h4>
                </div>
                <h3>FOR BEST STAY</h3>
                <p>If you're looking for is a conveniently located hotel in Aligarh look no further than "Palm Tree",
                    situated only 10 min comfortable drive from Railway station.
                    Guests are well located to enjoy the town's world fame university the "A.M.U".
                    It is well connected to the Industrial areas as well as 2 min drive to the main market.
                </p>

                <hr>
                <div class="std-top-row" style="background-color: black; color: white">
                    <h4>Rooms</h4>
                    <div class="std-section-bleed" style="max-width:100%">
                        <img class="mySlides" src="images/room1.jpg" style="width:100%">
                        <img class="mySlides" src="images/room2.jpg" style="width:100%">
                        <img class="mySlides" src="images/room3.jpg" style="width:100%">
                        <img class="mySlides" src="images/room4.jpg" style="width:100%">
                        <img class="mySlides" src="images/room5.jpg" style="width:100%">
                    </div>

                </div>
                <hr>
                <!--<div class="std-container std-padding std-black"-->
                     <!--style="margin-top: 4%; background-color: black; color: white;">-->
                    <!--<h4>Attration</h4>-->
                <!--</div>-->

                <!--<div>-->
                    <!--<h1>PALM SKY , THE TERRACE GARDEN</h1>-->
                    <!--<hr>-->
                    <!--&lt;!&ndash;<div class="std-top-row" style="background-color: black; color: white">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h4>Rooms</h4>&ndash;&gt;-->
                    <!--<div class="std-section-bleed" style="max-width:100%">-->
                        <!--<img class="mySlides" src="images/palmsky1.jpg" style="width:100%">-->
                        <!--<img class="mySlides" src="images/palmsky2.jpg" style="width:100%">-->
                        <!--<img class="mySlides" src="images/palmsky3.jpg" style="width:100%">-->
                        <!--<img class="mySlides" src="images/palmsky4.jpg" style="width:100%">-->
                        <!--<img class="mySlides" src="images/palmsky5.jpg" style="width:100%">-->
                    <!--</div>-->
                <!--</div>-->


            </div>
        </div>
        <!-- <div class="std-col-3 std-col-t-12">
             <div class="aside">
                 <div class="std-white std-margin">
                     <div class="std-container std-padding std-black">
                         <h4>Hotel Location</h4>
                     </div>
                     <div id="googleMap" style="width:100%;height:200px;"></div>
                 </div>

                 <hr>
                 <div class="std-container std-padding std-black">
                     <h4>Rooms</h4>
                     <div class="w3-content w3-section" style="max-width:500px">
                         <img class="mySlides" src="images/room1.jpg" style="width:100%">
                         <img class="mySlides" src="images/room5.jpg" style="width:100%">
                         <img class="mySlides" src="images/room2.jpg" style="width:100%">
                         <img class="mySlides" src="images/room4.jpg" style="width:100%">
                     </div>

                 </div>

                 &lt;!&ndash;<picture>&ndash;&gt;
                 &lt;!&ndash;<source srcset="/images/brandLogo/school-logo.png" media="(max-width: 1024px)">&ndash;&gt;
                 &lt;!&ndash;<source srcset="/images/brandLogo/school-logo.png">&ndash;&gt;
                 &lt;!&ndash;<img src="/images/brandLogo/school-logo.png" alt="Image">&ndash;&gt;
                 &lt;!&ndash;</picture>&ndash;&gt;
             </div>
         </div>-->
    </div>
</div>

</body>
</html>