<!DOCTYPE html>
<html>
<title>std.CSS Template</title>
<link rel="stylesheet" href="/stylesheets/standards.css">
<head>
    <style>

        @media only screen and (max-width: 500px){
            .std-col-p-3 {width: 100%;}
        }
        @media only screen and (min-width: 1500px) {

            .std-col-t-9 {width: 70%}
        }
    </style>
</head>
<body class="std-light-grey">

<!-- Modal content -->
<div class="std-section-fullWidth std-modal-content">
    <div class="std-close std-top-row" style="float: right; padding: 0 1%; background-color: white">&times;</div>
    <div class="std-col-12" style="float: left">
        <div class="std-col-3 std-col-t-3 std-col-p-3" >
            <div class="eduLogo">
                <picture>
                    <source srcset="/images/palmtree.jpg" media="(max-width: 1024px)">
                    <source srcset="/images/palmtree.jpg">
                    <img src="/images/palmtree.jpg" alt="Image">
                </picture>
            </div>
            <div style="border: groove;">
                <div>
                    <div class="std-top-row" style="background-color: black; color: white">
                        <h4>Hotel Location</h4>
                    </div>
                    <div id="googleMap" style="width:100%;height:200px;"></div>
                </div>

                <div>
                    <ul>
                        <div class="std-container std-padding std-black"
                             style="margin-top: 4%; background-color: black; color: white;">
                            <h4>Address</h4>
                        </div>
                        <p>3/291, Marris Road, Opp. Income Tax Office,
                            Civil Lines, Aligarh</p>
                        <div class="std-container std-padding std-black"
                             style="margin-top: 4%; background-color: black; color: white;">
                            <h4>Contact</h4>
                        </div>
                        <p>+91 9756207353, 8171956423 / 26</p>
                        <p>email@palmtreealigarh.com, reservation@palmtreealigarh.com</p>
                    </ul>
                </div>
            </div>
            <div class="std-col-12">
                <div class="std-container std-padding std-black"
                     style="margin-top: 4%; background-color: black; color: white;">
                    <h4>Connect With Us</h4>
                </div>
                <div class="std-col-2">
                    <a href="https://www.facebook.com/HotelPalmTree/"  target="_blank">
                        <img src="/images/brandLogo/facebook-logo.png">
                    </a>
                </div>
                <div class="std-col-2">
                    <a href="https://twitter.com/" target="_blank">
                    <img src="/images/brandLogo/twitter-logo.png">
                    </a>
                </div>
                <!--<div class="std-col-2">
                    <a href="https://www.instagram.com/" target="_blank">
                    <img src="/images/brandLogo/instagram-logo.png">
                    </a>
                </div>-->
                <div class="std-col-2">
                    <a href="http://palmtreealigarh.com/"  target="_blank">
                        <img src="/images/website.png">
                    </a>
                </div>
                <div class="std-col-2" style="padding: auto 0">
                    <a href="https://www.youtube.com/" target="_blank">
                        <img src="/images/brandLogo/youtube-1-logo.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="std-col-9 std-col-t-9 std-col-p-3" >
            <div>
                <div class="std-top-row" style="background-color: black; color: white">
                    <h4>Palm Tree Hotel</h4>
                </div>
                <h3>FOR BEST STAY</h3>
                <p>If you're looking for is a conveniently located hotel in Aligarh look no further than "Palm Tree",
                    situated only 10 min comfortable drive from Railway station.
                    Guests are well located to enjoy the town's world fame university the "A.M.U".
                    It is well connected to the Industrial areas as well as 2 min drive to the main market.
                </p>

                <hr>
                <div class="std-top-row" style="background-color: black; color: white">
                    <h4>Rooms</h4>
                    <div>
                        <img class="mySlidespm" src="images/room1.jpg">
                        <img class="mySlidespm" src="images/room2.jpg">
                        <img class="mySlidespm" src="images/room3.jpg">
                        <img class="mySlidespm" src="images/room4.jpg">
                        <img class="mySlidespm" src="images/room5.jpg">
                        <button class="btn" id="btn1" onclick="plusDivspm(-1)">&#10094;</button>
                        <button class="btn" id="btn2" onclick="plusDivspm(1)">&#10095;</button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<script>
    var slideIndexpm = 1;
    showDivspm(slideIndexpm);

    function plusDivspm(n) {
        showDivspm(slideIndexpm += n);
    }

    function showDivspm(n) {
        var i;
        var x = document.getElementsByClassName("mySlidespm");
        if (n > x.length) {slideIndexpm = 1}
        if (n < 1) {slideIndexpm = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndexpm-1].style.display = "block";
    }
</script>
</body>
</html>