<!DOCTYPE html>
<html>
<title>std.CSS Template</title>
<link rel="stylesheet" href="/stylesheets/standards.css">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67859015-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-67859015-2');
    </script>

    <style>

        @media only screen and (max-width: 500px){
 .std-col-p-3 {width: 100%;}
        }
        @media only screen and (min-width: 1500px) {

           .std-col-t-9 {width: 70%}
        }
    </style>
</head>
<body class="std-light-grey">

<!-- Modal content -->
<div class="std-section-fullWidth std-modal-content">
    <div class="std-close std-top-row" style="float: right; padding: 0 1%; background-color: white">&times;</div>
    <div class="std-col-12" style="float: left">
        <div class="std-col-3 std-col-t-3 std-col-p-3">
            <div class="eduLogo">
                <picture>
                    <source srcset="/images/melroseinn.jpg" media="(max-width: 1024px)">
                    <source srcset="/images/melroseinn.jpg">
                    <img class="std-col-p-3" src="/images/melroseinn.jpg" alt="Image">
                </picture>
            </div>

            <div class="aside" style="height: 100%;">
                <div>
                    <div class="std-top-row" style="background-color: black; color: white">
                        <h4>Hotel Location</h4>
                    </div>
                    <div id="map" style="width:100%;height:200px;"></div>
                </div>

                <div>
                    <ul>
                        <div class="std-container std-padding std-black"
                             style="margin-top: 4%; background-color: black; color: white;">
                        <h4>Address</h4>
                        </div>
                        <p>Marris Road, Aligarh 202001, India</p>
                        <div class="std-container std-padding std-black"
                             style="margin-top: 4%; background-color: black; color: white;">
                        <h4>Contact</h4>
                        </div>
                        <p>+91 9927036828 , 9927036668 , 9927030772</p>
                        <p>info@hotelmelroseinn.com</p>
                    </ul>
                </div>
            </div>
            <div class="std-col-12">
                <div class="std-container std-padding std-black"
                     style="margin-top: 4%; background-color: black; color: white;">
                        <h4>Connect With Us</h4>
                </div>
                <div class="std-col-2">
                    <a href="https://www.facebook.com/hotelmeroseinn/" target="_blank">
                        <img src="/images/brandLogo/facebook-logo.png">
                    </a>
                </div>
                <div class="std-col-2">
                    <a href="https://twitter.com/" target="_blank">
                    <img src="/images/brandLogo/twitter-logo.png">
                    </a>
                    </div>
               <!-- <div class="std-col-2">
                    <a href="https://www.instagram.com/"  target="_blank">
                    <img src="/images/brandLogo/instagram-logo.png">
                    </a>
                    </a></div>-->
                <div class="std-col-2">
                    <a href="http://hotelmelroseinn.com/"  target="_blank">
                        <img src="/images/website.png">
                    </a>
                </div>
                <div class="std-col-2" style="padding: auto 0">
                    <a href="https://www.youtube.com/"  target="_blank">
                        <img src="/images/brandLogo/youtube-1-logo.png">
                    </a>
                </div>

            </div>
        </div>
        <div class="std-col-9 std-col-t-9 std-col-p-3" >
            <div>
                <div class="std-top-row" style="background-color: black; color: white">
                    <h4>Hotel Melrose-Inn</h4>
                </div>
                <h3>FOR BEST STAY</h3>
                <p>HOTEL MELROSE INN is the finest Hotels in Aligarh and has been a landmark in the city since 2006.
                    Located at the city center, Hotel Melrose Inn is merely 5 minute drive from the railway station and
                    15 minute drive from the exhibition ground.
                    Hotel Melrose Inn is the first hotel that reflects the city’s spirit in a harmonious blend of tradition and
                    contemporary sophistication. It’s exquisite interiors, impeccable service and fine cuisine combine to make it
                    amongst the most graceful and elegant downtown hotel in Aligarh.It is ideal for the leisure travellers,
                    comfort loving people, and perfect for private companies holding their conference meeting and parties.
                </p>

                <hr>
                <div class="std-top-row" style="background-color: black; color: white">
                    <h4>Rooms</h4>
                    <div>
                        <img class="mySlides" src="images/room1.jpg">
                        <img class="mySlides" src="images/room2.jpg">
                        <img class="mySlides" src="images/room3.jpg">
                        <img class="mySlides" src="images/room4.jpg">
                        <img class="mySlides" src="images/room5.jpg">
                        <button class="btn" id="btn1" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="btn" id="btn2" onclick="plusDivs(1)">&#10095;</button>
                    </div>
                </div>
                <hr>

            </div>
        </div>
    </div>
</div>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }
</script>

</body>
</html>