<!DOCTYPE html>
<html>
<body>
<footer class="footer">
    <div class="footer-content" style="background-color: black;height: 60px; width: 100%;padding-top: 20px; padding-bottom: 20px">
        <a style="color: white;border: none; float: left; margin-right: 50px; margin-left: 20px" href="#" title="About Us" >About Us</a>
        <a style="color: white;border: none; float: left; margin-right: 50px" href="#" title="pp" >Private Policy</a>
        <a style="color: white;border: none; float: left; margin-right: 50px" href="#" title="Advertise" >Advertise</a>
    </div>
</footer>
</body>
</html>