<!DOCTYPE html>
<html>
<body>
<footer class="footer">
    <div class="footer-content" style="background-color: black;height: 450px; width: 1465px">
        <a style="color: white;border: none;" href="#" title="About Us" >About Us</a>
        <a style="color: white;border: none;" href="#" title="pp" >Private Policy</a>
        <a style="color: white;border: none;" href="#" title="Advertise" >Advertise</a>
    </div>
</footer>
</body>
</html>