<!DOCTYPE html>
<html>
  <table width="100%">
  	<tr width="100%">
  		<td width="100%">
  			<a style="color: black;border: none;" href="/">Home</a>|
  			<a style="color: black;border: none;" href="/about">About us</a>|
			<a style="color: black;border: none;" href="/admin">Admin</a>
  		</td>
  	</tr>
  </table>
</html>